{% load static %}
<table id='{{ id }}' class=' table table-hover '  >
   <thead>
     <tr>
        {% for col in columns %}
         <th>{{ col.title }}</th>
       {% endfor %}
     </tr>
   </thead>
   <tbody>

  </tbody>
</table>

{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript"src={% static 'js/osr_datatable_loader.js'%}></script>
<script type="text/javascript">
   $(document).ready(function() {
      osr_datatable_loader.init({
         id: "{{id}}",
         url: "{{url | safe }}",
         columns: {{ columns | safe}}
      })
   })
</script>
{% endblock %}