appdirs==1.4.0
bbcode==1.0.24
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.4.1
Django==1.11.5
django-allauth==0.30.0
django-annoying==0.10.3
django-appconf==1.0.2
django-bootstrap3==9.0.0
django-common-helpers==0.9.0
django-compressor==2.1.1
django-cron==0.5.0
django-debug-toolbar==1.8
django-el-pagination==3.1.0
django-haystack==2.6.0
django-machina==0.5.1
django-modelcluster==3.1
django-mptt==0.8.7
django-postman==3.5.1
django-taggit==0.22.1
django-treebeard==4.1.2
django-widget-tweaks==1.4.1
djangorestframework==3.6.4
gunicorn==19.6.0
html5lib==0.999999999
idna==2.6
markdown2==2.3.3
oauthlib==2.0.1
olefile==0.44
packaging==16.8
Pillow==4.2.1
psycopg2==2.6.2
puput==0.8
pybbm==0.18.4
pyparsing==2.1.10
python3-openid==3.0.10
pytz==2017.2
rcssmin==1.0.6
requests==2.18.4
requests-oauthlib==0.7.0
rjsmin==1.0.12
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.2.3
Unidecode==0.4.21
urllib3==1.22
wagtail==1.12.1
wagtailmenus==2.1.3
webencodings==0.5.1
Willow==0.4
