Cython==0.25.2
appdirs==1.4.3
beautifulsoup4==4.5.3
bitfield==1.32
defusedxml==0.5.0
Django==1.10.6
django-allauth==0.31.0
django-annoying==0.10.3
django-appconf==1.0.2
django-bootstrap3==8.2.1
django-common-helpers==0.9.0
django-compressor==2.1.1
django-cron==0.5.0
django-debug-toolbar==1.7
django-easy-timezones==0.8.0
django-el-pagination==3.0.1
django-filer==1.2.7
django-haystack==2.6.0
django-libs==1.67.12
django-machina==0.5.2
django-modelcluster==2.0
django-mptt==0.8.7
django-polymorphic==1.0.2
django-postman==3.5.1
django-taggit==0.18.3
django-treebeard==4.1.0
django-widget-tweaks==1.4.1
djangorestframework==3.5.4
easy-thumbnails==2.3
html5lib==0.999999999
icalendar==3.11.3
ipaddress==1.0.16
markdown2==2.3.3
oauthlib==2.0.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
puput==0.8
pygeoip==0.3.2
pyparsing==2.2.0
python-dateutil==2.6.0
python3-openid==3.1.0
pytz==2016.6
rcssmin==1.0.6
requests==2.13.0
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.2.3
Unidecode==0.4.20
wagtail==1.8.1
wagtailmenus==2.2.1
webencodings==0.5
Willow==0.4
