{% load calendar_tags %}

<div id="cal-modal" class="modal micromodal-slide" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">

      <header class="modal__header">
        <h2 class="modal__title" id="modal-title"></h2>
      </header>

      <main id="cal-modal-content" class="modal__content">
        <!-- Create game request -->
        <form id="modal-create-game-request" data-title='Create game request'>
        <div class="form-group">
          <h4 id="modal-date" class="modal__small__title"></h4>
          </div>
          <div class="form-group">
            <select id="modal-player" class="form-control" required>
              <option selected="selected" value="">select a player...</option>
            </select>
          </div>
          <div class="form-group">
            <select id="modal-divisions-select" class="form-control" multiple>
            </select>
          </div>
          {% checkbox label='Private' id='modal-private' checked=False %}
          <button type="reset" class="btn btn-default btn-block" data-micromodal-close>Cancel</button>
          <button type="submit" class="btn btn-primary btn-block">Send</button>
        </form>

         <!-- Cancel game appointment -->
        <form id="modal-cancel-game-appointment" data-title='Cancel game appointment ?'>
          <button type="reset" class="btn btn-primary btn-block" data-micromodal-close>No</button>
          <button type="submit" class="btn btn-danger btn-block">Yes</button>
        </form>

        <!-- Cancel game request -->
        <form id="modal-cancel-game-request" data-title='Cancel game request ?'>
          <button type="reset" class="btn btn-primary btn-block" data-micromodal-close>No</button>
          <button type="submit" class="btn btn-danger btn-block">Yes</button>
        </form>

        <!-- Accept game request -->
        <form id="modal-accept-game-request" data-title='Accept game request ?'>
          <button type="reset" class="btn btn-default btn-block" data-micromodal-close>Hum...</button>
          <button class="btn btn-danger btn-block" id="modal-accept-reject">No</button>
          <button class="btn btn-block btn-primary" id="modal-accept-confirm">Yes</button>
        </form>

      </main>
    </div>
  </div>
</div>
