<!-- Modals -->
<div id="game-request-modal" class="modal fade modeless" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="modal-title" class="modal-title"></h4>
      </div>
      <div id="modal-message" ></div>
      <div id="modal-body" class="modal-body">

      </div>
      <div id="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button id="send-game-request" type="button" class="btn btn-success modal-button" >Send game request</button>
        <button id="cancel-game-request" type="button" class="btn btn-success modal-button" >Cancel game request</button>
        <button id="reject-game-request" type="button" class="btn btn-warning modal-button" >Reject game request</button>
        <button id="accept-game-request" type="button" class="btn btn-success modal-button" >Accept game request</button>
        <button id="cancel-game" type="button" class="btn btn-success modal-button" >Cancel game appointment</button>
      </div>
    </div>

  </div>
</div>
