{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags static tz%}
{% block title %}OSR league admin - Events list{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>Events list</h1>
</div>
{%endblock%}

{% block content %}
<legend>
  Categories
  <a  href="{%url 'calendar:create_category'%}">
    <button class="btn btn-xs btn-success pull-right clearfix">
      {%bootstrap_icon 'plus'%} Create a new category
    </button>
  </a>
  </legend>

{% include 'fullcalendar/includes/admin_category_table.html' %}

<legend>
  Events
  <a  href="{%url 'calendar:create_cal_event'%}">
    <button class="btn btn-xs btn-success pull-right clearfix">
      {%bootstrap_icon 'plus'%} Create a new event
    </button>
  </a>
  </legend>

{% include 'fullcalendar/includes/admin_event_table.html' %}
{%endblock%}

{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>

<script type="text/javascript">
$(document).ready(function() {
$('#cal-event-table').DataTable({
  "bLengthChange": false ,"dom":'<"H"lr>ft<"F"ip>',
  "columnDefs": [ {
    targets: 1,
    render: $.fn.dataTable.render.moment( 'MMM DD, YYYY HH:mm','MMM DD, YYYY HH:mm' )
  } ],
  "order": [[ 1, "desc" ]]
});
} );
</script>
{% endblock %}
