{% extends "full_width.html" %}
{% load tz static%}

{% block extra_head_js %}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' />
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css' media='print' />
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/calendar.css'%}"/>

<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js'></script>

{% endblock %}
{% block title %}{% if user.is_authenticated %}My profile - {% endif %}Calendar{% endblock %}
{% block heading %}
{% get_current_timezone as TIME_ZONE %}
<div class="page-header">
    <h1>{% if user.is_authenticated %}My profile - {% endif %}Calendar ({{TIME_ZONE}})</h1>
</div>
{%endblock%}
{% block content %}
{% if user.is_authenticated %}
{% include 'league/includes/user_nav.html' %}
{% endif %}
<button class='btn btn-default' id='save'>save</button>
<div id='calendar'></div>
{% endblock %}

{% block extra_js %}
<script>
// we will do some ajax post request and hence we will need to grab csrf from cookie.
//https://docs.djangoproject.com/en/1.11/ref/csrf/#ajax
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
$.ajaxSetup({   headers: {  "X-CSRFToken": csrftoken  }  });
	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
      views: {
        month:{
          selectable:false,
        }
      },

			navLinks: true, // can click day/week names to navigate views
			editable: false,
			height: 'auto',
      allDaySlot:false,
      timeFormat: 'H:mm',
      {% if request.user.is_authenticated %}
      selectable:true,
      editable: true,
      selectHelper: true,
      //prevent user from selecting multiple day availability
      selectConstraint: {
        start: '00:00',
        end: '24:00',
      },
      //we don't want to me-available event overlaping
      selectOverlap: function(event) {
              return event.type != 'me-available';
          },
      eventOverlap: function(stillEvent, movingEvent) {
        return stillEvent.type != 'me-available';
      },
      //selecting will create an event saying use is available
      select: function(start, end) {
				var eventData;
				eventData = {
					title: 'I am available',
					start: start,
					end: end,
          type:'me-available',
          color: '#01DF3A',
          className :'me-available',
          is_new : true,


				};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true

				$('#calendar').fullCalendar('unselect');
			},
      {% endif %}


			events: [

				{% for event in cal_events %}
				{
				id : {{event.pk}},
				title : '{{event.title}}',
				start :'{{event.begin_time |date:"Y-m-d G:i:s"}}',
				end : '{{event.end_time |date:"Y-m-d G:i:s"}}',
        editable: false,
        is_new: false,
        {% if event.url %}
				url :'{{event.url}}',
				{% endif %}
				{%if event.type == 'division'%}
				rendering: 'background'
				{% endif %}
			},
				{% endfor %}
			],
      eventRender: function(event, element) {
        if (element.find(".fc-helper")){
          event.eventColor='#01DF3A';

        }
        //add a delete button to me-available events
        if (event.type === 'me-available'){
            element.find(".fc-content").prepend( "<span style='font-size:1.5em;'class='pull-right glyphicon glyphicon-remove-circle closeon' aria-hidden='true'></span>" );
            element.find(".closeon").click(function() {
              //if the event is not new, we have to create a deleted event to inform the server
              if (event.is_new != true){
                $('#calendar').fullCalendar( 'renderEvent',
                 {title: event._id,
                   start:event.start,
                   className :'event-deleted',

                 } ,
                 true  );

              }
               $('#calendar').fullCalendar('removeEvents',event._id);
            });

        }
      }
		});

    $("#save").click(function () {
      var eventsFromCalendar = $('#calendar').fullCalendar('clientEvents',function (event) {
                    return event.is_new == true;});
      //to render json from events objects list, we need to deal with circular relation
      //see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Cyclic_object_value
      seen = [];
      var json = JSON.stringify(eventsFromCalendar,function(key, val) {
          if (val != null && typeof val == "object") {
            if (seen.indexOf(val) >= 0) {
              return;
            }
            seen.push(val);
          }
          return val;
        });
        $.ajax({
                 type:"POST",
                 url:"{% url 'calendar:save'%}",
                 data: {
                        'events': json // from form
                        },
                 success: function(){
                     $('#message').html("<h2>Contact Form Submitted!</h2>")
                 }
            });
            return false; //<---- move it here
      });
	});

</script>
{% endblock %}
