{% extends "full_width.html" %}

{% block extra_head_js %}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' />
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css' media='print' />


<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js'></script>

{% endblock %}
{% block title %}{% if user.is_authenticated %}My profile - {% endif %}Calendar{% endblock %}
{% block heading %}
{% get_current_timezone as TIME_ZONE %}
<div class="page-header">
    <h1>{% if user.is_authenticated %}My profile - {% endif %}Calendar ({{TIME_ZONE}})</h1>
</div>
{%endblock%}
{% block content %}
{% if user.is_authenticated %}
{% include 'league/includes/user_nav.html' %}
{% endif %}
{% comment "don't show save button for now"%}
<div id='message'></div>

<button class='btn btn-default' id='save'>save</button>
{% endcomment %}

<div id='calendar'></div>
{% endblock %}


{% block extra_js %}
<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: '2017-05-12',
			navLinks: true, // can click day/week names to navigate views
			editable: false,
			height: 'auto',
      allDaySlot:false,
      timeFormat: 'H:mm',
      {% if request.user.is_authenticated and request.user.user_is_league_admin%}
      selectable:true,
      selectHelper: true,
      //prevent user from selecting multiple day availability
      selectConstraint: {
        start: '00:00',
        end: '24:00',
      },
      //we don't want to me-available event overlaping
      selectOverlap: function(event) {
              return event.type != 'me-available';
          },
      eventOverlap: function(stillEvent, movingEvent) {
        return stillEvent.type != 'me-available';
      },
      //selecting will create an event saying use is available
      select: function(start, end) {
				var eventData;
				eventData = {
					title: 'I am available',
					start: start,
					end: end,
          type:'me-available',
          color: '#01DF3A',
          className :'me-available',
          is_new : true,
          is_change:true,
          editable:true
				};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true

				$('#calendar').fullCalendar('unselect');

			},
				{% endfor %}
			],


		});
		$('#calendar').fullCalendar({
		    eventClick: function(event, element) {

		        event.title = "CLICKED!";

		        $('#calendar').fullCalendar('updateEvent', event);

		    }
		});
	});

</script>
{% endblock %}
