{% extends "full_width.html" %}
{% load tz static i18n %}

{% block extra_head_js %}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' />
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css' media='print' />
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/calendar.css'%}"/>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.css'/>
<script src='https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/locale-all.js'></script>

{% endblock %}
{% block title %}Calendar{% endblock %}
{% block heading %}
{% get_current_timezone as TIME_ZONE %}
<div class="page-header">
    <h1>Calendar ({{TIME_ZONE}})</h1>
</div>
{%endblock%}
{% block content %}
<div class= "row">
<div id='calendar'></div>
</div>
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}
{% block extra_js %}
<script src={%static 'fullcalendar/calendar_non_member.js'%}></script>

<script>
	$(document).ready(function() {
    load_calendar('{{LANGUAGE_CODE}}')
});// document ready
</script>
{% endblock %}
