{% extends "full_width.html" %}
{% load tz static%}
{% load i18n %}
{% block extra_head_js %}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' />
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/calendar.css'%}"/>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.css'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css" />
<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous">
</script>
<script src='https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/locale-all.js'></script>

{% endblock %}
{% block title %}{{user.username}} profile - Calendar{% endblock %}
{% block heading %}
{% get_current_timezone as TIME_ZONE %}


<div class="page-header">
    <h1>{{user.username}} profile - Calendar ({{TIME_ZONE}})</h1>
</div>
{%endblock%}
{% block content %}

<div class= "row">

{% include 'league/includes/user_nav.html' with active='calendar' %}
<div class="col-md-2 col-ms-2 col-xs-2 controls">
    <div class="panel panel-default" >
        <div class="panel-heading">
            Filter time range.
        </div>
        <div class="panel-body">
<p>
            <input id="slider" style="width:100%;"
	type="text"
	name="somename"
	data-provide="slider"
	data-slider-min="0"
	data-slider-max="24"
	data-slider-step="1"
	data-slider-value="[{{start_time_range}},{{end_time_range}}]"
    tooltip_split="true"

    >
</p>
<p>
    from <span id="start-time-range">{{start_time_range}}:00</span> to <span id="end-time-range">{{end_time_range}}:00</span>.
</p>
<p>
<button class='btn btn-default' id='filter-time-range'><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
</p>
        </div>
    </div>

  </div>



<div class="col-md-10 col-ms-10 col-xs-10">
<div id="info-well" class="text-center alert well">
Send {{user.username}} games requests.
</div>

<div id='calendar'></div>
</div>
<!-- Modals -->
<div id="game-request-modal" class="modal fade modeless" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="modal-title" class="modal-title"></h4>
      </div>
      <div id="modal-message" ></div>
      <div id="modal-body" class="modal-body">

      </div>
      <div id="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button id="send-game-request" type="button" class="btn btn-success modal-button" >Send game request</button>
        <button id="cancel-game-request" type="button" class="btn btn-success modal-button" >Cancel game request</button>
        <button id="reject-game-request" type="button" class="btn btn-warning modal-button" >Reject game request</button>
        <button id="accept-game-request" type="button" class="btn btn-success modal-button" >Accept game request</button>
        <button id="cancel-game" type="button" class="btn btn-success modal-button" >Cancel game appointment</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}


{% block extra_js %}
{% get_current_timezone as TIME_ZONE %}
{% get_current_language as LANGUAGE_CODE %}
<script>
// ajax crfs setup
{% include 'league/includes/ajax_setup.html' %}

$(document).ready(function() {
    $('#calendar').fullCalendar({
        locale:'{{LANGUAGE_CODE}}',
        customButtons: {
            myCustomButton: {
                text: '?',
                click: function() {
                    window.open('/calendar/help/', '_blank');
                }
            }
        },
        header: {
            left: 'prev,next today ',
            center: 'title',
            right: 'agendaWeek myCustomButton'
        },
        defaultView:'agendaWeek',
        weekNumbers: true,
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        height: 'auto',
        allDaySlot:false,
        timeFormat: 'H:mm',
        minTime: {{start_time_range}} + ":00:00",
        maxTime: {{end_time_range}} + ":00:00",

        ///////////////////////////////////////////////////////////////
        // Events source
        ///////////////////////////////////////////////////////////
        events:{
            url: '{% url "calendar:json_feed_other" user.pk%}',
        },

        ///////////////////////////////////////////////////////////////
        // Event Render
        ///////////////////////////////////////////////////////////
        eventRender: function(event, element) {

            // If envent.type is other-available
            if (event.type === 'other-available'){
                element.addClass('click-me');
                element.append(event.title);
                element.qtip({// tooltip
                    content:{
                        title:event.title,
                        text: '<p> Click to create a game request.</p>',
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
              });//tooltip
                element.attr('data-users', event.users);
            }// other-available

            // My game requests
            if (event.type === 'my-gr'){
                element.addClass('click-me');
                element.qtip({//tooltip
                    content: {
                        text: '<p> Click to cancel game request.</p>',
                        title: 'Waiting on confirmation from {{user.username}}'
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
                });//tooltip
            }// my game requests

            //other-gr
            if (event.type === 'other-gr'){
                element.addClass('click-me');
                var text = '<p><b>' + event.sender + '</b> want to play with you the ';
                text += event.start.format('lll') +' {{TIME_ZONE}}.<p>'
                text += '<p>Click to accept or reject game request</p>'
                element.qtip({
                    content: {
                        text: text,
                        title: 'Game request from ' + event.sender,
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true
                  }

              });//tooltip
            }//other gr
            //game appointments
            if (event.type === 'game'){
                element.qtip({
                    content: {
                        text: 'You can cancel it in your own calendar.',
                        title: event.title,
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
                });//qtip
            }//game appointments

            //public
            if (event.type === 'public'){
                element.qtip({
                    content: {
                        text: event.description,
                        title: event.title,
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
                });//qtip
            }// closing public
        }, // Closing render event

        ///////////////////////////////////////////////////////////////
        // Event click and day click for background events
        ///////////////////////////////////////////////////////////
        eventClick: function(calEvent, jsEvent, view) {
            // My game requests
            if (calEvent.type == 'my-gr'){
                $("#modal-message").hide();
                $(".modal-button").hide();
                calEvent.className = 'my-gr-active';
                $("#modal-title").text('Game request on ' + calEvent.start.format('lll') + ' ({{TIME_ZONE}})');
                $("#modal-body").empty();
                $("#modal-body").append('<p>Waiting on {{user.username}} confirmation.</p>');
                $("#modal-body").attr('data-pk', calEvent.pk);
                $("#cancel-game-request").show();
                $("#game-request-modal").modal();
                $("#game-request-modal").draggable({
                    handle : ".modal-header"
                });
            }//My game requests

            // Others game requests
            if (calEvent.type == 'other-gr'){
                $("#modal-message").hide();
                $(".modal-button").hide();
                $("#modal-title").text(calEvent.sender + ' game request on ' + calEvent.start.format('lll') + ' ({{TIME_ZONE}})');
                $("#modal-body").empty();
                $("#modal-body").append('<p><u>'+ calEvent.sender +'</u> want to play with you.</p>');
                $("#modal-body").attr('data-pk', calEvent.pk);
                $("#accept-game-request").show();
                $("#reject-game-request").show();
                $("#game-request-modal").modal();
                $("#game-request-modal").draggable({
                    handle : ".modal-header"
                });
            }// Other game requests

        },// event click

        // Day click
        dayClick: function(date, jsEvent, view) {
            var element = jsEvent.target;
            // check if we clicked on a background event
            if (element.classList.contains('other-available')) {
                // empty the message
                $("#modal-message").hide();
                $(".modal-button").hide();
                $("#modal-title").text('Request a game on ' + date.format('lll') + ' ({{TIME_ZONE}})');
                $("#modal-body").empty();
                $("#modal-body").append('<p>Send {{user}} a game request.</p>');
                $("#modal-body").attr('data-date', date.format());
                $("#send-game-request").show();
                $("#game-request-modal").modal();
                $("#game-request-modal").draggable({
                    handle : ".modal-header"
                });
            }// we clicked on other-available event
        },//dayclick


    });//fullCalendar

    ///////////////////////////////////////////////////////////////
    // Buttons handling
    ///////////////////////////////////////////////////////////

    $('#cancel-game').click(function(){
        var pk = $('#modal-body').attr('data-pk');
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:cancel_game_ajax'%}",
            data: {'pk': pk},
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
            }
        });
        return false;
    });//accept Game request

    // handle the accept game request click
    $('#accept-game-request').click(function(){
        var pk = $('#modal-body').attr('data-pk');
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:accept_game_request_ajax'%}",
            data: {'pk': pk},
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
           }
        });
        return false;
    });//accept Game request

    // handle the reject game request click
    $('#reject-game-request').click(function(){
        var pk = $('#modal-body').attr('data-pk');
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:reject_game_request_ajax'%}",
            data: {'pk': pk},
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
              }
        });
    return false;
    });//reject Game request

    // handle the cancel game request click
    $('#cancel-game-request').click(function(){
        var pk = $('#modal-body').attr('data-pk');
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:cancel_game_request_ajax'%}",
            data: {'pk': pk},
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
            }
        });
        return false;
    });//cancel-game-request

    // handle the send game request click
    $('#send-game-request').click(function(){
        var date = $('#modal-body').attr('data-date');
        json = JSON.stringify(['{{user.username}}']);
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:create_game_request'%}",
                data: {
                    'date': date,
                    'users': json
                },
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
            }
        });
        return false;
    });// Closing the send game request click

    ///////////////////////////////////////////////////////////////
    // Filter time range
    ///////////////////////////////////////////////////////////

    $('#filter-time-range').click(function(){
        var range = $('#slider').bootstrapSlider('getValue');
        var start = range[0].toString() + ":00:00" ;
        var end = range[1].toString() + ":00:00" ;
        $('#calendar').fullCalendar('option', 'minTime', start);
        $('#calendar').fullCalendar('option', 'maxTime', end);
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:update_time_range_ajax'%}",
            data: {
                'start': range[0],
                'end': range[1]
            }
        });
    });

    // When the slider change value, we...
    $('#slider').bootstrapSlider().on('change',function(slider){
        var start = slider.value.newValue[0].toString() + ":00" ;
        var end = slider.value.newValue[1].toString() + ":00" ;
        $('#start-time-range').html(start);
        $('#end-time-range').html(end);
    });

});// document ready

</script>
{% endblock %}
