{% extends "full_width.html" %}
{% load tz static%}
{% load i18n %}
{% block extra_head_js %}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' />
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/calendar.css'%}"/>
<link rel='stylesheet' type="text/css" href="{%static 'css/sidemenu.css'%}"/>

<link rel='stylesheet' href='https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.css'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css" />
<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous">
</script>
<script src='https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/locale-all.js'></script>

{% endblock %}
{% block title %}My profile - Calendar{% endblock %}
{% block heading %}
{% get_current_timezone as TIME_ZONE %}


<div class="page-header">
    <h1>My profile - Calendar ({{TIME_ZONE}})</h1>
</div>
{%endblock%}
{% block content %}

<div class= "row">

{% include 'league/includes/user_nav.html' with active='calendar' %}
<!-- <div data-spy="affix" data-offset-top="240" style="top:20px;"> -->
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li id = 'cal-pill' role="presentation" class = 'active'><a href="javascript:void(0)"><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span>Calendar</a></li>
          <li id = 'me-av-pill' role="presentation" ><a href="javascript:void(0)"><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>My availabilities</a></li>
          <li id = 'other-av-pill'role="presentation" class = 'other'><a href="javascript:void(0)"><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span>Game planner</a></li>
      </ul>
  </div>
<div class="collapse navbar-collapse" >

      <ul class="nav navbar-nav">

  <li class="other-available-controls  hidden" >
      <p class="checkbox div-checkbox ">
      <label><input id ="check-own" type="checkbox" checked>Show your own availability.</label>
  </p>
    </li>
    <li class="other-available-controls hidden" >
        Filter by divisions
    {% for division in user.get_open_divisions %}
        <div class="checkbox div-checkbox ">
          <label><input class ="check-div" value="{{division.pk}}" type="checkbox" checked>{{division.name}}</label>
        </div>
    {% endfor %}
</li>
      <li class="me-available-controls  hidden" >

          <button class='btn btn-default' id='save'><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save your changes</button>
      </li>
        <li class="me-available-controls  hidden" >
            <button class='btn btn-default' id='copy'><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Copy previous week</button>
        </li>
        <li class="me-available-controls other-available-controls hidden" >
                Filter time range.
    <p>
                <input id="slider" style="width:100%;"
        type="text"
        name="somename"
        data-provide="slider"
        data-slider-min="0"
        data-slider-max="24"
        data-slider-step="1"
        data-slider-value="[{{start_time_range}},{{end_time_range}}]"
        tooltip_split="true"

        >
    </p>
    <p>
        from <span id="start-time-range">{{start_time_range}}:00</span> to <span id="end-time-range">{{end_time_range}}:00</span>.
    </p>
    <p>
    <button class='btn btn-default' id='filter-time-range'><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
    </p>
</li>
        </ul>
        </div>
    </div>

</nav>


<div class="col-md-10 col-ms-10 col-xs-10">
<div id="info-well" class="text-center alert well">
Browse all your OSR events.
</div>

<div id='calendar'></div>
</div>
<!-- Modals -->
<div id="game-request-modal" class="modal fade modeless" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="modal-title" class="modal-title"></h4>
      </div>
      <div id="modal-message" ></div>
      <div id="modal-body" class="modal-body">

      </div>
      <div id="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button id="send-game-request" type="button" class="btn btn-success modal-button" >Send game request</button>
        <button id="cancel-game-request" type="button" class="btn btn-success modal-button" >Cancel game request</button>
        <button id="reject-game-request" type="button" class="btn btn-warning modal-button" >Reject game request</button>
        <button id="accept-game-request" type="button" class="btn btn-success modal-button" >Accept game request</button>
        <button id="cancel-game" type="button" class="btn btn-success modal-button" >Cancel game appointment</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}


{% block extra_js %}
{% get_current_timezone as TIME_ZONE %}
{% get_current_language as LANGUAGE_CODE %}
<script>
// ajax crfs setup
{% include 'league/includes/ajax_setup.html' %}

$(document).ready(function() {
    $('#calendar').fullCalendar({
        locale:'{{LANGUAGE_CODE}}',
        customButtons: {
            myCustomButton: {
                text: '?',
                click: function() {
                    window.open('/calendar/help/', '_blank');
                }
            }
        },
        header: {
            left: 'prev,next today ',
            center: 'title',
            right: 'month,agendaWeek myCustomButton'
        },
        views: {
            month:{
                selectable:false,
            }
        },
        weekNumbers: true,
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        height: 'auto',
        allDaySlot:false,
        timeFormat: 'H:mm',
        selectable:true,
        selectHelper: true,
        minTime: {{start_time_range}} + ":00:00",
        maxTime: {{end_time_range}} + ":00:00",

        //prevent user from selecting multiple day availability
        selectConstraint: {
            start: '00:00',
            end: '24:00',
        },

        selectAllow:  function(selectInfo){
            return ($('#me-av-pill').hasClass('active'));
        },
        //we don't want to me-available event overlaping
        selectOverlap: function(event) {
                return event.type != 'me-available';
        },
        eventOverlap: function(stillEvent, movingEvent) {
            return stillEvent.type != 'me-available';
        },

        //selecting will create an event saying user is available
        select: function(start, end) {
            var eventData;
            // the following commented lines is an attempt to set a minimal 1h30
            // The issue is that we then lost overlaping control
            //var duration = end - start ;
            //if (duration < 5400000){
            //  end = start + 5400000 - end;
            //  }
            eventData = {
                title: 'I am available',
                start: start,
                end: end,
                type:'me-available',
                color: '#ffff80',
                className :'me-available',
                is_new : true,
                is_change:true,
                editable:true
            };
            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
            $('#calendar').fullCalendar('unselect');
            $('#save').attr('class','btn btn-primary');
        },// select

        eventResize: function(event, delta) {
            event.is_change=true;
            $('#save').attr('class','btn btn-primary')
        },

        eventDrop:function(event, delta){
            event.is_change=true;
            $('#save').attr('class','btn btn-primary')
        },

        ///////////////////////////////////////////////////////////////
        // Events source
        ///////////////////////////////////////////////////////////
        events:{
            url: '{% url "calendar:json_feed" %}',
            data: function() { // a function that returns an object
                var div_list = $('.check-div:checkbox:checked').map(function() {
                    return this.value;
                }).get();
                json = JSON.stringify(div_list);
                return({
                    'divs':json,
                    'me-av':!($('#cal-pill').hasClass('active')),
                    'other-av':($('#other-av-pill').hasClass('active')),
                    'game-request':!($('#me-av-pill').hasClass('active'))
                });
            }
        },

        ///////////////////////////////////////////////////////////////
        // Event Render
        ///////////////////////////////////////////////////////////
        eventRender: function(event, element) {
            if (element.find(".fc-helper")){
                event.eventColor='#ffff80';
            }

            // deals with me-available events:
            if (event.type === 'me-available'){
                // If we are on my availability tab we can change thoses.
                if ($('#me-av-pill').hasClass('active')){
                    // add a closeon button
                    element.find(".fc-content").prepend( "<span style='font-size:1.5em;'class='pull-right glyphicon glyphicon-remove-circle closeon' aria-hidden='true'></span>" );
                    element.find(".closeon").click(function() {
                        //if the event is not new, we have to create a deleted event to inform the server
                        if (event.is_new != true){
                            event.type = 'deleted';
                            event.is_change = true;
                            event.className  = 'event-deleted';
                            event.rendering  = 'background';
                            $('#calendar').fullCalendar('updateEvent', event);
                            $('#save').attr('class','btn btn-primary')
                        }
                        else{
                            $('#calendar').fullCalendar('removeEvents',event._id);
                        }
                    });// end of closeon
                }
                else if ($('#other-av-pill').hasClass('active')) {
                    element.find(".fc-content").hide();
                    if (!($('#check-own')[0].checked)) {
                        element.addClass('hidden');
                    }
                }
                else{
                    element.addClass('hidden');
                }
            }// end of event.type == me-available

            // If envent.type is other-available
            if (event.type === 'other-available'){
                element.addClass('click-me');
                element.append(event.title);
                var text ='<ul>';
                event.users.forEach(function(element){
                    text +='<li>' + element + '</li>';
                });
                text += '</ul> <p> Click to create a game request.</p>';
                element.qtip({
                    content:{
                        title:event.title,
                        text: text,
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
                });//tooltip

                element.attr('data-users', event.users);
                if (!($('#other-av-pill').hasClass('active'))){
                    element.addClass('hidden');
                }
            }// other-available

            // My game requests
            if (event.type === 'my-gr'){
                element.addClass('click-me');
                var text = '<ul>';
                event.users.forEach(function(element){
                    text +='<li>' + element + '</li>';
                });
                text += '</ul> <p> Click to cancel game request.</p>';
                element.qtip({
                    content: {
                        text: text,
                        title: 'Waiting on confirmation from:'
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
                });//tooltip
            }// my game requests

            //other-gr
            if (event.type === 'other-gr'){
                element.addClass('click-me');
                var text = '<p><b>' + event.sender + '</b> want to play with you the ';
                text += event.start.format('lll') +' {{TIME_ZONE}}.<p>'
                text += '<p>Click to accept or reject game request</p>'
                element.qtip({
                    content: {
                        text: text,
                        title: 'Game request from ' + event.sender,
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
                });//tooltip
            }//other gr

            //game appointments
            if (event.type === 'game'){
                element.addClass('click-me');
                element.qtip({
                    content: {
                        text: 'Click to cancel this game appointment.',
                        title: event.title,
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
                });//qtip
            }//game appointments

            //public events
            if (event.type === 'public'){
                element.qtip({
                    content: {
                        text: event.description,
                        title: event.title,
                    },
                    position: {
                        my:'left bottom',  // Position my top left...
                        at:'right top',
                        target: 'mouse', // Use the mouse position as the position origin
                        adjust: { // Don't adjust continuously the mouse, just use initial position
                            x:5,
                            y:-5
                        }
                    },
                    show: {solo: true}
                });//qtip
            }// closing public
        }, // Closing render event

        ///////////////////////////////////////////////////////////////
        // Event click and day click for background events
        ///////////////////////////////////////////////////////////
        eventClick: function(calEvent, jsEvent, view) {
            // My game requests
            if (calEvent.type == 'my-gr'){
                $("#modal-message").hide();
                $(".modal-button").hide();
                calEvent.className = 'my-gr-active';
                $("#modal-title").text('Game request on ' + calEvent.start.format('lll') + ' ({{TIME_ZONE}})');
                $("#modal-body").empty();
                $("#modal-body").append('<p>Waiting on this users confirmation:</p>');
                $("#modal-body").attr('data-pk', calEvent.pk);
                $("#modal-body").append('<p><ul>');
                calEvent.users.forEach(function(user){
                    $("#modal-body").append('<li>' + user + '</li>')
                });
                $("#modal-body").append('</ul></p>');
                $("#cancel-game-request").show();
                $("#game-request-modal").modal();
                $("#game-request-modal").draggable({handle : ".modal-header"});
            }//My game requests

            // Others game requests
            if (calEvent.type == 'other-gr'){
                $("#modal-message").hide();
                $(".modal-button").hide();
                $("#modal-title").text(calEvent.sender + ' game request on ' + calEvent.start.format('lll') + ' ({{TIME_ZONE}})');
                $("#modal-body").empty();
                $("#modal-body").append('<p><u>'+ calEvent.sender +'</u> want to play with you.</p>');
                $("#modal-body").attr('data-pk', calEvent.pk);
                $("#accept-game-request").show();
                $("#reject-game-request").show();
                $("#game-request-modal").modal();
                $("#game-request-modal").draggable({handle : ".modal-header"});
            }// Other game requests

            // Game
            if (calEvent.type == 'game'){
                $("#modal-message").hide();
                $(".modal-button").hide();
                $("#modal-title").text(calEvent.title + ' on ' + calEvent.start.format('lll') + ' ({{TIME_ZONE}})');
                $("#modal-body").empty();
                $("#modal-body").append('<p>Are you sure you want to cancel this game appointment?</p>');
                $("#modal-body").attr('data-pk', calEvent.pk);
                $("#cancel-game").show();
                $("#game-request-modal").modal();
                $("#game-request-modal").draggable({handle : ".modal-header" });
            }//Game
        },// event click

        // Day click
        dayClick: function(date, jsEvent, view) {
            var element = jsEvent.target;
            // check if we clicked on a other-available event
            if (element.classList.contains('other-available')) {
                // empty the message
                $("#modal-message").hide();
                $(".modal-button").hide();
                // get the users available at that time in an array
                var users = element.getAttribute('data-users').split(',').sort();
                $("#modal-title").text('Request a game on ' + date.format('lll') + ' ({{TIME_ZONE}})');
                $("#modal-body").empty();
                $("#modal-body").append('<p>Select the users you want to send a game request to:</p>');
                $("#modal-body").attr('data-date', date.format());
                users.forEach(function(element){
                    $("#modal-body").append(
                        '<div class="checkbox"><label><input class="user-select" type="checkbox" value="'+
                        element + '" checked>'+ element + '</label></div>');
                });

                $("#send-game-request").show();
                $("#game-request-modal").modal();
                $("#game-request-modal").draggable({handle : ".modal-header"});
            }// we clicked on other-available event
        },//dayclick


    });//fullCalendar

    ///////////////////////////////////////////////////////////////
    // Buttons handling
    ///////////////////////////////////////////////////////////

    // Cancel game appointment
    $('#cancel-game').click(function(){
        var pk = $('#modal-body').attr('data-pk');
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:cancel_game_ajax'%}",
            data: {'pk': pk},
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
            }
        });
        return false;
    });//Cancel Game

    // handle the accept game request click
    $('#accept-game-request').click(function(){
        var pk = $('#modal-body').attr('data-pk');
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:accept_game_request_ajax'%}",
            data: {'pk': pk},
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
           }
       });
       return false;
    });//accept Game request

    // handle the reject game request click
    $('#reject-game-request').click(function(){
        var pk = $('#modal-body').attr('data-pk');
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:reject_game_request_ajax'%}",
            data: {'pk': pk},
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
            }
        });
        return false;
    });//reject Game request

    // handle the cancel game request click
    $('#cancel-game-request').click(function(){
        var pk = $('#modal-body').attr('data-pk');
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:cancel_game_request_ajax'%}",
            data: {'pk': pk},
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
            }
        });
        return false;
    });//cancel-game-request

    // handle the send game request click
    $('#send-game-request').click(function(){
        // get the list of selected users
        var selected_users = $('.user-select:checked').map(function(){
            return this.value;
        }).get();
        // This list shouldn't be empty
        if (selected_users.length == 0 ) {
            $('#modal-message').text('You should select at least one user.');
            $('#modal-message').addClass("alert alert-warning");
            $('#modal-message').show()
            return;
        }
        var date = $('#modal-body').attr('data-date');
        json = JSON.stringify(selected_users);
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:create_game_request'%}",
            data: {
                'date': date,
                'users': json
            },
            success: function(){
                $('#game-request-modal').modal('hide');
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
            }
        });
        return false;
    });// Closing the send game request click

    // Save button
    $("#save").click(function () {
        var eventsFromCalendar = $('#calendar').fullCalendar('clientEvents',function (event) {
            return event.is_change == true;});
        //to render json from events objects list, we need to deal with circular relation
        //see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Cyclic_object_value
        eventsFromCalendar = eventsFromCalendar.map(function(e) {
            return {
                start: e.start,
                end: e.end,
                title: e.title,
                type: e.type,
                is_new: e.is_new,
                id:e.id,
                pk:e.pk
            };
        });
        seen = [];
        var json = JSON.stringify(eventsFromCalendar,function(key, val) {
            if (val != null && typeof val == "object") {
                if (seen.indexOf(val) >= 0) {
                    return;
                }
                seen.push(val);
            }
            return val;
        });// end of circular relation thing I don't understand

        $.ajax({
            type:"POST",
            url:"{% url 'calendar:save'%}",
            data: {
               'events': json
            },
            success: function(){
                $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'refetchEvents' );
            }
       });
       $('#save').attr('class','btn btn-default')
       return false;
    });// closing $("#save").click


    // when a user (un)check a division checkbox
    // we need to refetch the events
    $('.check-div').click(function(){
        //$('#calendar').fullCalendar( 'removeEvents');
        $('#calendar').fullCalendar( 'refetchEvents' );
    });

    // Toggle showing his own availibility
    $('#check-own').click(function(){
        if ($('#check-own')[0].checked){
            $('.me-available').removeClass('hidden')
        }
        else{
            $('.me-available').addClass('hidden')
        }
    });

    //copy previous week
    $("#copy").click(function () {
        var start = $('#calendar').fullCalendar('getView').start;
        var end = $('#calendar').fullCalendar('getView').end;

        //check if the week is empty
        var eventsFromCalendar = $('#calendar').fullCalendar('clientEvents', function (event) {
            return ( event.type == 'me-available' && event.start > start && event.end < end)});
        if (eventsFromCalendar.length >0) {
            alert('You canot copy previous week because this week is not empty')
            return false
        }
        var start = $('#calendar').fullCalendar('getView').start;
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:copy_previous_week_ajax'%}",
            data: {
                'start': start.format(),
                'end': end.format()
            }
        });
    $('#calendar').fullCalendar( 'refetchEvents' );
    });

    ///////////////////////////////////////////////////////////////
    // Filter time range
    ///////////////////////////////////////////////////////////

    $('#filter-time-range').click(function(){
        var range = $('#slider').bootstrapSlider('getValue');
        var start = range[0].toString() + ":00:00" ;
        var end = range[1].toString() + ":00:00" ;
        $('#calendar').fullCalendar('option', 'minTime', start);
        $('#calendar').fullCalendar('option', 'maxTime', end);
        $.ajax({
            type:"POST",
            url:"{% url 'calendar:update_time_range_ajax'%}",
            data: {
                'start': range[0],
                'end': range[1]
            }
        });
    });

    // When the slider change value, we...
    $('#slider').bootstrapSlider().on('change',function(slider){
        var start = slider.value.newValue[0].toString() + ":00" ;
        var end = slider.value.newValue[1].toString() + ":00" ;
        $('#start-time-range').html(start);
        $('#end-time-range').html(end);
    });

    ///////////////////////////////////////////////////////////////
    // Menu handling
    ///////////////////////////////////////////////////////////

    $('#me-av-pill').click(function() {
        $('#save').attr('class','btn btn-default');
        $('li[role="presentation"]').removeClass('active');
        $(this).addClass('active');
        $(".other-available-controls").addClass('hidden');
        $(".me-available-controls").removeClass('hidden');
        $("#info-well").text('Drag vertically on the calendar to indicate when you are available.')
        $('#calendar').fullCalendar( 'removeEvents');
        $('#calendar').fullCalendar('changeView', 'agendaWeek');
        $('#calendar').fullCalendar( 'refetchEvents' );
    });

    $('#other-av-pill').click(function() {
        $('li[role="presentation"]').removeClass('active');
        $(this).addClass('active');
        $(".me-available-controls").addClass('hidden');
        $(".other-available-controls").removeClass('hidden');
        $("#info-well").text('See when other users are available and manage game requests.')
        $('#calendar').fullCalendar( 'removeEvents');
        $('#calendar').fullCalendar('changeView', 'agendaWeek');
        $('#calendar').fullCalendar( 'refetchEvents' );
    });

    $('#cal-pill').click(function() {
        $('li[role="presentation"]').removeClass('active');
        $(this).addClass('active');
        $(".me-available-controls").addClass('hidden');
        $(".other-available-controls").addClass('hidden');
        $("#info-well").text('Browse all your OSR events.')
        $('#calendar').fullCalendar( 'removeEvents');
        $('#calendar').fullCalendar('changeView', 'month');
        $('#calendar').fullCalendar( 'refetchEvents' );
    });
});// document ready

</script>
{% endblock %}
