{% extends "full_width.html" %}
{% load tz static%}
{% load i18n %}
{% block extra_head_js %}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' />
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/calendar.css'%}"/>
<link rel='stylesheet' type="text/css" href="{%static 'css/sidemenu.css'%}"/>

<link rel='stylesheet' href='https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.css'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css" />
<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous">
</script>
<script src='https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/locale-all.js'></script>

{% endblock %}
{% block title %}My profile - Calendar{% endblock %}
{% block heading %}
{% get_current_timezone as TIME_ZONE %}


<div class="page-header">
    <h1>My profile - Calendar ({{TIME_ZONE}}) <a class="pull-right" data-toggle="tooltip" title="Export calendar" href="{% url 'calendar:osr_ical' request.user.pk %}?nocache"><span class="glyphicon glyphicon-export" aria-hidden="true"></span></a></h1>
</div>
{%endblock%}
{% block content %}

<div class= "row">
  <div class= "row">

{% include 'league/includes/user_nav.html' with active='calendar' %}

{% include 'fullcalendar/includes/game-planer-nav.html' %}



<div class="col-md-10 col-ms-10 col-xs-10">
<div id="info-well" class="text-center alert well">
Browse all your OSR events.
</div>

<div id='calendar'></div>
</div>

{% include 'fullcalendar/includes/cal-modal.html' %}

</div>
</div>

{% endblock %}


{% block extra_js %}
{% get_current_timezone as TIME_ZONE %}
{% get_current_language as LANGUAGE_CODE %}
<script src={%static 'fullcalendar/calendar_member.js'%}></script>
<script>
// ajax crfs setup
{% include 'league/includes/ajax_setup.html' %}

$(document).ready(function() {
	load_calendar_member('{{TIME_ZONE}}', '{{LANGUAGE_CODE}}', {{start_time_range}}, {{end_time_range}});
});// document ready

</script>
{% endblock %}
