{% extends "full_width.html" %}
{% load tz static i18n calendar_tags %}

{% block extra_head_js %}
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/fullcalendar.css'%}"/>
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/rangeslider.css'%}"/>
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/micromodal.css'%}"/>
<script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/locales-all.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.5.0/main.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<link rel='stylesheet' type="text/css" href="{%static 'fullcalendar/custom.css'%}"/>
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block heading %}
{% get_current_timezone as TIME_ZONE %}
<div class="page-header">
  <h1>Calendar ({{TIME_ZONE}})</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">

  <!-- Calendar filtering menu -->

  <div class="col-md-3">
    <div class="panel panel-default">
      {% if user.is_authenticated %}
      <div class="panel-body">
        {% checkbox label='Only me' id='only-user-filter' checked=False %}
      </div>
      {% endif %}
      <div class="panel-heading">
        <strong>Communities</strong>
      </div>
      <div class="panel-body">
        {% checkbox label='Open Study Room' id='osr-filter' %}
        {% for com in communities %}
        {% checkbox label=com.name className='community-filter' value=com.pk %}
        {% endfor %}
      </div>
      <div class="panel-heading">
        <strong>Leagues</strong>
      </div>
      <div class="panel-body">
        {% for league in leagues %}
        {% checkbox label=league.name className='league-filter' value=league.pk %}
        {% endfor %}
      </div>
       <div class="panel-heading">
        <strong>Events</strong>
      </div>
      <div class="panel-body">
        {% checkbox label='Public' id='public-filter' %}
        {% checkbox label='Appointments' id='appointment-filter' %}
        {% if user.is_authenticated %}
        {% checkbox label='Game requests' id='game-request-filter' %}
        {% checkbox label='Availabilities' id='av-event-filter' %}
        {% endif %}
      </div>
      {% if user.is_authenticated %}
      <div class="panel-footer">
        {% checkbox label='Edit my availabilities' id='user-av-event-filter' checked=False %}
      </div>
      {% endif %}
    </div>
  </div>

  <!-- Calendar column -->

  <div id="calendar-wrapper" class="col-md-9">
    <div id="time-range-selector-wrapper">
      <div >
        <input
          type="text"
          id="time-range-selector"
          class="hidden"
          data-from="{{ start_time_range }}"
          data-to="{{ end_time_range }}"/>
      </div>
    </div>
    <div id="calendar"></div>
  </div>

  <!-- Modal game request panel -->
  {% include 'fullcalendar/includes/cal-modal2.html' %}

</div>
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}
{% block extra_js %}
{{ client_context_data|json_script:"context-data" }}
<script>{% include 'league/includes/ajax_setup.html' %}</script>
<script src={% static 'fullcalendar/calendar2.js' %}></script>
{% endblock %}
