
{%load tz calendar_tags%}
{% get_current_timezone as TIME_ZONE %}

<ul class="sidebar">
  <h4>
  <a href="{% url 'calendar:calendar_view' %}">  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  OSR Events ({{TIME_ZONE}})
</a>
  </h4>
{% get_now as now %}
{% cal_events request.user as cal_events%}
{% for cal_event in cal_events %}
  {% if cal_event.url %}  <a href="{{cal_event.url}}">    {% endif %}
<div class="panel">

  <div class="panel-body">
    <div class="col-md-6">
      <p>
        {% if cal_event.begin_time.date == now.date %}
        Today !
        {% else %}
        {{cal_event.begin_time|date:"d, M"}}
        {% endif %}
      </p>

      <p>{{cal_event.begin_time|time:"TIME_FORMAT"}}</p>

    </div>
    <div class="col-md-6">
<div class="text-center label label-default">
      {{cal_event.title}}
    </div>
    <div>
      {{cal_event.description}}

    </div>

    </div>
    {% if cal_event.url %}  </a>  {% endif %}
</div>
</div>

{% endfor %}


</ul>
