{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags static tz i18n %}
{% block title %}{% trans "OSR league admin" %} - {% trans "Create new event" %}{% endblock %}

{% block heading %}
<div class="page-header">
    <h1>{% trans "Create new event" %}</h1>
</div>
{%endblock%}
{% block content %}
{% timezone "UTC" %}
<div class="row">
<div class="col-md-4">
  <legend>{% trans "Create new event" %} </legend>
  <div class="well">{% trans "Please enter times in UTC/GMT time" %}</div>

<form action="" method="POST">{% csrf_token %}
{%bootstrap_form form %}
	{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
</form>

</div>
</div>
{% endtimezone %}
{% endblock %}
