{% load tournament_tags league_tags bootstrap3%}
{% get_meijin as meijin %}

<div class='table-responsive'>
    <table id='example' class='table table-bordered  table-hover table-condensed' >
        <thead class='table-league-highlight'>
        <tr>
            <th>player</th>

            {% for player in results %}
            <th>
                <div class="kgs_username">{{ player.user.username }}</div>
            </th>
            {% endfor %}
            <th>score</th>
            <th>sos</th>
            <th>sodos</th>
            {% if admin %}
            <th>forfeit against</th>
            {% endif %}
        </thead>
        <tbody>
        {% for player in results %}
        <tr class="{% cycle 'even-row' 'odd-row' %}">
            <td class='table-league-player{%if not player.is_active %} inactive{%endif%}'>
              {{forloop.counter}}. {{player.user | user_link:meijin}}
            </td>
            {% for opponent in results %}

            {% if forloop.counter == forloop.parentloop.counter %}
            <td class="table-league-highlight {% cycle 'even-column' 'odd-column' %}">
                {% else %}
            <td class="{% cycle 'even-column' 'odd-column' %}">
              {% tourney_result %}
            </td>
            {% endif %}
            {% endfor %}
            <td class='table-league-score-highlight'>{{ player.score }}</td>

            <td>{{ player.sos }}</td>
            <td>{{ player.sodos }}</td>
            {% if admin %}
            <td>
              <form action="{% url 'tournament:forfeit_group' tournament.pk group.pk %}"  method="post" class="form">
                {% csrf_token %}
                <select name="winner">
                  {% for opponent in results %}
                  {% if forloop.counter != forloop.parentloop.counter %}
                  <option value="{{opponent.pk}}">{{opponent.user.username}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                <input id="looser" name="looser" type="hidden" value="{{player.pk}}">
                <input id="next" name="next" type="hidden" value="{{request.path}}">
                <button
                  type="submit"
                  class="btn btn-primary btn-xs"
                  onclick="return confirm('{{player.user.username}} declare forfeit ?')" >
                  {% bootstrap_icon "ok" %}
                </button>
              </form>

            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
