{% load i18n %}
<ul class="nav nav-tabs">
<li role="presentation" {% if active == 'settings'%}class="active"{% endif %}>
  <a href={%url 'tournament:manage_settings' tournament.pk %}>
    {% trans "Settings & players" %}
  </a>
</li>
<li role="presentation" {% if active == 'groups'%}class="active"{% endif %}>
  <a href={%url 'tournament:manage_groups' tournament.pk %}>
    {% trans "Groups" %}
  </a>
</li>
<li role="presentation" {% if active == 'brackets'%}class="active"{% endif %}>
  <a href={%url 'tournament:manage_brackets' tournament.pk %}>
    {% trans "Brackets" %}
</a>
</li>
<li role="presentation" {% if active == 'games'%}class="active"{% endif %}>
  <a href={%url 'tournament:manage_games' tournament.pk %}>
    {% trans "Games" %}
</a>
</li>
</ul>
