{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags i18n %}
{% block heading %}
<div class="page-header">
    <h1> {% blocktrans with community_name=community.name %}Edit the {{community_name}} community{% endblocktrans %}</h1>
</div>
{%endblock%}
{% block content %}
<form action="" method="POST">{% csrf_token %}
{%bootstrap_form form %}
	{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
</form>
{% endblock %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock extra_css %}

{% block extra_js %}
{{ form.media.js }}
{% endblock extra_js %}
