{% extends 'full_width.html' %}
{% load bootstrap3 league_tags static forum_markup_tags%}
{% block title %}OSR - {{community.name}}{% endblock %}
{% block extra_head_js %}
<script type="text/javascript">
function load_game(game_id) {
    $.ajax({
    type: "GET",
    url: "/league/game/json/" + game_id,
    dataType: "json",
    success: processData,
    error: function(){ alert("failed"); }
});

function processData(data)
{
    document.getElementById("game_infos").innerHTML= data.game_infos ;
    var elem = document.getElementById("player");
    var player = new WGo.BasicPlayer(elem, {
      sgf: data.sgf
      });
    $("[data-toggle=tooltip]").tooltip();

};
return false;};
</script>
{% endblock %}
{% block heading %}
<div class="page-header">
    <h1> {{community.name}}  </h1>
</div>
{%endblock%}
{% block content %}
<div class="panel panel-default">
<div class="panel-heading clearfix">
  <h3> {{community.name}} ({{community.slug}})
  {% if admin %}
  <a href="{% url 'community:community_update' community.pk %}"><button class="btn btn-default pull-right">{% bootstrap_icon 'wrench' %} Edit </button></a>
  <a href="{% url 'community:admin_user_list' community.pk %}"><button class="btn btn-default pull-right">{% bootstrap_icon 'user' %} Manage users </button></a>

  {% endif %}
  {% if can_join %}
  <form action=" {% url 'community:community_join' community.pk request.user.pk %}" method="post" >
    {% csrf_token %}
    <div class="form-group">
    <input type="hidden" name="action" value="join">
    <input type="hidden" name="next" value="{{request.path}}">
    <button type="submit" class="btn btn-success pull-right"  onclick="return confirm('You are about to join the {{community.name}} community. Allright?')">
    {% bootstrap_icon "ok" %} Join {{community.name}} !
    </button>
    </div>
    </form>
  {% endif %}
  {% if can_quit %}
  <form action=" {% url 'community:community_quit' community.pk request.user.pk %}" method="post" >
    {% csrf_token %}
    <div class="form-group">
    <input type="hidden" name="action" value="join">
    <input type="hidden" name="next" value="{{request.path}}">
    <button type="submit" class="btn btn-danger pull-right"  onclick="return confirm('You are about to quit the {{community.name}} community. Allright?')">
    {% bootstrap_icon "remove" %} Quit {{community.name}} !
    </button>
    </div>
    </form>
  {% endif %}

</h3>
</div>
<div class="panel-body">
<p>{{community.description|safe|rendered}}</p>
{% if can_quit %}
<p>{{community.private_description|safe|rendered}}</p>
{% endif %}


</div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#leagues">Leagues</a></li>
  <li><a data-toggle="tab" href="#tournaments">tournaments</a></li>
  <li><a data-toggle="tab" href="#members">Members</a></li>
</ul>
<div class="tab-content">
<div id="leagues" class="panel panel-default tab-pane fade in active">
<div class="panel-heading clearfix">
  <h3>
All {{community.name}} leagues
{% if admin %}
<a href="{% url 'community:create_league' community.pk %}">
  <button class="btn btn-success pull-right">
    {% bootstrap_icon 'plus' %}
    Create new league
  </button>
</a>
{% endif %}
</h3>
Open leagues are green.
</div>
{% include "community/includes/leagues_table.html" with leagues=leagues%}
</div>

<div id="tournaments" class="panel panel-default tab-pane fade">
<div class="panel-heading clearfix">
  <h3>
All {{community.name}} tournaments
{% if admin %}
<a href="{% url 'community:create_tournament' community.pk %}">
  <button class="btn btn-success pull-right">
    {% bootstrap_icon 'plus' %}
    Create new tournament
  </button>
</a>
{% endif %}
</h3>
Open tournament are green.
</div>
{% include "community/includes/tournaments_table.html" with leagues=tournaments%}

</div>
</div>

<div class="panel panel-default">
<div class="panel-heading"><h3>{{community.name}} Games</h4></div>
<div class ="row">
<div class="col-md-4">
  <div id ="game_infos">
</div>

{% include "league/includes/games.html" with sgfs=sgfs %}
</div>

<div class="col-md-8">

    <div id="player">
      <div class="alert alert-info">
      Click a game result to see it.
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#game-table').DataTable({"bLengthChange": false ,"dom":'<"H"lr>ft<"F"ip>',
  "columnDefs": [ {
    targets: 0,
    render: $.fn.dataTable.render.moment( 'MMM DD, YYYY','MMM DD, YYYY' )
  } ],
  "order": [[ 0, "desc" ]]});
} );

</script>

<script type="text/javascript">
$(document).ready(function() {
$('#cal-event-table').DataTable({
  "bLengthChange": false ,"dom":'<"H"lr>ft<"F"ip>',
  "columnDefs": [ {
    targets: 1,
    render: $.fn.dataTable.render.moment( 'MMM DD, YYYY HH:mm','MMM DD, YYYY HH:mm' )
  } ],
  "order": [[ 1, "desc" ]]
});
} );
</script>

{% endblock %}
