{% extends 'full_width.html' %}
{% load bootstrap3 community_tags forum_markup_tags%}
{% block title %}OSR - Communities {% endblock %}
{% block heading %}
<div class="page-header">
    <h1> List of all OSR communities</h1>
</div>
{%endblock%}

{% block content %}
<div class="well">
<p>The Open Study Room have and always will be a project to help online go community organising and setting up go leagues.
With that in mind, we are very happy to host some league for other friendly go community.</p>
<p>Below is the list of the public communities OSR is hosting. Joining a community will allow you to play in their leagues.</p>
<p>If you want your community to run some leagues using the OSR league system, contact us at openstudyroom@gmail.com.</p>
</div>
  {% for community in communitys %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {{community |community_link}}
      </div>
      <div class="panel-body">
        {{community.description |safe|rendered|truncatewords_html:30}}
    </div>
  </div>
  {% endfor %}
{% endblock %}
