{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags i18n %}

{% block heading %}
<div class="page-header">
    <h1>{{ community.name }} - {% trans "Ranking" %}</h1>
</div>
{%endblock%}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
      <h3>{% trans "Generate league ranking file" %}</h3>
  </div>
  <div class="panel-body">
    <p>{% trans "Select a period when the leagues have been played" %}</p>
    <br/>
    <form action="{% url 'community:community_ranking' community.slug %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      {% bootstrap_button "Download" button_type="submit" button_class="btn-primary" %}
    </form>
  </div>
</div>

{% endblock %}
