{% extends 'full_width.html' %}
{% load bootstrap3 league_tags community_tags i18n %}
{% block heading %}
<div class="page-header">
    <h1> {% blocktrans with community_link=community|community_link %}Edit the {{community_link}} community{% endblocktrans %}</h1>
</div>
{%endblock%}
{% block content %}
<form action="" method="POST">{% csrf_token %}
{%bootstrap_form form %}
	{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
</form>
<a href="{% url 'community:community_page' community.slug %}">
  <button class="btn btn-danger pull-right">
    {% trans "Cancel" %}
  </button>
</a>


{% endblock %}
{% block extra_css %}
    {{ form.media.css }}
{% endblock extra_css %}

{% block extra_js %}
{{ form.media.js }}
{% endblock extra_js %}
