{% extends "full_width.html" %}

{% block title %}OSR league admin{% endblock %}
{%block page_intro %}
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li ><a href="{% url "league:admin" %}">Dashboard</a></li>
  <li ><a href="{% url "league:admin_events" %}">Leagues</a></li>
  <li ><a href="{% url "league:admin_sgf" %}">SGFs</a></li>
  <li ><a href="{% url "league:admin_users_list" %}">Users</a></li>
  <li ><a href="{% url "calendar:admin_cal_event_list" %}">Events</a></li>
  <li ><a href="{% url "community:admin_community_list" %}">Communitys</a></li>
</ul>
</nav>

{% endblock %}
