{% extends "full_width.html" %}

{% block title %}OSR league admin{% endblock %}

{%block page_intro %}
{% if request.user.is_league_admin %}
<div class="container">
<div class="row">
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  {% if request.user.is_osr_admin %}
  <li ><a href="{% url "league:admin" %}">Dashboard</a></li>
  <li ><a href="{% url "league:admin_users_list" %}">Users</a></li>
  <li ><a href="{% url "community:admin_community_list" %}">Communities</a></li>
  <li ><a href="{% url "calendar:admin_cal_event_list" %}">Events</a></li>
  {% endif %}
  <li ><a href="{% url "league:admin_events" %}">Leagues</a></li>
  <li ><a href="{% url "tournament:list" %}">Tournaments</a></li>
  <li ><a href="{% url "league:admin_sgf" %}">SGFs</a></li>
</ul>
</nav>
</div>
</div>

{% endif %}
{% endblock %}
