{% extends "league/admin/base.html" %}
{% load wagtailcore_tags %}
{% load league_tags %}
{% load bootstrap3 %}

{% block title %}Update all sgfs{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>Create all profiles</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">
  <div class="jumbotron">
<p>Dear admin.</p>
<p> Please pay attention to this message and don't proceed before reading</p>
<p>In this page, you will create a profile for all users that don't have one. </p>
<p>If you don't understand what this is about, you should just leave this page. </p>
<p> If you have any doubt what so ever about wether you should continue or not, you should leave this page.</p>
  </div>
  <div class="col-md-4">
    <a href="{% url 'league:admin' %}"class="btn btn-primary text-left">Back to admin</a>
  </div>
  <div class="col-md-4">
  <form action=" {% url 'league:create_all_profiles'  %}" method="post" class="form">
{% csrf_token %}
<input type="hidden" name="action" value="create_all_profiles">
<button type="submit" class="btn btn-danger"  onclick="return confirm('Are you positively sure you want to create all profiles ?')">

{% bootstrap_icon "warning-sign" %} No fear, I do it !
</button>

</form>
</div>
{% endblock %}
