{% extends "league/admin/base.html" %}
{% load wagtailcore_tags bootstrap3 community_tags %}
{% block title %}OSR league admin{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>Dashboard</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">

{% if no_profile_users %}
{% include 'league/includes/no_profile_users_table.html' %}
{% endif %}
  <div class="panel panel-default">
  <div class="panel-heading"><h3> List of new users </h3></div>
    <table id='new_user-table' class='display table' >
      <thead>
        <tr>
          <th>username</th>
          <th>email</th>
          <th>date joined</th>
          <th>kgs_username</th>
          <th>ogs_username</th>
          <th>Communities interest</th>
          <th>Delete</th>
          <th>email</th>
          <th>No games</th>
          <th>Accept</th>
        </thead>
        <tbody>
          {% for new_user in new_users %}
          <tr>
            <td>{{new_user.username}}</td>

            <td>
              {% with new_user.get_primary_email as email %}
              {% if email is none %}
              {{new_user.email}}
              {% else %}
              {{email.email}}
              {% if email.verified %}
              {% bootstrap_icon "ok" %}
              {% endif %}
              {% endif %}
            </td>
            {% endwith %}
            <td>{{ new_user.date_joined | date:"SHORT_DATE_FORMAT" }}</td>
            <td>
              {% if new_user.profile.kgs_username %}
              <a href="https://www.gokgs.com/gameArchives.jsp?user={{new_user.profile.kgs_username}}" target="_blank">{{new_user.profile.kgs_username}}</a>
              {% endif %}
            </td>
            <td>
              {% if new_user.profile.ogs_id > 0 %}
                 <a href="https://online-go.com/player/{{new_user.profile.ogs_id}}">{{new_user.profile.ogs_username}}</a>
              {% endif %}
            </td>
            <td>
              {{new_user | new_member_communities}}
            </td>
            <td>
              <button class="btn newuser btn-danger btn-xs" action="delete" user_name="{{new_user.username}}" user_id="{{new_user.pk}}">
                {% bootstrap_icon "remove" %}
              </button>
            </td>
            <td>
              <button class="btn newuser btn-danger btn-xs" action="delete_email_confirm" user_name="{{new_user.username}}" user_id="{{new_user.pk}}">
                {% bootstrap_icon "remove" %}
              </button>
            </td>
            <td>
              <button class="btn newuser btn-danger btn-xs" action="delete_no_games" user_name="{{new_user.username}}" user_id="{{new_user.pk}}">
                {% bootstrap_icon "remove" %}
              </button>
            </td>
            <td>
              <button class="btn newuser btn-success btn-xs" action="welcome" user_name="{{new_user.username}}" user_id="{{new_user.pk}}">
                {% bootstrap_icon "ok" %}
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

  </div>

<div class="panel panel-default">
<div class="panel-heading"><h3> Admin board <a class="btn btn-default pull-right" href="/admin/pages/4/add_subpage/">Create new blog post</a></h3></div>
<iframe name="embed_readwrite" frameBorder="0" src="{{board_url}}" width="100%" height="500px"></iframe>
</div>
</div>




{% endblock %}

{% block extra_js %}
<script>

// we will do some ajax post request and hence we will need to grab csrf from cookie.
// https://docs.djangoproject.com/en/1.11/ref/csrf/#ajax
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
$.ajaxSetup({   headers: {  "X-CSRFToken": csrftoken  }  });
// end of csrftoken cookie set up

	$('.btn.newuser').click(function(){
		var user_id = $(this).attr("user_id");
		var user_name = $(this).attr("user_name");
		var action = $(this).attr("action");
		if(!action.startsWith("delete") || confirm('Are you sure you want to delete ' + user_name + ' from the database?') ){
			//send request to back-end
			$.ajax({
				type:"POST",
				url: "{% url 'league:admin'%}",
				data:	{
					'user_id' : user_id,
					'action' : action
				}
			});
			//hide user
	    $(this).parent().parent().remove();
		}
	});


</script>
{% endblock %}
