{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags%}
{% block title %}OSR league admin - league{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>League manager</h1>
</div>
{%endblock%}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h3>
        List of OSR leagues
        <a href= "{% url 'league:admin_events_create' %}">
            <button class="btn btn-success pull-right clearfix">
                {%bootstrap_icon 'plus'%} Create new league
            </button>
        </a>
    </h3>
  Community leagues are blue</div>
		<div class="panel-body">
			{% include "league/admin/event_list.html" with events=events %}
		</div>

</div>

{% endblock %}


{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#leagues-table').DataTable({
    "bLengthChange": false ,"dom":'<"H"lr>ft<"F"ip>',
    "columnDefs": [ {
      targets: 4,
      render: $.fn.dataTable.render.moment( 'MMM DD, YYYY','MMM DD, YYYY' )
    } ],
    "order": [[ 4, "desc" ]]
  });
} );
</script>

{% endblock %}
