{% load community_tags l10n i18n %}
{% localize off %}
{% language 'en' %}
<table id='leagues-table' class='display table' cellspacing='0' width='100%' >
	<thead>
		<th>Status</th>
		<th>Public?</th>
		<th>Name</th>
		<th>Begin</th>
		<th>End</th>
    <th>Community</th>
		<th>Players</th>
		<th>#Divisions</th>
		<th>#Games</th>
		<th>ppw</th>
		<th>ppl</th>
		<th>min match</th>
    <th>copy</th>
	</thead>
	<tbody>
	{% for event in events %}
	<tr {% if event.community is not None%} class="info"{% endif %}>
		<td> {% if event.is_open %} <b>Open</b> {% else %} Closed {% endif %}</td>
		<td>{% if event.is_public %} public {% else %} Private {% endif %}</td>
		<td> <a href= "{% url 'league:admin_events_update' event.pk %}"> {{ event.name }} </a> </td>
		<td> {{ event.begin_time | date:"M d, Y" }}  </td>
		<td> {{ event.end_time | date:"M d, Y" }} </td>
    <td>{{ event.community | community_link }}</td>
		<td><a href="{% url 'league:admin_users_list' event.pk %}">	{{ event.number_players }} </a></td>
		<td> {{ event.number_divisions }}</td>
		<td> {{ event.number_games }} </td>
		<td> {{ event.ppwin }} </td>
		<td> {{ event.pploss }} </td>
		<td> {{ event.min_matchs }} </td>
    <td> <a href= "{% url 'league:admin_events_create' event.pk %}"> <i class="fa fa-copy"></i> </a> </td

	</tr>
	{% endfor %}
	</tbody>
</table>

{% endlanguage %}

{% endlocalize %}
