{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags%}
{% block title %}OSR league admin - Events{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>Event manager</h1>
</div>
{%endblock%}
{% block content %}

<div class="panel-body">
	<div class ="row">
		<div class="panel panel-default">
			<form action="" method="GET">{% csrf_token %}
			<button type="submit" class="btn btn-xs" formaction="{% url 'league:admin_events_create' %}">
			  {% bootstrap_icon 'plus'%}
			  Create Event
			</button>
			</form>
			<div class="panel-heading"><h3>List of events</h3></div>
			{% include "league/admin/event_list.html" with events=events %}
		</div>
	</div>
</div>


{% endblock %}
