{% extends "full_width.html" %}
{% load bootstrap3 league_tags%}
{% block title %}OSR league admin{% endblock %}
{% block content %}
<form  method="post" class="form">
    {% csrf_token %}
<div class='row'>
  <div class="panel panel-default">
  <div class="panel-heading"><h4>Rollover overview</h4></div>
  <div class="panel-body">
    <div class='col-md-8'>
    <p>You are populating <b>{{to_event}}</b> with players from <b>{{from_event}}</b> </p>
    <p>Out of {{from_event.number_players}} players, {{from_event.number_actives_players}} were active and {{from_event.number_inactives_players}} will get drop.</p>
    <p> The minimum number of games to stay in the league is set to <b>{{from_event.min_matchs}}</b><p>
    </div>
    <div class='col-md-2'>
      <button type="submit" class="btn btn-info" formaction="{% url 'league:admin_event_populate' to_event.pk from_event.pk%}" >
    {% bootstrap_icon "refresh" %}  Preview
  </button>
    </div>
    <div class='col-md-2'>
      {%if preview%}
    <button type="submit" class="btn btn-success" formaction="{% url 'league:admin_proceed_populate' to_event.pk from_event.pk  %}"onclick="return confirm('Populate the new {{to_event}} with above players ?')" >
      {% bootstrap_icon "ok" %}  save
    </button>
    {%endif%}
  </div>
</div>
  </div>
</div>


<div class='row'>

  <div class='col-md-6'>
    <legend> {{from_event}} </legend>

  {% for division in divisions %}
  <div class="panel panel-default clearfix">
  <div class="panel-heading">{{division.name}}
    <div class="pull-right"> {{division.number_players}} players | {{division.number_games}} games</div>
  </div>
  <div class="panel-body">

    <table class='table table-condensed'  >
       <thead>
         <tr>
           <th>Rank</th>
           <th>Player</th>
           <th>Score</th>
           <th>Games</th>
           <th>Next</th>
        </tr>
      </thead>

      <tbody>

  {% for player in division.results %}
      <tr {% if player.is_active %} class= "danger"{% endif %}>
        <td>{{forloop.counter}}</td>
        <td>{{player.user |user_link}}</td>
        <td>{{player.score}}</td>
        <td>{{player.n_games}}</td>
        <td>{% if player.is_active %}  {{form |player_field:player.pk }} {% endif %}</td>
      </tr>


  {% endfor %}

  </tbody>
</table>

  </div>
  </div>

  {% endfor %}

</div>


<div class ='col-md-6'>
  <legend> {{to_event}} preview </legend>
  {%  for division, players in new_players.items %}
  <div class="panel panel-default">
  <div class="panel-heading clearfix">{{division}}
    <div class="pull-right"> {{players|length}} players</div>
  </div>
  <div class="panel-body">
  <table class='table table-condensed'  >
     <thead>
       <tr>
         <th>Player</th>
         <th>Previous division</th>
      </tr>
    </thead>

    <tbody>
      {% for player in players %}
        <tr>
            <td>{{player.user |user_link}}</td>
            <td>{{player.previous_division.name}}</td>
          </tr>


      {% endfor %}

      </tbody>
    </table>
</div>
</div>
{% endfor %}
</div>

</div>
</form>
{% endblock %}
