{% extends "league/admin/base.html" %}
{% load bootstrap3 wgo_tags league_tags%}
{% block title %}Edit a sgf{% endblock %}

{% block heading %}
<div class="page-header">
    <h1>{{sgf.wplayer}} vs {{sgf.bplayer}} the {{sgf.date |date:"M d, Y"}}</h1>
</div>
{%endblock%}
{% block content %}

<div class="row">
  <div class="col-md-4">
    <p>
    <button form="sgf-form" type="submit" class="btn btn-info " formaction="{%url 'league:edit_sgf' sgf.pk%}" >
      {% bootstrap_icon "refresh" %}  Check sgf
    </button>
  </p>
  </div>
  <div class="col-md-4">
    <form  method="post" class="form">
    {% csrf_token %}
    <input type="hidden" name="action" value="delete_sgf">
    <button form="sgf-form" type="submit" class="btn btn-danger " formaction="{%url 'league:delete_sgf' sgf.pk%}" onclick="return confirm('Are you sure you want to delete this SGF ?')" >
      {% bootstrap_icon "remove" %}  Delete SGF
    </button>
    </form>
    </div>
</div>
{% if preview %}
<div class="row">
<div class="alert alert-info" role="alert">This is a preview of your changes. Click <button form="sgf-form" type="submit" class="btn btn-success btn-xs" formaction="{%url 'league:save_sgf' sgf.pk%}"onclick="return confirm('Save the sgf to db ?')" >
  {% bootstrap_icon "ok" %} Save sgf
</button> to save them to the database.</div>
</div>
{% endif %}
<div class="row">

   <div class="col-md-3">
     <div class="panel panel-default">
       <div class="panel-heading"> Sgf infos</div>
     <table class="table table-condensed">
    <tbody>
      <tr>
        <th>ID</th>
        <td> {{sgf.pk}}</td>
      </tr>
        <tr>
          <th>White</th>
            <td>{{sgf.wplayer}}</td>
        </tr>
        <tr>
          <th>Black</th>
            <td>{{sgf.bplayer}}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td> {{sgf.date |date:"M d, Y"}}</td>
        </tr>
        <tr>
          <th>Result</th>
          <td> {{sgf.result}}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td> {{sgf.game_type}}</td>
        </tr>
        <tr>
          <th>p_status</th>
          <td> {{sgf.p_status | p_status}}</td>
        </tr>
        <tr>
          <th>Download </th>
          <td>   <a href="{% url 'league:sgf' sgf.pk%}">{% bootstrap_icon 'save' %} </a></td>
        </tr>


      </tbody>
    </table>
</div>

{% include 'league/includes/sgf_errors.html' %}

</div>





<div class="col-md-4">
  <form id="sgf-form"  method="post" class="form">
  {% csrf_token %}
    {% bootstrap_form form %}

  </form>




</div>
<div class="col-md-5">
  <div data-wgo="{{ sgf.sgf_text  | prepare_sgf}}">
</div>
</div>
</div>

{% endblock %}
