{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags%}
{% load l10n i18n tz %}
{% block title %}OSR league admin - Users{% endblock %}
{% block heading %}
<div class="page-header">
  {% if event is None %}
    <h1>All OSR users</h1>
    {% elif division is None %}
    <h1>All OSR users from {{event}}</h1>
    {% else %}
    <h1>All OSR users from {{event}} in {{division}}</h1>
    {% endif %}
</div>
{%endblock%}

{% localize off %}
{% block content %}
{% language 'en' %}
{% timezone "UTC" %}

{% get_meijin as meijin %}

<table id='users-table' class='display table table-hover' cellspacing='0' width='100%' >
	<thead>
	<tr>
		<th>User</th>
		<th>KGS username</th>
    <th>OGS username</th>
		<th>Send email</th>
    <th>Set meijin</th>
    <th>Date joined</th>
	</thead>
	<tbody>
	{% for user in users %}
	<tr>
    <td>{{user.username}}</td>
    <td>{{user.profile.kgs_username}}</td>
    <td>{{user.profile.ogs_username}}</td>
    <td><a href="{% url 'league:admin_user_send_mail' user.pk %}" > {%bootstrap_icon "send"%}</a></td>

    <td>
        <form action="{% url 'league:set_meijin'%}" method="post" class="form">
          {% csrf_token %}
          <input type="hidden" name="action" value="set_meijin">
          <input type="hidden" name="user_id" value="{{user.pk}}">
          <button type="submit" class="btn btn-primary btn-xs"> <i class="fa fa-trophy"></i></button>
        </form>
    </td>
    <td>{{user.date_joined | date:'M d, Y'}}</td>
  </tr>
  {%endfor %}
</tbody>
</table>
{% endtimezone %}
{% endlanguage %}
{%endblock%}
{% endlocalize %}
{% block extra_js %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>

<script type="text/javascript">
$(document).ready(function() {
$('#users-table').DataTable({
  "columnDefs": [ {
    targets: 5,
    render: $.fn.dataTable.render.moment( 'MMM DD, YYYY','MMM DD, YYYY' )
  } ],
  "order": []
});
} );
</script>
{% endblock %}
