{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags i18n %}
{% block title %}{% trans "OSR league admin" %} - {% trans "Send mail" %}{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>{% blocktrans with user=user %}Send an email to {{user}}{% endblocktrans %}</h1>
</div>
{%endblock%}
{% block content %}

<form action="{% url 'league:admin_user_send_mail' user.pk %}"  method="post" class="form">
{% csrf_token %}
  {% bootstrap_form form %}
  <button  type="submit" class="btn btn-primary" onclick="return confirm('Send this email to {{user}} ?')" >
    {% bootstrap_icon "send" %} Send mail
  </button>
</form>


{% endblock %}
