{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags%}
{% block title %}OSR league admin - Users{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>Users</h1>
</div>
{%endblock%}
{% block content %}

<table id='events-table' class='display table' cellspacing='0' width='100%' >
	<thead>
	<tr>
		<th>User</th>
		<th>KGS username</th>
		<th>Send email</th>
    <th>Division</th>
	</thead>
	<tbody>
	{% for user in users %}
	<tr>
    <td>{{user|user_link}}</td>
    <td>{{user.kgs_username}}</td>
    <td><a href="{% url 'league:admin_user_send_mail' user.pk%}" > {%bootstrap_icon "envelope"%}</a></td>
    <td>{% if user.is_in_primary_event %} {{user.get_primary_event_player.division}}{%endif%}</td>
    <td>
  </tr>
  {%endfor %}
</tbody>
</table>

{% endblock %}
