{% extends "full_width.html" %}

{% load account %}

{% load bootstrap3 %}
{% block title %}Log in {% endblock %}
{% block heading %}
<div class="page-header">
    <h4>Log into an existing account</h4>
</div>
{% endblock %}
{% block page_content %}
    <div class="rows">
        <div class="floatbox_news">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="button" style="margin-right: 10px;">Log in</button>
                <a href="{% url 'account_reset_password'%}"> Forgot your password?</a>
            </form>
            {% if ACCOUNT_OPEN_SIGNUP %}
                <p class="login-signup">
                    <small>
                       Don't have an account?  <strong><a href="{% url 'account_reset_password'%}"> Sign up </a></strong>
                    </small>
                </p>
            {% endif %}
        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}

{% block extra_js %}
        <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
