{% extends "full_width.html" %}

{% load account %}

{% load bootstrap3 %}
{% block title %}Log in {% endblock %}
{% block heading %}
<div class="page-header">
    <h1>Log in to an existing account</h1>
</div>
{% endblock %}
{% block page_content %}
    <div class="row">

<div class="alert alert-danger">
  We faced a server issue and lost all data since from 12 to 18 January. If you register in this timerange, we are sorry to say we lost your account. Please register again.
See <a href="/blog/2018/01/18/server-issue-one-week-datas-loss-games-will-be-fine/">here</a> for details or contact us at openstudyroom@gmail.com.
</div>
        <div class="col-md-4">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">Log in</button>
                <a href="{% url 'account_reset_password'%}" class="btn btn-link"> Forgot your password?</a>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}

{% block extra_js %}
        <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
