{% extends "full_width.html" %}

{% load bootstrap3 i18n %}

{% block heading %}
<div class="page-header">
    <h1>{% trans "Log out" %}</h1>
</div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_logout" %}">
                <fieldset>
                    {% csrf_token %}
                    <p>{% trans "Are you sure you want to log out?" ?}</p>
                    <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
