{% extends "base.html" %}
{% load account_tags %}


{% block content %}
    <h1> Password reset sent </h1>
    {% if not resend %}
        <p>We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at >.</p>

        <div class="row">
            <div class="col-md-5">
                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-primary">{% trans "Resend" %}</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>We have resent the password email. If you do not receive it within a few minutes, contact us at </a>.</p>
    {% endif %}
{% endblock %}
