{% extends "full_width.html" %}

{% load bootstrap3 i18n %}
{% load account %}

{% user_display request.user as user_display %}

{% block content %}
    <div class="row">
      <nav class="navbar navbar-default">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="{% url "league:league_account" user%}">League</a></li>
        <li ><a href="{% url "forum_member:profile" user.pk%}">Forum</a></li>
      </ul>
      {% if request.user.is_authenticated and user == request.user%}
      <ul class="nav navbar-nav navbar-right active" style="margin-right:5px;">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Manage <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <li><a href="{% url "account_change_password" %} ">Password</a></li>
        <li ><a href="{% url 'account_email' %}">Email</a></li>
      </ul>
      </ul>
      {%endif %}
      </nav>
    </div>
    <div class= "row">
        <div  class="col-md-8">
            <form method="POST" action="">
                <legend>Password reset</legend>
                <p class="lead">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
                <fieldset class="row">
                    <div class="col-md-5">
                        {% csrf_token %}
                            {% bootstrap_form form %}

                        <button type="submit" class="btn btn-primary">
                            Reset my password
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
{% endblock %}

{% block extra_js %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
