{% extends "account/base.html" %}


{% load bootstrap3 %}

{% block body_class %}account account-settings{% endblock %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_settings" %}">
                <legend>Account</legend>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
