{% extends "full_width.html" %}

{% load account i18n %}

{% load bootstrap3 %}
{%block title%}Sign up{%endblock%}
{% block extra_css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}

{% block heading %}
<div class="page-header">
    <h1>{% trans "Join the Open Study Room" %}</h1>
</div>
{% endblock %}


{% block content %}
    <div class="row">
      <div class="col-md-8">
        <legend><h3>{% trans "The Open Study Room" %}</h3></legend>
          <p>
      {% trans "Take chance to join an online go community dedicated to play, teach, learn and study the fascinating game of go" %}.
      </p>
      <p>
        {% trans "It's free, community driven, and we welcome everyone from beginers to strong dans" %}.
      </p>
      <p>
        {% trans "If you are uncertain what OSR is, or have any questions, be sure to read our <a href='/faq/'>FAQ</a>. You can also ask us directly in <a href='https://discord.gg/b7meDjX'>Discord server</a>" %}.
      </p>
        <legend><h3>{% trans "Register here" %}</h3></legend>
      <p>
        {% trans "Registering will allow you to participate in our <a href='/league/league_rules'>leagues</a>, use our <a href='/forum/'>forums</a> and our discord server" %}.
      </p>
      <p>
        {% trans "Just fill this form by indicating your <a href='https://www.gokgs.com'>KGS</a> and/or <a href='https://online-go.com'>OGS</a> username so that our automatic game finder can upload your league games to your profile" %}.
      </p>
      <p> {% trans "We will check that your OGS/KGS username are valid (at least one game) and that you verify your email before activating your account" %}.</p>
      <p>{% trans "Setting your timezone will allow our website to adapt all times to your local time" %}.</p>
      <legend><h3>{% trans "OSR code of conduct" %}</h3></legend>
      <p>{% trans "By creating an account on OSR website, you agree to <a href='/code-conduct/'>OSR code of conduct</a>. Just simple common sense rules so everyone can get along nicely" %}.</p>
      </div>

        <div class="col-md-4">
            <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                <legend><h3>{% trans "Sign up" %}</h3></legend>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {%bootstrap_field form.username show_label=False addon_before="<span class='glyphicon glyphicon-user'></span>  " %}
                {%bootstrap_field form.email show_label=False addon_before="<span class='glyphicon glyphicon-envelope'></span>  " %}
                {%bootstrap_field form.password1 show_label=False addon_before="<span class='glyphicon glyphicon-lock'></span>  " %}
                {%bootstrap_field form.password2 show_label=False addon_before="<span class='glyphicon glyphicon-lock'></span>  " %}
                <div class="control-label"> {% trans "Go servers usernames" %}</div>
                <div class="help-block">{% trans "We ask at least one valid username from KGS or OGS" %}.</div>
                {%bootstrap_field form.kgs_username show_label=False addon_before="<span class='small'>KGS</span>" %}
                {%bootstrap_field form.ogs_username show_label=False addon_before="<span class='small'>OGS</span>" %}
                {%bootstrap_field form.egf_id show_label=True addon_before="<span class='small'>EGF</span>" %}


                {%bootstrap_field form.timezone show_label=True addon_before="<span class='glyphicon glyphicon-globe'></span>  " %}
                {%bootstrap_field form.communities show_label=True addon_before="<span class='glyphicon glyphicon-globe'></span>  " %}
                <div class="help-block">{% trans "Selection of <a href='/community/'>communities</a> hosted by OSR you may have interest in" %}.</div>

                  <input type="hidden" name="{{ redirect_field_name }}" value="/welcome/">
                <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
            </form>
            <p class="login-signup">
                <small>
                   {% trans "Already have an account?"%}  <strong><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></strong>
                </small>
            </p>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
            $('#id_timezone').select2();
        });
    </script>
{% endblock %}
