{% extends "full_width.html" %}

{% load i18n %}

{% block title %}Welcome{% endblock %}

{% block content %}

<h2>Welcome to the Open Study Room!</h2>

<p>Your adventure now begins, as you just joined a young and enthusiastic online community dedicated to playing, studying and teaching Go.</p>
<p>Very soon, our team will add you as an OSR member. Then you will have your own profile page, you'll be able to play league games and use our forum. Make sure to verify your e-mail and check that you have either a valid KGS or OGS account. These two criteria are mandatory in order to join the OSR.</p>

<p>In the meantime, you might want to check out our <a href='/faq'>FAQ</a> to be sure you got a good grasp of what the OSR is about.</p>

<p>You are also very welcome to meet us  in our <a href="https://discord.gg/b7meDjX">discord server</a>, in the Open Study Room on KGS (Room list -> Social), and to join our <a href="https://online-go.com/group/1843">OGS group</a>.</p>

<p>We have sent you an email to you for verification. Please follow the link provided to finalize the signup process. If you do not receive it within a few minutes, contact us at <a href="mailto:openstudyroom@gmail.com">openstudyroom@gmail.com</a>.</p>

{% endblock %}
