{% extends "full_width.html" %}
{% load wagtailcore_tags %}
{% load league_tags %}
{% load bootstrap3 %}

{% block extra_head_js %}
<script type="text/javascript">
function load_game(game_id) {
    $.ajax({
    type: "GET",
    url: "/league/game/json/" + game_id,
    dataType: "json",
    success: processData,
    error: function(){ alert("failed"); }
});

function processData(data)
{
    document.getElementById("game_infos").innerHTML= data.game_infos ;
    var elem = document.getElementById("player");
    var player = new WGo.BasicPlayer(elem, {
      sgf: data.sgf
      });


};
return false;};
</script>
{% endblock %}
{% block body_class %}user{% endblock %}

{% block title %}{{user.username}} league profile{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>{{user.username}} profile</h1>
</div>
{%endblock%}
{% block content %}
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li class="active"><a href="{% url "league:league_account" user%}">League</a></li>
  <li ><a href="{% url "forum_member:profile" user.pk%}">Forum</a></li>
</ul>
{% if request.user.is_authenticated and user == request.user%}
<ul class="nav navbar-nav navbar-right active" style="margin-right:5px;">
  <li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  Manage <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  <li><a href="{% url "account_change_password" %} ">Password</a></li>
  <li ><a href="{% url 'account_email' %}">Email</a></li>
</ul>
</ul>
{%endif %}
</nav>
{% for event in open_events %}

<div class="panel panel-default">
<div class="panel-heading"><h4>{{event |event_link}} {{event.event_type}}</h4></div>
<div class="panel-body">

  {%if event.is_in %}
  {% with player=event.this_player %}
  <p><b>{{user.username}}</b> is currently playing for the <b>{{event}}</b> in the <b>{{player.division}}</b> group with the kgs username <b>{{user.kgs_username}}</b>.</p>
</div>
  <table id='{{event.pk}}-opponents-table' class=' table table-hover table-condensed'  >
     <thead>
       <tr>
         <th>Rank</th>
         <th>Player</th>
         <th>score</th>
         <th> {{user.kgs_username}}'s results</th>
      </thead>
      <tbody>

    {% with player.get_results as results %}
    {% for opponent in event.opponents %}
    {% if opponent == player %}
    <tr class="info">
      {%else%}
      <tr>
          {%endif%}
      <td>{{forloop.counter}}</td>
      <td>{{opponent.user | user_link}}</td>
      <td>{{opponent.score}}
      <td>

        {% if opponent.kgs_username in results %}

          {% html_one_player_result%}

        {% endif %}
        </td>

    </tr>

    {% endfor %}
    {% endwith %}
        {% endwith%}
</tbody>
</table>
  {% elif  request.user.is_authenticated and user == request.user %}
  <form action=" {% url 'league:join_event' event.pk user.pk %}" method="post" class="form">
  {% csrf_token %}
  <input type="hidden" name="action" value="join">
  <span>You are not playing in {{event}}. Maybe you want to join the {{event.last_division}} ?</span>

  <button type="submit" class="btn btn-primary"  onclick="return confirm('You are about to join the {{event}}. Allright?')">
  {% bootstrap_icon "ok" %} Join !
  </button>
  </form>
</div>
  {% else %}
  {{user.username}} is not playing in {{event}}.
</div>
  {%endif %}

</div>



{% endfor %}

<div class="panel panel-default">
<div class="panel-heading"><h3>All events</h3></div>

<table id='player-table' class='table' >
   <thead>
     <tr>
       <th>Event</th>
       <th>Division</th>
       <th># win</th>
       <th># loss</th>
       <th># games </th>
    </thead>
    <tbody>
{% for player in players %}
  <tr>
    <td>{{player.event |event_link}}</td>
    <td>{{player.division |division_link}}</td>
    <td>{{player.nb_win}}</td>
    <td>{{player.nb_loss}}</td>
    <td>{{player.nb_games}}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="panel panel-default">
<div class="panel-heading"><h3>{{user}} Games</h4></div>
  {% if games is None %}
  <div class="panel-body">
    {{user}} didn't play any league game yet.
  {% else %}
<div class ="row">
<div class="col-md-4">
  <div id ="game_infos">
</div>

{% include "league/includes/games.html" with games=games %}
</div>

<div class="col-md-8">

    <div id="player">
      <div class="alert alert-info">
      Click a game result and it will be launched in a goban.
    </div>
  </div>
</div>
</div>
{%endif%}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#game-table').DataTable({"bLengthChange": false ,"dom":'<"H"lr>ft<"F"ip>',
  "columnDefs": [ {
    targets: 0,
    render: $.fn.dataTable.render.moment( 'MMM DD, YYYY','MMM DD, YYYY' )
  } ],
  "order": [[ 0, "desc" ]]});
{% for event in open_events %}
$('#{{event.pk}}-opponents-table').DataTable({});
{% endfor %}
} );

</script>
{% endblock %}
