{% extends "league/base.html" %}
{% load league_tags l10n i18n %}
{% block title %}OSR league - Archives{% endblock %}
{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'league:archives' %}">Archives</a></li>
  {% for ev in open_events %}
  <li>
    {{ev|event_link}}
  </li>
  {% endfor %}
  <li class="pull-right"><a href="{% url 'league:scrap_list' %}">Scrape list</a></li>
  </ul>
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li class="active"><a href="{% url 'league:archives' %}">Leagues</a></li>
  <li><a href="{% url 'league:players'  %}">Players</a></li>
  <li><a href="{% url 'league:games'  %}">Games</a></li>
</ul>
</nav>
<div class="well"> This table show all leagues (past and present) of the Open Study Room. Open leagues are green, <strong>primary leagues</strong> are higlighted.</div>
{% localize off %}
{% language 'en' %}
<table id="leagues-table" class="table">
   <thead>
       <th>Begin time</th>
       <th>End time</th>
       <th>Name</th>
       <th>Type</th>
       <th># Divisions</th>
       <th># Players</th>
       <th># games </th>
  </thead>
  <tbody>
    {% for event in  events %}
      <tr {% if event.is_open %}class="success"{% endif %}>
        <td>{{event.begin_time |date:"Y-m-d"}}</td>
        <td>{{event.end_time |date:"Y-m-d"}}</td>
        <td>
          {{event |event_link}}
           {% if  not event.is_public %}
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            {% endif %}
        </td>
        <td>{{event.event_type}}</td>
        <td>{{ event.number_divisions }}</td>
        <td>{{event.number_players}}</td>
        <td>{{ event.number_games}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endlanguage %}

{% endlocalize %}
{% endblock %}

{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/{{LANGUAGE_CODE}}.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#leagues-table').DataTable({
    "bLengthChange": false ,"dom":'<"H"lr>ft<"F"ip>',
    "columnDefs": [ {
      targets: [0,1],
      render: $.fn.dataTable.render.moment( 'YYYY-MM-DD','L', '{{LANGUAGE_CODE}}' )
    } ],
    "order": [[ 1, "desc" ]]
  });
} );
</script>

{% endblock %}
