{% extends "league/base.html" %}
{% load league_tags %}
{% block title %}OSR league - Archives{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'league:archives' %}">Archives</a></li>
  {% for ev in open_events %}
  <li>
    {{ev|event_link}}
  </li>
  {% endfor %}
  <li class="pull-right"><a href="{% url 'league:scrap_list' %}">Scrap list</a></li>
  </ul>
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li class="active"><a href="{% url 'league:archives' %}">Leagues</a></li>
  <li><a href="{% url 'league:players'  %}">Players</a></li>
  <li><a href="{% url 'league:games'  %}">Games</a></li>
</ul>
</nav>
<div class="well"> This table show all leagues (past and present) of the Open Study Room. Open leagues are green.</div>
<table class='table'  >
   <thead>
     <tr>
       <th>Begin time</th>
       <th>End time</th>
       <th>Name</th>
       <th>Type</th>
       <th># Divisions</th>
       <th># Players</th>
       <th># games </th>
    </tr>
  </thead>
  <tbody>
    {% for event in  events %}
      <tr {% if event.is_open %}class="success"{%endif%}>
        <td>{{event.begin_time |date:"SHORT_DATE_FORMAT"}}</td>
        <td>{{event.end_time |date:"SHORT_DATE_FORMAT"}}</td>
        <td>
          {{event |event_link}}
           {% if  not event.is_public %}
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            {% endif %}
        </td>
        <td>{{event.event_type}}</td>
        <td>{{ event.number_divisions }}</td>
        <td>{{event.number_players}}</td>
        <td>{{ event.number_games}}</td>
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}}
