{% extends "league/base.html" %}
{% load league_tags l10n i18n %}
{% block title %}OSR league - Archives{% endblock %}
{% block content %}
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("leagues-table");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'league:archives' %}">Archives</a></li>
  {% for ev in open_events %}
  <li>
    {{ev|event_link}}
  </li>
  {% endfor %}
  <li class="pull-right"><a href="{% url 'league:scrap_list' %}">Scrape list</a></li>
  </ul>
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li class="active"><a href="{% url 'league:archives' %}">Leagues</a></li>
  <li><a href="{% url 'league:players'  %}">Players</a></li>
  <li><a href="{% url 'league:games'  %}">Games</a></li>
</ul>
</nav>
<div class="well"> This table show all leagues (past and present) of the Open Study Room. Open leagues are green, <strong>primary leagues</strong> are higlighted.</div>
{% localize off %}
{% language 'en' %}
<table id="leagues-table" class="table">
   <thead>
       <th onclick="sortTable(0)">Begin time</th>
       <th onclick="sortTable(1)">End time</th>
       <th onclick="sortTable(2)">Name</th>
       <th onclick="sortTable(3)">Type</th>
       <th onclick="sortTable(4)"># Divisions</th>
       <th onclick="sortTable(5)"># Players</th>
       <th onclick="sortTable(6)"># games </th>
  </thead>
  <tbody>
    {% for event in  events %}
      <tr {% if event.is_open %}class="success"{% endif %}>
        <td>{{event.begin_time |date:"Y-m-d"}}</td>
        <td>{{event.end_time |date:"Y-m-d"}}</td>
        <td>
          {{event |event_link}}
           {% if  not event.is_public %}
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            {% endif %}
        </td>
        <td>{{event.event_type}}</td>
        <td>{{ event.number_divisions }}</td>
        <td>{{event.number_players}}</td>
        <td>{{ event.number_games}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endlanguage %}

{% endlocalize %}
{% endblock %}

{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/{{LANGUAGE_CODE}}.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#leagues-table').DataTable({
    "bLengthChange": false ,"dom":'<"H"lr>ft<"F"ip>',
    "columnDefs": [ {
      targets: [0,1],
      render: $.fn.dataTable.render.moment( 'YYYY-MM-DD','L', '{{LANGUAGE_CODE}}' )
    } ],
    "order": [[ 1, "desc" ]]
  });
} );
</script>

{% endblock %}
