{% extends "league/base.html" %}
{% load league_tags wgo_tags l10n i18n static %}

{% block title %}Archives - Games {% if sgf %}- {{sgf.black.username}} vs {{sgf.white.username}} {%endif %}{% endblock %}
{% block extra_head_js %}
<script type="text/javascript">
function load_game(sgf_id) {
  $.ajax({
    type: "GET",
    url: "/league/game/json/" + sgf_id,
    dataType: "json",
    success: processData,
    error: function(){ alert("failed"); }
  });

  function processData(data) {
    document.getElementById("game_infos").innerHTML = data.game_infos;
    var elem = document.getElementById("player");
    var player = new WGo.BasicPlayer(elem, {
      sgf: data.sgf,
    });
    window.history.pushState('page2', 'Title', data.permalink);
    document.getElementById("game-header").innerText = ' - ' + data.white + ' vs ' + data.black;
    document.title ='Archives - Games - '+ data.white + ' vs ' + data.black + ' - Open Study Room';
  };

  return false;
};
</script>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'league:archives' %}">{% trans "Archives" %}</a></li>
  {% for ev in open_events %}
  <li>
    <a href="{% url 'league:games' ev.pk %}">
      {% if ev.is_primary %}
        <strong>
      {% endif %}
      {{ev.name}}
      {% if ev.is_primary %}
      </strong>
      {% endif %}</a>
  </li>
  {% endfor %}
  <li class="pull-right"><a href="{% url 'league:scrap_list' %}">{% trans "Scrape list" %}</a></li>
  </ul>
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li><a href="{% url 'league:archives' %}">{% trans "Leagues" %}</a></li>
  <li><a href="{% url 'league:players'  %}">{% trans "Players" %}</a></li>
  <li class="active"><a href="{% url 'league:games'  %}">{% trans "Games" %}</a></li>
</ul>
</nav>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">All OSR games</div>
            {% include "league/includes/games.html" with sgfs=sgfs %}

            <div class="gametable_info" role="status">Showing {{ start }} to {{ end }} of {{ sgf_count }} entries</div>
            <div class="gametable_paginate">
                <ul class="pagination">
                    <li class="paginate_button {% if page == 1 %}disabled{% endif %}">
                        <a href="{% if page > 1 %}?page={{ page|add:'-1' }}{% endif %}">Previous</a>
                    </li>
                    {% for i in page_range %}
                        <li class="paginate_button {% if i == page %}active{% endif %}"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    <li class="paginate_button {% if page >= total_pages %}disabled{% endif %}">
                        <a href="{% if page < total_pages %}?page={{ page|add:1 }}{% endif %}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div id ="game_infos">
          {% if sgf %}
        {% include "league/includes/game_info.html"  %}
          {% endif %}
      </div>
      {% if sgf %}
      <div id="player" data-wgo="{{ sgf.sgf_text | prepare_sgf}}" >
        </div>
        {% else %}
        <div id="player">
          <div class="alert alert-info">
          {% trans "Click a game result to see it." %}
        </div>
        </div>
      {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/league.css' %}"/>
<link rel="stylesheet" href="{% static 'league/css/archives_games.css' %}"/>
{% endblock %}
