{% extends "league/base.html" %}
{% load league_tags %}
{% block title %}{{event}}- Overview{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li ><a href="{% url 'league:archives' %}">Archives</a></li>
  {%if event not in open_events%}
  <li class="active">{{event |event_link}}</li>
    {%endif%}
  {% for ev in open_events %}
  <li {%if ev == event %} class="active"{%endif %}>
    {{ev|event_link}}
  </li>
  {% endfor %}
  <li class="pull-right"><a href="{% url 'league:scrap_list' %}">Scrap list</a></li>
</ul>
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li class="active"><a href="{% url 'league:event' event.pk %}">Overview</a></li>
  <li><a href="{% url 'league:results' event.pk %}">Results</a></li>
  <li><a href="{% url 'league:players' event.pk %}">Players</a></li>
  <li><a href="{% url 'league:games' event.pk %}">Games</a></li>
</ul>
</nav>

<h3>Infos</h3>
<p>The <b>{{event.name}}</b> started on <b>{{event.begin_time |date:"M d, Y" }}</b> and {% if close %} stoped{% else %}will stop{%endif%} on <b>{{event.end_time |date:"M d, Y" }}</b>.</p>
<p>{{event.number_players}} players played {{event.number_games}} games in {{event.number_divisions}} divisions. That is {{event.percent_game_played}} % of {{event.possible_games}} possible games.</p>

{% endblock %}}
