{% extends "league/base.html" %}
{% load static tz league_tags bootstrap3 calendar_tags community_tags i18n forum_markup_tags%}


{% block title %}{{event}}- Overview{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li ><a href="{% url 'league:archives' %}">{% trans "Archives" %}</a></li>
  {%if event not in open_events%}
  <li class="active">
    {{event |event_link}}
  </li>
    {%endif%}
  {% for ev in open_events %}
  <li {%if ev == event %} class="active"{%endif %}>
    {{ev|event_link}}
  </li>
  {% endfor %}
  <li class="pull-right"><a href="{% url 'league:scrap_list' %}">{% trans "Scrape list" %}</a></li>
</ul>
{% include 'league/includes/league_nav.html' with active='overview' %}

{% get_current_timezone as TIME_ZONE %}
<h3>{% trans "Infos" %}</h3>
{% if event.is_primary %}
<p>{% blocktrans %}This league is a <b>primary league</b>. It means it will be automatically joined when joining another league.{% endblocktrans %}</p>
{% endif %}
<p>{% blocktrans with name=event.name begin_time=event.begin_time|date:"M d, Y H:i"  TIME_ZONE=TIME_ZONE %}The <b>{{name}}</b> started on <b>{{begin_time}}</b> ({{TIME_ZONE}}) and {% endblocktrans %}{% if close %}
  {% comment %}Translators: Following words is for the sentence "the league will start/stop on {{date}}"{% endcomment %}
   {% trans "stoped" %}{% else %}{% trans "will stop" %}{% endif %} {% trans "on" %} <b>{{event.end_time |date:"M d, Y H:i" }}</b> ({{TIME_ZONE}}).</p>
<p>{% blocktrans with number_players=event.number_players number_games=event.number_games number_divisions=event.number_divisions percent_game_played=event.percent_game_played possible_games=event.possible_games %}{{number_players}} players played {{number_games}} games in {{number_divisions}} divisions. That is {{percent_game_played}} % of {{possible_games}} possible games.{% endblocktrans %}</p>

{% if event.additional_informations %}
  {{event.additional_informations|safe|rendered}}
{% endif %}

<h3>{% trans "Game settings" %}</h3>
<ul>
  {% if event.rules_type %}
  <li>{% blocktrans with rules=event.get_rules_type_display %}Game must be played with the <b>{{rules}} rules</b>{% endblocktrans %}.</li>
  {% endif %}
  <li>{% trans "Game must be played on one of the following Go server:" %} {{ event.get_servers_list|join:", "}}.</li>
  <li>{% trans "Game must be <b>public</b>." %}</li>
  {% if event.max_handicap == 0 %}
    <li>{% trans "Games must be played with <b>no handicap</b>" %}</li>
  {% else %}
    <li>{% blocktrans with max_handi=event.max_handicap min_handi=event.min_handicap %}
      Handicap must be between {{min_handi}} and {{max_handi}} inclusive.
     {% endblocktrans %}</li>
  {% endif %}
  <li>{% blocktrans with get_main_time_min=event.get_main_time_min additional_time=event.additional_time %}Games must use <b>Japanese timesetting</b> with at least <b>{{get_main_time_min}} min main time</b> and <b>3 x {{additional_time}} sec byo-yomi</b>.{% endblocktrans %}</li>
  <li>{% blocktrans with tag_upper=event.tag|upper tag_lower=event.tag|lower %}At least one player must tag the game saying <b>{{tag_upper}}</b> or <b>{{tag_lower}}</b>.{% endblocktrans %}</li>
  <li>{%trans "The game can be ranked or free to the convenience of the players." %}</li>
  <li>{% blocktrans with komi=event.komi %}Komi must be set to <b>{{komi}}</b>.{% endblocktrans %}</li>
  <li>{% trans "If played on OGS, <b>game analysis should be disabled</b>." %}</li>
  <li>{% trans "Using a bot such as Leela or Crazy Stone during league game is strictly forbidden. The OSR team might check some games from time to time to look for matching with these go engines." %}</li>
</ul>
<h3> {% trans "League rules" %}</h3>
<ul>
  <li>{% blocktrans with nb_matchs=event.nb_matchs%}Players can play up to <b>{{nb_matchs}} games</b> against the same opponent {% endblocktrans %}{%if event.type == ladder %} {% trans "within the group" %}{%endif%}.</li>
  <li>{% blocktrans with ppwin=event.ppwin pploss=event.pploss %}A win grants <b>{{ppwin}} points</b> and a loss grants <b>{{pploss}}</b>.{% endblocktrans %}</li>
  <li>{% blocktrans with min_matchs=event.min_matchs%}Players who played at least <b>{{min_matchs}} games</b> will be added to the next league, once this one has ended.{% endblocktrans %}</li>
</ul>
<p>{%trans "Players are strongly encouraged to review their game afterward. If both players have the same rank, or if your opponent can't help you in reviewing the game, one should feel free to ask stronger players in our kgs room and/or in our discord channel help for the review." %}</p>
</ul>
{% endblock %}}
{% if event.is_open %}
{% block extra_js %}

<script type="text/javascript" src="{% static 'jquery.countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript">
var end = Date.now() + {{event.remaining_sec}};
$("#countdown").countdown(end,function(event) {
    $(this).html(event.strftime('{%trans "League ends in" %} %D day%!D %H:%M:%S'));
  });
</script>

{% endblock %}
{% endif %}
