{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags tz%}
{% block title %}OSR league admin - Create new Event{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>
      {% if copy_from%}
        Copy {{copy_from}} league
      {% else %}
        Create new Event
      {% endif %}
    </h1>
</div>
{%endblock%}
{% block content %}
{% timezone "UTC" %}
<div class="row">
  <legend>
    {% if copy_from%}
        Copy {{copy_from}} league
    {% else %}
        Create new League
    {% endif %}
  </legend>
  {% include 'league/includes/admin_league_form.html' %}
</div>

{% endtimezone %}
{% endblock %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock extra_css %}

{% block extra_js %}
{{ form.media.js }}
{% endblock extra_js %}
