{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags%}
{% block title %}OSR league admin - Events{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>Edit Event "{{ object.name }}"</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">
<div class="col-md-4">
  <legend>Edit {{object}} </legend>
<form action="" method="POST">{% csrf_token %}
	{% bootstrap_form form %}
	{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
</form>

<form action="" method="POST">{% csrf_token %}
<input type="hidden" name="action" value="set_primary">
<button type="submit" formaction="{% url 'league:set_primary' object.pk %}" class="btn btn-primary btn-xs pull-right">
  Set as primary
</button>
</form>


<form action="{% url 'league:delete_event' object.pk %}" method="POST">{% csrf_token %}
	<input type="hidden" name="action" value="delete_event" />
	<button type="submit" class="btn btn-danger btn-xs pull-right"  onclick="return confirm('Are you sure you want to delete this Event?')">
		Delete
	</button>
</form>

</div>
<div class="col-md-8">
  <legend>{{object}} divisions</legend>
  <div class="panel panel-default">
    <div class="panel-heading"> Create a new division</div>
    <div class="panel-body">
  <form action="" method="POST" class="form-inline" >{% csrf_token %}
  <input id="name" class="form-control" name="name" placeholder="New division name" title=""  type="text">
  <button type="submit" formaction="{% url 'league:admin_create_division' object.pk %}" class="btn btn-primary  pull-right">
    {% bootstrap_icon "plus" %} Create new division
  </button>
  </form>
   </div>
 </div>
  {% for division in object.get_divisions %}
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
<b>{{division}}</b>
       <div class="pull-right"> {{division.number_players}} players | {{division.number_games}} games</div>
     </div>
    <div class="panel-body">
      <div class="col-md-6">
      <form action="" method="POST" class="form-inline" >{% csrf_token %}

      <input id="name" class="form-control" name="name" placeholder="Division name" value="{{division}}" title=""  type="text">
<button type="submit" formaction="{% url 'league:admin_rename_division' division.pk %}" class="btn btn-primary">
  Rename
</button>
</form>
</div>
<div class="col-md-4">
      <form action="" method="POST" class="form-inline" >{% csrf_token %}
        <input type="hidden" name="action" value="delete_division">
        <button type="submit" formaction="{% url 'league:admin_delete_division' division.pk %}" class="btn btn-danger"
        onclick="return alert('Delete the {% if division.number_players > 0 %}division {{division}} and all its players/games?'{% else %}empty division {{division}}?'{% endif %} )">
          {% bootstrap_icon "remove" %} Delete
        </button>
      </form>
    </div>
    <div class="col-md-1">
      {% if not division.is_first %}
      <form action="" method="POST" class="form-inline" >{% csrf_token %}
        <input type="hidden" name="action" value="division_up">
        <button type="submit" formaction="{% url 'league:admin_division_up_down' division.pk %}" class="btn btn-primary">
          {% bootstrap_icon "arrow-up" %}
        </button>
      </form>
      {% endif %}
    </div>
    <div class="col-md-1">
      {% if not division.is_last %}
      <form action="" method="POST" class="form-inline" >{% csrf_token %}
        <input type="hidden" name="action" value="division_down">
        <button type="submit" formaction="{% url 'league:admin_division_up_down' division.pk %}" class="btn btn-primary">
          {% bootstrap_icon "arrow-down" %}
        </button>
      </form>
      {% endif %}
    </div>
    </div>
  </div>

  {% endfor %}
</div>
</div>
{% endblock %}
