{% extends "league/base.html" %}
{% load tz static league_tags bootstrap3 %}

{% block title %}{{event}}- Players{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li ><a href="{% url 'league:archives' %}">Archives</a></li>
  {%if event not in open_events%}
  <li class="active">{{event |event_link}}</li>
    {%endif%}
  {% for ev in open_events %}
  <li {%if ev == event %} class="active"{%endif %}>
    <a href ="{% url 'league:players' ev.pk %}">{{ev.name}}</a>
    </li>
  {% endfor %}
  <li class="pull-right"><a href="{% url 'league:scrap_list' %}">Scrap list</a></li>
</ul>
{% include 'league/includes/league_nav.html' with active='players' %}
<div class="well"> This table show all users who play{% if not event.is_open %}ed{% endif %} in the {{event.name}}.</div>
{% for division in divisions %}
<div class="checkbox div-checkbox ">
  <label><input class ="check-div"  onchange="filterme()" value="{{division}}" type="checkbox" checked>{{division.name}}</label>
</div>
{% endfor %}
<div id="controls"></div>
<table id='player-table' class=' table table-hover '  >
   <thead>
     <tr>
       <th>Division</th>
       <th>Rank</th>
       <th>Player</th>
       <th>score</th>
       <th># Win</th>
       <th># Loss</th>
       <th># Games</th>
     </tr>
   </thead>
   <tbody>
     {% for division in divisions %}
     {% for player in division.results %}
       <tr>
       <td>{{player.division |division_link}}</td>
       <td>{{forloop.counter}}</td>
       <td>{{player.user | user_link}}</td>
       <td>{{player.score}}</td>
       <td>{{player.n_win}}</td>
       <td>{{player.n_loss}}</td>
       <td>{{player.n_games}}</td>
       </tr>
     {% endfor %}
     {%endfor%}
   </tbody>

{% endblock %}
{% timezone "UTC" %}
{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
 $('#player-table').DataTable({
  //"dom":'<"col-md-2"lf>rt<"col-sm-5"i><"col-sm-5"p>'
}//<"H"lr>ft<"F"ip>'
);

} );

function filterme() {
  //build a regex filter string with an or(|) condition
  var divs = $('.check-div:checkbox:checked').map(function() {
    return '^' + this.value + '\$';
  }).get().join('|');
  console.log(divs.length);
  var table =  $('#player-table').DataTable();
  if (divs.length == 0){
    table
      .columns( 0 )
      .search('youshouldnotnameyourdivlikethat',true,false)
      .draw()
  }
  else{
  //filter in column 0, with an regex, no smart filtering, no inputbox,not case sensitive
  table
    .columns( 0 )
    .search(divs,true,false)
    .draw()
}
}
</script>
{% if event.is_open %}

<script type="text/javascript" src="{% static 'jquery.countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript">
var end = Date.now() + {{event.remaining_sec}};
$("#countdown").countdown(end,function(event) {
    $(this).html(event.strftime('League ends in %D day%!D %H:%M:%S'));
  });
</script>

{% endif %}
{% endblock %}
{% endtimezone %}
