{% extends "league/base.html" %}
{% load tz static league_tags bootstrap3 i18n %}

{% block title %}{{event}} - {% trans "Players" %}{% endblock %}
{% block content %}
{% get_meijin as meijin %}

<ul class="nav nav-tabs">
  <li ><a href="{% url 'league:archives' %}">{% trans "Archives" %}</a></li>
  {%if event not in open_events%}
    <li class="active">{{event |event_link}}</li>
  {%endif%}
  {% for ev in open_events %}
    <li {%if ev == event %} class="active"{%endif %}>
      <a href ="{% url 'league:players' ev.pk %}">
        {% if ev.community %}
        ({{ev.community.slug}})
        {% endif %}
        {% if ev.is_primary %}
          <strong>
        {% endif %}
        {{ev.name}}
        {% if ev.is_primary %}
        </strong>
        {% endif %}
      </a>
    </li>
  {% endfor %}
  <li class="pull-right"><a href="{% url 'league:scrap_list' %}">{% trans "Scrape list" %}</a></li>
</ul>

{% include 'league/includes/league_nav.html' with active='players' %}

<div class="well">
  {% trans "This table show all users who" %} {% if not event.is_open %}{% trans "played" %}{% else %} {% trans "play" %}{% endif %} {% trans "in the" %} {{event.name}}.
</div>

<div class="row equal ">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans "Filter by server (check to only see users who plays on this server)" %}
      </div>
      <div class="panel-body">
        <div class="checkbox div-checkbox ">
          <label>
            <input id="check-kgs" onchange="filterkgs()" value="KGS" type="checkbox">
            KGS
          </label>
        </div>
        <div class="checkbox div-checkbox ">
          <label>
            <input id="check-ogs" onchange="filterogs()" value="OGS" type="checkbox">
            OGS
          </label>
        </div>
      </div>
    </div>
  </div>
  {% if event.number_divisions > 1 %}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% trans "Filter by division (check to see users of this division)" %}
        </div>
        <div class="panel-body">
          {% for division in divisions %}
            <div class="checkbox div-checkbox ">
              <label>
                <input class ="check-div"  onchange="filterdivs()" value="{{division.name}}" type="checkbox" checked>{{division.name}}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
<div id="controls"></div>

<table id='player-table' class=' table table-hover '  >
   <thead>
     <tr>
       <th>{% trans "division" %}</th>
       <th>{% trans "rank" %}</th>
       <th>{% trans "player" %}</th>
       <th>{% trans "score" %}</th>
       <th>{% trans "win" %}</th>
       <th>{% trans "loss" %}</th>
       <th>{% trans "games" %}</th>
       <th class="hidden">OGS</th>
       <th class="hidden">KGS</th>
     </tr>
   </thead>
   <tbody>
    {% for division in divisions %}
      {% for player in division.results %}
        <tr>
          <td>{{player.division |division_link}}</td>
          <td>{{forloop.counter}}</td>
          <td>{{player.user | user_link:meijin}}</td>
          <td>{{player.score}}</td>
          <td>{{player.n_win}}</td>
          <td>{{player.n_loss}}</td>
          <td>{{player.n_games}}</td>
          <td class="hidden">{% if player.user.profile.ogs_id > 0 %}1 {%else%}0{%endif%}</td>
          <td class="hidden">{% if player.user.profile.kgs_username %}1 {%else%}0{%endif%}</td>
        </tr>
      {% endfor %}
    {%endfor%}
  </tbody>
</table>

{% endblock %}
{% timezone "UTC" %}
{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

<script type="text/javascript"src={% static 'league/js/players_list.js'%}></script>
{% if event.is_open %}
  <script type="text/javascript" src="{% static 'jquery.countdown/jquery.countdown.min.js' %}"></script>
  <script type="text/javascript">
    var end = Date.now() + {{event.remaining_sec}};
    $("#countdown").countdown(end,function(event) {
      $(this).html(event.strftime('League ends in %D day%!D %H:%M:%S'));
    });
  </script>
{% endif %}
{% endblock %}
{% endtimezone %}
