{% extends 'full_width.html' %}
{% load bootstrap3 league_tags tz static l10n i18n %}
{% block title %}{% trans "OSR league" %} - {% trans "Random game" %}{% endblock %}

{% block extra_head_js%}

<link href="{% static 'nouislider/nouislider.css'%}" rel="stylesheet">
<script src="{% static 'nouislider/nouislider.js'%}"></script>
<script defer src="{% static 'league/js/random_game.js'%}"></script>
{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>
      {% trans "Random game" %}
    </h1>
</div>
{% endblock %}

{% block content %}
{% get_meijin as meijin %}
Random game from <strong id="date_min"></strong> to <strong id="date_max"></strong> for players ranks <strong id="rank_min"></strong>-<span id="rank_max"></span>

<div id="slider_date" class="slider"></div>
<div id="slider_rank" class="slider"></div>

<form method="POST">
  {% csrf_token %}
  
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary slider">{% bootstrap_icon "refresh" %}</button>
  
</form>

{% if sgf %}

<div class="well">
  {% blocktrans with sgf_white=sgf.white | user_link:meijin sgf_black=sgf.black | user_link:meijin sgf_date=sgf.date %}{{sgf_white}} vs {{sgf_black}} on {{sgf_date}} {% endblocktrans %}<a href="/league/games/{{sgf.pk}}"> link</a>
</div>
{% endif %}
 {% endblock %}
