{% extends "full_width.html" %}
{% load bootstrap3 league_tags%}
{% block title %}OSR league admin{% endblock %}
{% block content %}

<div class='row'>
</div>
<div class='row'>
  <div class='col-md-6'>
  {% for division in from_event.get_divisions %}
  <div class="panel panel-default">
  <div class="panel-heading">{{division}}</div>
  <div class="panel-body">
    <table class='table table-condensed'  >
       <thead>
         <tr>
           <th>Rank</th>
           <th>Player</th>
           <th>Score</th>
           <th>Games</th>
           <th>Next</th>
        </tr>
      </thead>
      <tbody>
        <form>
  {% for player in division.get_players%}

      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{player.user |user_link}}</td>
        <td>{{player.score}}</td>
        <td>{{player.nb_games}}</td>
        <td><select name = "player_{{player.pk}}"class="form-control">
          {% for option in from_event.get_divisions%}
            <option {% if option == division %} selected="selected"{%endif%}>{{option}}</option>
          {% endfor %}
</select></td>
      </tr>


  {% endfor %}
</form>
  </tbody>
  {% endfor %}
</div>
<div class ='col-md-6'>

</div>
</div>

{% endblock %}
