{% extends "full_width.html" %}
{% load bootstrap3 %}
{% block title %}Upload a sgf{% endblock %}
{% block heading%}
  <div class="page-header">
      <h1>Upload a sgf </h1>
  </div>
  {%endblock%}
{% block content %}
<form method="post" class="form">
  {% csrf_token %}
<div class="row">
  <div class="col-lg-4">
    <a href="{% url 'league:admin' %}"class="btn btn-danger text-left">Back to admin</a>
  </div>
  <div class="col-lg-4">
    <button type="submit" class="btn btn-info " formaction="{%url 'league:upload_sgf'%}" >
      {% bootstrap_icon "refresh" %}  Check sgf
    </button>
  </div>
  <div class="col-lg-4">
    {%if sgf.league_valid %}
    <button type="submit" class="btn btn-success " formaction="{%url 'league:create_sgf'%}"onclick="return confirm('Save the sgf and create a league game ?')" >
      {% bootstrap_icon "ok" %} Save sgf
    </button>
    {% endif %}
  </div>
</div>
<div class="row">
{%if sgf.league_valid %}
 <h3>Your sgf is valid !</h3>
 <p>Check details below and click save sgf to add it to the database</p>

 {% else %}
 <h3> Your sgf didn't pass the test for the folowing reasons: {{sgf.message}}</h3>
{% endif %}
</div>

 <div class="row">
   <div class="col-lg-2">

<ul>
  <li>white: {{sgf.wplayer}} </li>
  <li>black: {{sgf.bplayer}} </li>
  <li>date: {{sgf.date |date:"M d, Y"}}</li>
  <li>Result:{{sgf.result}}</li>
  <li>message: {{sgf.message}}</li>
</ul>
</div>
<div class="col-lg-4">

{% bootstrap_field form.sgf  %}
</div>
<div class="col-lg-6">
  <div data-wgo="{{ sgf.sgf_text  }}">
</div>
</div>

</form>

{% endblock %}
