.fc-helper{
  color: black !important;
      background-color: #ffff80 !important;
      border-color: #ffff80;
       opacity: 0.5;
}
.me-available{
  color: black !important;
      background-color: #ffff80 !important;
      border-color: #ffff80;
       opacity: 0.5;
}
.event-deleted{
  display: none;
}
.closeon {cursor: pointer;}
.other-available{
  margin:1px;
  color:white;
}
.controls{
padding-right: 5px;
padding-left: 5px;


}
.hidden{

  display:none!important;
}
.other-available-controls{
  margin-top:10px;
}
.me-available-controls{
  margin-top:10px;
}
.game-request-drag{
  height:64px;
  background-color: #FF8800;
}


.modeless{
    top:1%;
    left:50%;
    bottom:auto;
    right:auto;
    margin-left:-300px;
}

.modal-backdrop{
        display:none !important;
    }

    .modal-open {
  overflow-y: scroll;
}
