.fc-helper{
  color: black !important;
      background-color: #ffff80 !important;
      border-color: #ffff80;
       opacity: 0.5;
}
.me-available{
  color: black !important;
  background-color: #ffff80 !important;
  border-color: #ffff80;
  opacity: 0.5;
  font-size: 1em;

}
.event-deleted{
  display: none;
}
.closeon {cursor: pointer;}
.other-available{
  margin:1px;
  color:white;
  opacity: 0.5;
}
.controls{
padding-right: 5px;
padding-left: 5px;
}

.click-me{
  cursor:pointer;
}
.hidden{

  display:none!important;
}
.other-available-controls{
  padding:10px;
}
.me-available-controls{
  padding:10px;
}
.modeless{
    top:1%;
    left:50%;
    bottom:auto;
    right:auto;
    margin-left:-300px;
}

.modal-backdrop{
        display:none !important;
    }

    .modal-open {
  overflow-y: scroll;
}
.modal-header{
  cursor:grab;
}
.my-gr-active {
    box-shadow: 0 5px 15px #FF8800;
}

.template-homepage .other-available{
  margin:0;
}
