.fc-event {
  padding: 0.5rem;
}

.user-available-event
.fc-event-main,
.fc-event-mirror .fc-event-main {
  color: #000;
}

.fc-event-mirror {
  border-color: rgba(0, 100, 255, 0.5) !important;
  background-color: rgba(0, 100, 255, 0.2) !important;
}

.user-available-event {
  background-color: rgba(0, 100, 255, 0.2) !important;
  border-color: rgba(0, 100, 255, 0.5) !important;
}
a.user-available-event:hover {
  background-color: rgba(0, 100, 255, 0.3) !important;
}

div.available-event {
  background-color: rgba(225, 0, 255, 0.2) !important;
  border-bottom: 1px solid #fff;
}

a.game-request-event-user{
  cursor: pointer;
  border-color: rgba(35, 76, 129, 0.8) !important;;
  background-color: rgba(39, 95, 168, 0.6) !important;
}
a:hover.game-request-event-user {
  background-color: rgba(46, 109, 191, 0.6) !important;
}

a.game-request-event {
  cursor: pointer;
  border-color: rgba(117, 21, 52, 0.5) !important;
  background-color: rgba(173, 28, 74, 0.5) !important;
}
a:hover.game-request-event {
  background-color: rgba(173, 28, 74, 0.6) !important;
}

a.game-request-event .fc-event-title,
a.game-request-event-user .fc-event-title {
  font-weight: 600;
}
