.fc-event {
  padding: 0.5rem;
}

.user-available-event
.fc-event-main,
.fc-event-mirror .fc-event-main {
  color: #000;
}

.fc-event-mirror {
  background-color: var(--user-available-bg-color) !important;
  border-color: var(--user-available-border-color) !important;
}

.user-available-event {
  background-color: var(--user-available-bg-color) !important;
  border-color: var(--user-available-border-color) !important;
}
a.user-available-event:hover {
  background-color: var(--user-available-hover-bg-color) !important;
  border-color: var(--user-available-hover-border-color) !important;
}
div.available-event {
  background-color: var(--available-bg-color) !important;
}

a.game-request-event-user{
  cursor: pointer;
  border-color: var(--user-request-border-color) !important;
  background-color: var(--user-request-bg-color) !important;
}
a:hover.game-request-event-user {
  border-color: var(--user-request-hover-border-color) !important;
  background-color: var(--user-request-hover-bg-color) !important;
}

a.game-request-event {
  cursor: pointer;
  border-color: var(--request-border-color) !important;
  background-color: var(--request-bg-color) !important;
}
a:hover.game-request-event {
  border-color: var(--request-hover-border-color) !important;
  background-color: var(--request-hover-bg-color) !important;
}

a.game-appointment-event {
  border-color: var(--appointment-border-color) !important;
  background-color: var(--appointment-bg-color) !important;
}
a.game-appointment-event-user {
  cursor: pointer;
  border-color: var(--user-appointment-border-color) !important;
  background-color: var(--user-appointment-bg-color) !important;
}
a:hover.game-appointment-event-user {
  border-color: var(--user-appointment-hover-border-color) !important;
  background-color: var(--user-appointment-hover-bg-color) !important;
}

a.game-request-event .fc-event-title,
a.game-request-event-user .fc-event-title,
a.game-appointment-event .fc-event-title,
a.game-appointment-event-user .fc-event-title {
  font-weight: 400;
}

.request-event span {
  font-weight: 600;
  color: var(--request-color);
}
.appointment-event span {
  font-weight: 600;
  color: var(--user-appointment-color);
}
.edit-av-user span {
  font-weight: 600;
}