{% load league_tags bootstrap3 i18n %}
<div class="modal" tabindex="-1" role="dialog" id="userLeagueModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="userLeagueModalTitle"></h4>
      </div>
      <div id="userLeagueModalBody" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="userLeagueModalSave">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<table id="members-table" class="table">
  <thead>
    <th>{% trans "username" %}</th>
    <th>OGS {% trans "username" %}</th>
	<th>KGS username</th>
	{% if admin %}
  <th>{% trans "leagues" %}</th>
  <th>{% trans "kick out" %}</th>
  <th>admin</th>
	{% endif %}
  </thead>
  <tbody>
{% for user in members %}

<tr {% if user in admins %} class="info"{% endif %}>
  <td>{{user|user_link}}</td>
  <td>{{user.profile.ogs_username}}</td>
  <td>{{user.profile.kgs_username}}</td>
  {% if admin %}
    <td>
      <button type="button" class="btn btn-primary" onclick="get_modal_datas({{user.pk}}, {{community.pk}})"><i class="fas fa-cog"></i></button>

    </td>
  <td>  <form action=" {% url 'community:community_quit' community.pk user.pk %}" method="post" >
      {% csrf_token %}
      <div class="form-group">
      <input type="hidden" name="action" value="quit">
      <input type="hidden" name="next" value="{{request.path}}">
      <button type="submit" class="btn btn-danger btn-sm"  onclick="return confirm('
      {% blocktrans with username=user.username %}You are about to kick {{username}}. Allright?{% endblocktrans %}')">
      {% bootstrap_icon "remove" %} {% trans "Kick  !" %}
      </button>
      </div>
      </form>
  </td>
  <td>
	  <div class="row">
		  <div class="col-md-6">
        {% if user not in admins %}
	  <form class="form-inline" role="form" action=" {% url 'community:manage_admins' community.pk%}" method="post" >
	 	{% csrf_token %}
	 	<div class="form-group">
		<input type="hidden" name="user_id" value="{{user.pk}}">
	 	<input type="hidden" name="action" value="add">
	 	<input type="hidden" name="next" value="{{request.path}}">
	 	<button type="submit" class="btn btn-success btn-sm"  onclick="return confirm('
    {% blocktrans with username=user.username %}You are about to add {{username}} as a community admin?{% endblocktrans %}')">
	 	{% bootstrap_icon "plus" %}
	 	</button>
	 	</div>
	 	</form>
        {% endif %}
	</div>
	<div class="col-md-6">
    {% if user in admins %}
	<form class="form-inline" role="form" action=" {% url 'community:manage_admins' community.pk%}" method="post" >
	  {% csrf_token %}
	  <div class="form-group">
  	  <input type="hidden" name="user_id" value="{{user.pk}}">
	  <input type="hidden" name="action" value="rm">
	  <input type="hidden" name="next" value="{{request.path}}">
	  <button type="submit" class="btn btn-danger btn-sm"  onclick="return confirm('
    {% blocktrans with username=user.username %}You are about to remove {{username}} from community admins?{% endblocktrans %}')">
	  {% bootstrap_icon "minus" %}
	  </button>
	  </div>
	  </form>
      {% endif %}
  </div>
</div>
  </td>
  {% endif %}
</tr>

{% endfor %}
</tbody>
</table>
