{% load league_tags bootstrap3 i18n %}
<div class="modal" tabindex="-1" role="dialog" id="userLeagueModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="userLeagueModalTitle"></h4>
      </div>
      <div  class="modal-body">
        <div id="userLeagueModalBody" class="container-fluid">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="userLeagueModalSave">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% if admin %}
<div>
  <input type="checkbox" id="OGS-toggle" class="form-check-input toggle-column" checked data-column="1">
  <label class="form-check-label" for="OGS-toggle">OGS</label>
  <input type="checkbox" id="KGS-toggle" class="form-check-input toggle-column" checked data-column="2">
  <label class="form-check-label" for="KGS-toggle">KGS</label>
  <input type="checkbox" id="EGF-toggle" class="form-check-input toggle-column" data-column="3">
  <label class="form-check-label" for="EGF-toggle">EGF</label>
  <input type="checkbox" id="FFG-toggle" class="form-check-input toggle-column" data-column="4">
  <label class="form-check-label" for="FFG-toggle">FFG</label>
  <input type="checkbox" id="discord-toggle" class="form-check-input toggle-column" data-column="5">
  <label class="form-check-label" for="discord-toggle">discord</label>
</div>
{% endif %}
<table id="members-table" class="table">
  <thead>
    <th>{% trans "username" %}</th>
    <th>OGS {% trans "username" %}</th>
	  <th>KGS {% trans "username" %} </th>
  	{% if admin %}
      <th> EGF ID </th>
      <th> FFG ID </th>
      <th> Discord </th>
      <th>{% trans "leagues" %}</th>
      <th>{% trans "kick out" %}</th>
      <th>admin</th>
  	{% endif %}
  </thead>
  <tbody>
{% for user in members %}

<tr {% if user in admins %} class="info"{% endif %}>
  <td>{{user|user_link}}</td>
  <td> {% if user.profile.ogs_id > 0 %}
        <a href="https://online-go.com/player/{{user.profile.ogs_id}}">{{user.profile.ogs_username}}</a>
      {% endif %}
  </td>
  <td> {% if user.profile.kgs_username %}
        <a href="https://www.gokgs.com/gameArchives.jsp?user={{user.profile.kgs_username}}" target="_blank">{{user.profile.kgs_username}}</a>
      {% endif %}
  </td>
  {% if admin %}
    <td> {% if user.profile.egf_id %}
          <a href="https://www.europeangodatabase.eu/EGD/Player_Card.php?key={{user.profile.egf_id}}">EGF {{user.profile.egf_rank}}</a>
         {% endif %}
    </td>
    <td>{{user.profile.ffg_licence_number}}</td>
    <td>{% if user.discord_user.username %}
      <img class="widget-member-avatar" src="https://cdn.discordapp.com/avatars/{{discord_user.uid}}/{{discord_user.avatar}}">
      <span class="{{user.discord_user.status}}">{{user.discord_user.username}} ({{user.discord_user.discriminator}})</span>
      {% endif %}
    </td>

    <td>
      <button type="button" class="btn btn-primary" onclick="get_modal_datas({{user.pk}}, {{community.pk}})"><i class="fas fa-cog"></i></button>

    </td>
  <td>  <form action=" {% url 'community:community_quit' community.pk user.pk %}" method="post" >
      {% csrf_token %}
      <div class="form-group">
      <input type="hidden" name="action" value="quit">
      <input type="hidden" name="next" value="{{request.path}}">
      <button type="submit" class="btn btn-danger btn-sm"  onclick="return confirm('
      {% blocktrans with username=user.username %}You are about to kick {{username}}. Allright?{% endblocktrans %}')">
      {% bootstrap_icon "remove" %} {% trans "Kick  !" %}
      </button>
      </div>
      </form>
  </td>
  <td>
	  <div class="row">
		  <div class="col-md-6">
        {% if user not in admins %}
	  <form class="form-inline" role="form" action=" {% url 'community:manage_admins' community.pk%}" method="post" >
	 	{% csrf_token %}
	 	<div class="form-group">
		<input type="hidden" name="user_id" value="{{user.pk}}">
	 	<input type="hidden" name="action" value="add">
	 	<input type="hidden" name="next" value="{{request.path}}">
	 	<button type="submit" class="btn btn-success btn-sm"  onclick="return confirm('
    {% blocktrans with username=user.username %}You are about to add {{username}} as a community admin?{% endblocktrans %}')">
	 	{% bootstrap_icon "plus" %}
	 	</button>
	 	</div>
	 	</form>
        {% endif %}
	</div>
	<div class="col-md-6">
    {% if user in admins %}
	<form class="form-inline" role="form" action=" {% url 'community:manage_admins' community.pk%}" method="post" >
	  {% csrf_token %}
	  <div class="form-group">
  	  <input type="hidden" name="user_id" value="{{user.pk}}">
	  <input type="hidden" name="action" value="rm">
	  <input type="hidden" name="next" value="{{request.path}}">
	  <button type="submit" class="btn btn-danger btn-sm"  onclick="return confirm('
    {% blocktrans with username=user.username %}You are about to remove {{username}} from community admins?{% endblocktrans %}')">
	  {% bootstrap_icon "minus" %}
	  </button>
	  </div>
	  </form>
      {% endif %}
  </div>
</div>
  </td>
  {% endif %}
</tr>

{% endfor %}
</tbody>
</table>
