{% load bootstrap3 league_tags static tz%}
{% load l10n i18n %}

<table class="table" id="tournaments-table">
 <thead>
   <th>{% trans "name" %}</th>
   <th>{% trans "begin time" %}</th>
   <th>{% trans "end time" %}</th>
   {% if admin %}
   <th> {% trans "manage" %}</th>
   <th>{% trans "delete" %}</th>
   {% endif %}
 </thead>

<tbody>
  {% for tournament in tournaments %}
  <tr>
    <td><a href="{% url "tournament:view" tournament.pk %}">{{tournament.name}}</a></td>

    <td>{{tournament.begin_time |date:"Y-m-d"}}</td>
    <td>{{tournament.end_time |date:"Y-m-d"}}</td>
    {% if admin %}
    <td>
      <a href="{% url 'tournament:manage_settings' tournament.pk %}">
        {% bootstrap_icon 'wrench' %}
      </a>
    </td>
    <td>
    <form action="{% url 'league:delete_event' tournament.pk%}" method="POST">
      {% csrf_token %}
        	<input type="hidden" name="action" value="delete_event" />
          <input type="hidden" name="next" value="{{request.path}}">
        	<button type="submit" class="btn btn-danger btn-xs "  onclick="return confirm('Are you sure you want to delete this event?')">
        	{% bootstrap_icon 'remove-circle' %} {% trans "Delete" %}
        	</button>
        </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>

</table>
