{% load i18n %}
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  {% if request.user.is_osr_admin %}
  <li ><a href="{% url "league:admin" %}">{% trans "Dashboard" %}</a></li>
  <li ><a href="{% url "league:admin_users_list" %}">{% trans "Users" %}</a></li>
  <li ><a href="{% url "community:admin_community_list" %}">{% trans "Communities" %}</a></li>
  <li ><a href="{% url "calendar:admin_cal_event_list" %}">{% trans "Events" %}</a></li>
  {% endif %}
  <li ><a href="{% url "league:admin_events" %}">{% trans "Leagues" %}</a></li>
  <li ><a href="{% url "league:admin_sgf" %}">SGFs</a></li>

</ul>
</nav>
