{% load league_tags bootstrap3 %}
{% get_meijin as meijin %}

  <p class="text-center">
    <span class="pull-left">
  {% if event %}
    {% if event.event_type == "tournament" %}
   <a href="/tournament/{{event.pk}}/games/{{sgf.pk}}" data-toggle="tooltip" title="Permalink">{% bootstrap_icon 'link' %}</a>
  {% else %}
   <a href="/league/games/{{sgf.pk}}" data-toggle="tooltip" title="Permalink">{% bootstrap_icon 'link' %}</a>
  {% endif %}
  {% else %}
     <a href="/league/games/{{sgf.pk}}" data-toggle="tooltip" title="Permalink">{% bootstrap_icon 'link' %}</a>
  {% endif %}
  </span>
  <span>
    <i class="far fa-circle"></i> {{sgf.white |user_link:meijin}} vs {{sgf.black |user_link:meijin}} <i class="fas fa-circle"></i> on {{sgf.date|date:"M d, Y" }}: {{sgf.result}}
</span>
<span class="pull-right">
<a href="{% url 'league:sgf' sgf.pk%}" data-toggle="tooltip" title="Download sgf">{% bootstrap_icon 'save' %}</a>

</span>
</p>
