{% load league_tags bootstrap3 %}
{% get_meijin as meijin %}
<div class="panel panel-default ">
<div class="panel-heading">Game infos</div>
<div class="panel-body">
  <div class="col-md-6">
<p>White: {{sgf.white |user_link:meijin}}</p>
<p> {{sgf.date|date:"M d, Y" }}</p>
<p> <a href="{% url 'league:sgf' sgf.pk%}">{% bootstrap_icon 'save' %} Download sgf</a><p>
</div>
<div class="col-md-6">
<p>Black: {{sgf.black |user_link:meijin}}</p>
<p>{{sgf.result}}</p>

{% if event %}
  {% if event.event_type == "tournament" %}
  <p> <a href="/tournament/{{event.pk}}/games/{{sgf.pk}}">{% bootstrap_icon 'link' %} Permalink</a></p>
{% else %}
  <p> <a href="/league/games/{{sgf.pk}}">{% bootstrap_icon 'link' %} Permalink</a></p>
{% endif %}
{% else %}
  <p> <a href="/league/games/{{sgf.pk}}">{% bootstrap_icon 'link' %} Permalink</a></p>
{% endif %}
</div>
</div>
</div>
