{% load wagtailcore_tags league_tags i18n%}
{% get_meijin as meijin %}

{# generate a table from a game queryset #}
{# don't forget to add the extrajs when including this ! #}
<table id='game-table' class='display table small' cellspacing='0' width='100%'>
   <thead>
     <tr>
       <th>{% trans "date" %}</th>
       <th>{% trans "white" %}</th>
       <th>{% trans "black" %}</th>
       <th>{% trans "result" %}</th>
    </thead>
    <tbody>
{% for sgf in sgfs %}
  <tr>
    <td> {{ sgf.date |date:"Y-m-d" }}</td>
    {% if sgf.winner == sgf.white %}
    <td><b> {{ sgf.white | user_link:meijin}}<b></td>
    <td> {{ sgf.black | user_link:meijin }}</td>

    {% else %}
    <td> {{ sgf.white | user_link:meijin }}</td>
    <td><b> {{ sgf.black | user_link:meijin }}</b></td>
    {%endif%}
    <td> {%if event %}{{ sgf |game_link:event }} {%else%}{{ sgf |game_link}}{%endif%}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
