{% load wagtailcore_tags league_tags i18n %}
{% get_meijin as meijin %}
{% load static %}
<script type="text/javascript"src={% static 'league/js/sgfs_datatable.js'%}></script>
<script>
    $(document).ready(function () {
        games_tab = $("#games_tab");
        games_tab[0].onclick = function()
        {
            loadDataTableGames();
            games_tab[0].onclick = null;
        };
    })

</script>
{# generate a table from a game queryset #}
{# don't forget to add data-community-pk or data-event-pk! #}
<table id='game-table' class='display table small' cellspacing='0' width='100%' data-community-pk = {{ community.pk }}>
   <thead>
     <tr>
       <th>{% trans "date" %}</th>
       <th>{% trans "white" %}</th>
       <th>{% trans "black" %}</th>
       <th>{% trans "result" %}</th>
    </thead>
</table>
