{% load bootstrap3 forum_markup_tags i18n %}
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li {% if active == 'results' %} class="active" {% endif %}>
    <a href="{% url 'league:results' event.pk %}">{% trans "Results" %}</a>
  </li>
  <li {% if active == 'players' %} class="active" {% endif %}>
    <a href="{% url 'league:players' event.pk %}">{% trans "Players" %}</a>
  </li>
  <li {% if active == 'games' %} class="active" {% endif %}>
    <a href="{% url 'league:games' event.pk %}">{% trans "Games" %}</a>
  </li>
  <li {% if active == 'overview' %} class="active" {% endif %}>
    <a href="{% url 'league:event' event.pk %}">{% trans "Infos" %}</a>
  </li>
</ul>
{% if event.is_open %}
<p class="navbar-text navbar-left"></p>
<div id="countdown" class="navbar-text navbar-left"></div>
{% endif %}
{% if can_join %}
<form class="navbar-form navbar-right" style="margin-right:5px;" action=" {% url 'league:join_event' event.pk user.pk %}" method="post" >
  {% csrf_token %}
  <div class="form-group">
  <input type="hidden" name="action" value="join">
  <input type="hidden" name="next" value="{{request.path}}">
  <button type="submit" class="btn btn-default"  onclick="return confirm('{% blocktrans %} You are about to join the {{event}}. Allright? {% endblocktrans %}')">
  {% bootstrap_icon "ok" %} {% trans "Join" %} {{event.name}} !
  </button>
  </div>
  </form>
 {% elif can_quit %}
 <form class="navbar-form navbar-right" style="margin-right:5px;" action=" {% url 'league:quit_league' event.pk user.pk %}" method="post" >
   {% csrf_token %}
   <div class="form-group">
   <input type="hidden" name="action" value="quit">
   <input type="hidden" name="next" value="{{request.path}}">
   <button type="submit" class="btn btn-default"  onclick="return confirm('{% blocktrans %}You are about to quit the {{event}}. Allright?{% endblocktrans %}')">
   {% bootstrap_icon "remove" %} {% trans "Quit" %} {{event.name}} !
   </button>
   </div>
   </form>
{% endif %}
</nav>
