{% load forum_markup_tags l10n i18n bootstrap3 league_tags %}

<div class="col-md-12">

  {% if user.profile.picture_url %}
      <img src="{{user.profile.picture_url}}" style='float:right;max-width:30%;'  class="img-responsive">
  {% endif%}
    {% if user.profile.bio is not None %}
    <p>{{user.profile.bio|safe|rendered}}</p>
    {% endif %}

    {% if user.profile.kgs_username %}
    <p>KGS Username:
      <a href="http://kgs.gosquares.net/index.rhtml.en?id={{user.profile.kgs_username}}" class="{% if user.is_online_kgs %} online{% else %} offline{%endif%}">
      {{user.profile.kgs_username}} {% if user.profile.kgs_rank %}({{user.profile.kgs_rank}}){% endif %}
    </a></p>
    {% endif %}

    {% if user.profile.ogs_id > 0 %}
    <p>OGS Username:
       <a href="https://online-go.com/player/{{user.profile.ogs_id}}" class="{% if user.is_online_kgs %} online{% else %} offline{%endif%}">
         {{user.profile.ogs_username}} {% if user.profile.ogs_rank %}({{user.profile.ogs_rank}}){% endif %}
       </a>
     </p>
    {% endif %}

    {% if user.profile.go_quest_username %}
    <p>Go Quest Username: <a href="http://wars.fm/go9#user/{{user.profile.go_quest_username}}">{{user.profile.go_quest_username}}</a></p>
    {% endif %}

    {% if discord_user %}
    <p>Discord username :
      {% if discord_user.avatar %}
      <img class="widget-member-avatar" src="https://cdn.discordapp.com/avatars/{{discord_user.uid}}/{{discord_user.avatar}}">
      {% endif %}
       <span class="{{discord_user.status}}">{{discord_user.username}} ({{discord_user.discriminator}})</span>
       {% if user == request.user %}
       <a class="btn btn-default btn-xs" href="/discord/">{% bootstrap_icon "refresh"%} Update</a>
      {% endif %}
     </p>
    {% elif request.user == user %}
    <p> Click this button to link your discord account with your OSR account: <a class="btn btn-default btn-xs" href="/discord/">{% bootstrap_icon "user"%}</a>
    {% endif %}

    {% if user.profile.egf_id %}
    <p><a href="https://www.europeangodatabase.eu/EGD/Player_Card.php?key={{user.profile.egf_id}}">EGF {{user.profile.egf_rank}}</a></p>
    {% endif %}
    {% if user.profile.ffg_licence_number %}
    <p>FFG {{user.profile.ffg_rank}}</p>
    {% endif %}
</div>
