{% load bootstrap3 i18n %}
<nav class="navbar navbar-default">
<ul class="nav navbar-nav navbar-left">
  <li {% if active == 'league' %}class="active"{% endif %}><a href="{% url "league:league_account" user%}">{% trans "Leagues" %}</a></li>
  <li {% if active == 'activity' %}class="active"{% endif %}><a href="{% url "league:league_account_activity" user%}">{% trans "Activity" %}</a></li>
  <li {% if active == 'forum' %}class="active"{% endif %}><a href="{% url "forum_member:profile" user.pk%}">Forum</a></li>
</ul>
{% if request.user.is_authenticated %}
{% if user == request.user%}
<ul class="nav navbar-nav navbar-right active" style="margin-right:5px;">
  <li {% if active == 'messages' %}class="active"{% endif %}>
    <a href="{% url "postman:inbox" %}" >
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      Messages
      {% if postman_unread_count > 0 %}
      <span class="badge"> {{ postman_unread_count }}</span>
      {% endif %}
    </a>

  <li {% if active == 'manage' %} class="active"{% endif %}class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  Manage <span class="caret"></span>
  </a>

  <ul class="dropdown-menu">
  <li><a href="{% url "account_change_password" %} ">Password</a></li>
  <li ><a href="{% url "account_email" %}">Email</a></li>
  <li ><a href="{% url "league:timezone_update" %}">Timezone</a></li>

</ul>
</li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right active" style="margin-right:5px;">
  <li ><a href="{% url "postman:write" user.username%}">{% bootstrap_icon "envelope" %} Send message</a></li>
</ul>
{% endif %}
{% endif %}

</nav>
