table#example{
    margin-top:2rem;
}

.table-responsive{
    overflow-x: visible;
}
table#example td, table#example th{
    padding: 1rem;
    width: 4rem;
}   
tr.even-row,
td.even-column{
    background-color:#f8f8f8;
}
td.table-league-highlight {
    background-color: LightGray;
}
.kgs_username{
    transform: rotate(-60deg);
    transform-origin: 0 0;
    position: absolute;
    margin-top: -10px;
}
.table-league-score-highlight{
    text-align: center;
}
.inactive{
    background-color: #ececec;
    color: #b9b9b9;
}
.inactive>a{
    color:#76b9f3;
}
.disabled {
    background-color: #cccccc;
}
.bold {
    font-weight: 600;
}
.even-col, .odd-col {
    text-align: center;
}
