.table-responsive {
    margin-top: 4rem;
}
table#example {
    width:auto;
    overflow-x: visible;
} 
table#example th{
    text-align: center;
    min-width: 4rem;
}
table#example th, table#example td{
    padding: 0.75rem;
} 
.even-row {
    background-color:#f8f8f8;
}
.kgs_username{
    transform: rotate(-60deg);
    transform-origin: 0 0;
    position: absolute;
    margin-top: -10px;
}
.inactive{
    background-color: #ececec;
    color: #b9b9b9;
}
.inactive > a {
    color:#76b9f3;
}
.disabled {
    background-color: #cccccc;
}
.bold {
    font-weight: 600;
}
.even-col, .odd-col {
    text-align: center;
}
