html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
}
.template-homepage > .navbar-static-top{
  margin-bottom:0px;
}
.template-homepage > header{
  width:100%;
  height: auto;
  background-image: url('https://imgur.com/download/q2HkiU5');
  background-repeat: no-repeat;
  background-size: 100%;
  height:600px;
}
.join-us{
  background-image: url('https://openstudyroom.org/media/images/bar.original.original.jpg');
 background-position:100% center;
 background-size: 100%;

 background-repeat: no-repeat;
 padding-top:30px;
 padding-bottom:30px;
 margin-top: 20px;
 margin-bottom: 20px;
 }
 .join-us > h3{
   color:white;
   padding-top:30px;
   padding-bottom:30px;
 }


.socials>a{
  font-size:30px;
  color:rgb(88,88,88);
}

.image-center{
  margin:auto;
}
.post-info{width:50px}
.ancestor > a {
background-color: #080808;
    color: #fff!important;
}
.dropdown-menu > li>a:hover {
    background-color: lightgrey!important;
}


.img-wrapper {
    margin-bottom: 1em;
    position: relative;

    img {
        display: block;
        width: 100%;
        margin-bottom:0;
    }

    &.left {
        float:left;
        width: 45%;
        margin-right: 5%;
    }
    &.right {
        float:right;
        width: 45%;
        margin-left: 5%;
    }
}

.img-wrapper.right {float:right}
.img-wrapper.left {float:left}
.intro{
    font-size:1.4em;
}

.caption {
    padding: 0.2em 1em 0.2em 0.5em;
    margin: 0;
    font-weight: 400;
    background: #F2f2f2;
    font-style: italic;
    display: inline-block;
    z-index: 2;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 0.9em;
    max-width: calc(100% - 10px);

    p{
        margin:0 !important;
    }
}

blockquote{
    margin:2em 0;

    span{
        display:block;
        color: #AAA;
        font-size:0.8em;
    }
}
.sidebar>li>.rich-text>ul{padding-left:0px;}

.cal-event-sidebar{
  margin-left: -10px;
  margin-right: -10px;

}
.cal-event-sidebar div{
  padding-left:5px;
  padding-right: 5px;
}
.cal-event-title{

}

.cal-event-description{
  margin-top:10px;
}
.online::before {
    color: #3f3;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}
.offline::before {
    color: #888;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}
.idle::before {
    color: #faa61a;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}
.dnd::before {
    color: #f04747;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}
.equal {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}

.sidebar .responsive-object>iframe {
   max-width: 100%;
  height:auto!important;
}

.affix{
	max-width: 15.3%!important;
}
.richtext-image.right{
  float:right;
}
.richtext-image.left{
  float:left;
}

 .widget-member-avatar {
 border-radius:8px;
 height:16px;
 width:16px
}
