{% extends "full_width.html" %}
{% load tz static league_tags forum_markup_tags wgo_tags bootstrap3 l10n i18n%}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/league.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/tournament.css' %}"/>

{% endblock %}
{% block title %}{% if sgf %} {{sgf.black.username}} vs {{sgf.white.username}} {% else %}{{tournament.name}} - Games{% endif %}{% endblock %}
{% block extra_head_js %}
<script type="text/javascript">
function load_game(sgf_id) {
    $.ajax({
    type: "GET",
    url: "/league/game/json/" + sgf_id + "/{{tournament.pk}}/",
    dataType: "json",
    success: processData,
    error: function(){ alert("failed"); }
});

function processData(data)
{
    document.getElementById("game_infos").innerHTML= data.game_infos ;
    var elem = document.getElementById("player");
    var player = new WGo.BasicPlayer(elem, {
      sgf: data.sgf
      });
    window.history.pushState('page2', 'Title', '/tournament/{{tournament.pk}}/games/' + data.id);
    document.getElementById("game_infos").innerHTML = data.game_infos ;
    document.getElementById("game-header").innerHTML= ' - ' + data.white + ' vs ' + data.black;
    document.title = data.white + ' vs ' + data.black + '{{tournament.name}} - Games - Open Study Room';
    $("[data-toggle=tooltip]").tooltip();

};
return false;};
</script>
{% endblock %}

{% block heading %}
  <div class="page-header">
    <h1>{{tournament.name}} - Games <span id="game-header"> {% if sgf %} - {{sgf.white}} vs {{sgf.black}}{% endif %}</span></h1>
  </div>
  <div class="">{{tournament.description|safe|rendered}}</div>

{%endblock%}


{% block content %}
{% language 'en' %}
{% include 'tournament/includes/tournament_menu.html' with active="games"%}
<div class ="row">

<div  class="col-md-4">
  <div id ="game_infos">
    {% if sgf %}
  {% include "league/includes/game_info.html"  with event=tournament%}
    {% endif %}
</div>
<div class="panel panel-default">
<div class="panel-heading">Games from {{tournament}}</div>

{% include "league/includes/games.html" with sgfs=sgfs %}

</div>
</div>

<div class="col-md-8">
  {% if sgf %}
  <div id="player" data-wgo="{{ sgf.sgf_text | prepare_sgf}}" >
    </div>
    {% else %}
    <div id="player">
      <div class="alert alert-info">
      Click a game result to see it.
    </div>

    </div>
  {% endif %}

  </div>
</div>

  {%endlanguage%}
{% endblock %}

{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$('#game-table').DataTable({
  "bLengthChange": false ,"dom":'<"H"lr>ft<"F"ip>',

  "columnDefs": [ {
    targets: 0,
    render: $.fn.dataTable.render.moment( 'MMM DD, YYYY','MMM DD, YYYY' )
  } ],
  "order": [[ 0, "desc" ]]
});
} );
</script>

{% endblock %}
