{% extends 'league/admin/base.html' %}
{% load bootstrap3 static league_tags tournament_tags%}
{% block title %}Manage tournament groups{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>{{tournament | tournament_link}} groups</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">
    {% include 'tournament/includes/manage_menu.html' with active='groups' %}
</div>
<div class="row">



  <div class="col-md-3">
  <legend>Players </legend>


  <div class="panel panel-danger ">
    <div class="panel-heading clearfix">
      Remove players by droping it here.
    </div>
    <div id="remove_players"class='panel-body'>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      {{players|length}} registered players
    </div>
    <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        {% for player in players %}
        <li class="list-group-item player">
            {{forloop.counter}}
        </li>
        {% endfor %}
      </ul>

    </div>
    <div  class="col-md-10">
      <div id="players_list">
        {%for player in players %}
          <li data-id={{player.pk}} class="list-group-item
          {% if player.division %}
            disabled
          {% endif %}
           clearfix player
          ">
          <a href="/league/account/{{player.user.username}}">{{player.user.username}}</a>
            <span class="group_name pull-right">
              {{player.division.name}}
            </span>

          </li>
        {%endfor%}
    </div>
  </div>

  </div>
  </div>

</div>
<div class="col-md-6">
  <legend>Groups stage </legend>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">

          <button id="save_groups_button" class="btn btn-success btn-sm pull-right">
              {% bootstrap_icon "ok" %}    Save groups
          </button>
          {% if tournament.stage == 1 %}
          {% bootstrap_icon "ok" %}Group stage is on
          {% else %}
          <form method="POST" class="form-inline" >{% csrf_token %}
            <button type="submit" formaction="{% url 'tournament:set_stage' tournament.pk %}" class="btn btn-primary btn-sm">
              <input type="hidden" name="action" value="1">
              <input type="hidden" name="next" value="{{request.path}}">
                {% if tournament.stage == 0%}
                  {% bootstrap_icon "triangle-right" %} Start group stage
                {% else %}
                  {% bootstrap_icon "triangle-left" %} Back to group stage

                {% endif %}
              </button>
            </form>
          {% endif %}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"> Create a new group</div>
    <div class="panel-body">
      <form action="" method="POST" class="form-inline" >
        {% csrf_token %}
        <input id="name" class="form-control" name="name" placeholder="New group name" title=""  type="text">
        <button type="submit" formaction="{% url 'tournament:create_group' tournament.pk %}" class="btn btn-success btn-sm  pull-right">
          {% bootstrap_icon "plus" %}
        </button>
      </form>
    </div>
  </div>

  <div class="row">
{% for group in groups %}
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="row">
    <form action="" method="POST" class="form-inline" >{% csrf_token %}
      <b>{{group.name}}</b>
      <input type="hidden" name="action" value="delete_division">
      <input type="hidden" name="next" value="{{request.path}}">
      <button type="submit" formaction="{% url 'league:admin_delete_division' group.pk %}" class="btn btn-danger btn-sm pull-right"
      onclick="return confirm('Delete the {{group.name}}')">
        {% bootstrap_icon "remove" %}
      </button>
    </form>
  </div>
  <div class="row">
    <form action="{% url 'league:admin_rename_division' group.pk %}" method="POST" class="form-inline" >{% csrf_token %}
    <input id="name" class="form-control" name="name" placeholder="rename" value="{{division}}" title=""  type="text">
    <input type="hidden" name="next" value="{{request.path}}">
    <button type="submit"  class="pull-right btn btn-primary btn-sm">
      {%bootstrap_icon "refresh"%}
    </button>
    </form>
  </div>
</div>

  <div id="group_{{group.pk}}_players" data-group-name="{{group.name}}" class="panel-body group_players">
      {%for player in group.get_tournament_players %}
          <li data-id={{player.pk}} class="list-group-item clearfix">
            <a href="/league/account/{{player.user.username}}">{{player.user.username}}</a>
            <div class="checkbox div-checkbox pull-right">
              <input class ="refetch check-player" value="{{player.pk}}" type="checkbox" >
            </div>
          </li>
          {% endfor %}


        </li>
</div>

</div>
</div>
{% if forloop.counter|divisibleby:2 %}
</div>
<div class="row">
{% endif %}
{% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block extra_css %}
  {{ form.media.css }}


{% endblock extra_css %}

{% block extra_js %}
{{ form.media.js }}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>




<script>
// ajax crfs setup
{% include 'league/includes/ajax_setup.html' %}

function shuffle(array){
    var currentIndex = array.length, temporaryValue, randomIndex;
    while (0 !== currentIndex){
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
    }
    return array;
}

var players_list_sortable = Sortable.create(players_list,{
    group: {
      name: 'players_list',
      pull: function (to) {
        if (to.el.id == 'remove_players'){
          return false;
        }
        else{
          return 'clone'
        }
      },
      put:false,
      revertClone: true,


  },
  sort:false
});

var remove_players_sortable = Sortable.create(remove_players,{
    group: {
      name: 'players_list',
      put:true
    },
    // Element is dropped into the list from another list
    onAdd: function (evt) {
      if (evt.from.id != 'players_list'){
        evt.item.outerHTML = "";
      }

      id = $(evt.item).attr('data-id')
      // remove group_name element of the item
    //  item.children('.group_name').html('')
      // add indicator at players list
      var player_list_element = $('#players_list')
        .children(`[data-id='${id}']`)
        .not('.sortable-ghost');
      player_list_element.children('.group_name')
          .html("");
      player_list_element.removeClass('disabled');

    },
});

{% for group in groups %}
var group_{{group.pk}}_sortable = Sortable.create(group_{{group.pk}}_players,{
  group: {
    name: 'players_list',
    pull: true,
    put: function (to, from, item){
      // convert everything to jquery element
      to = $(to.el)
      from = $(from.el)
      item = $(item)
      id = item.attr('data-id');

      //don't allow putting from remove list
      if (from[0].id == 'remove_players'){
        return false
      }
      // don't allow puting a player that is already in another group
      if ($('.group_players').children(`[data-id='${id}']`).not('.sortable-ghost').length >0){
        if (from[0].id == 'players_list'){
          return false
        }
      }
      return true
    }
},
onAdd: function (evt) {
  id = $(evt.item).attr('data-id')
  // remove group_name element of the item
  $(evt.item).children('.group_name').html('')
  // add indicator at players list and disable class
  var player_list_element = $('#players_list')
    .children(`[data-id='${id}']`)
    .not('.sortable-ghost');
  player_list_element.children('.group_name')
      .html($(evt.to).attr('data-group-name'));
  player_list_element.addClass('disabled');
  // if we put a new player, we had the select box to the item
  if (evt.from.id == 'players_list'){
    $(evt.item).append('<div class="checkbox div-checkbox pull-right"><input class ="refetch check-player" value="{{player.pk}}" type="checkbox" ></div>')
  }
}
}
);
{% endfor %}
$('#save_groups_button').click(function(){
    var dict = {};
    {% for group in groups %}
      dict[{{group.pk}}] = group_{{group.pk}}_sortable.toArray();
    {% endfor %}
    json_groups = JSON.stringify(dict);
    $.ajax({
        type:"POST",
        url:"{% url 'tournament:save_groups' tournament.pk%}",
        data: {
            'groups': json_groups,
        },
    });
});


$('#shuffle_players').click(function(){
    var ok = confirm("Shuffle the selected players?");
    if ( ok == false ) {
      return false;
    }
    var players = players_list_sortable.toArray();
    var unselected_players = $('.check-player:input:checkbox:not(:checked)').map(function() {
        return this.value;
    }).get();
    // we don't want to shuffle the not selected players
    shuffle_players = shuffle(players);
    // It seems that the previous line change players array and randomize it.
    players = players_list_sortable.toArray();
    // swap fixed elements back to their original position
    unselected_players.forEach(function(player) {
        old_index = players.indexOf(player);
        new_index = shuffle_players.indexOf(player);
        shuffle_players[new_index] = shuffle_players[old_index];
        shuffle_players[old_index] = player;
    players_list_sortable.sort(shuffle_players);
  });

});

</script>
{% endblock extra_js %}
