{% extends 'league/admin/base.html' %}
{% load bootstrap3 static league_tags tournament_tags%}
{% block title %}Manage tournament games{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>{{tournament | tournament_link}} games</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">
    {% include 'tournament/includes/manage_menu.html' with active='games' %}
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Upload a sgf
    </div>
    <div class="panel-body">
      <form enctype="multipart/form-data" class="form-inline" action=" {% url 'league:handle_upload_sgf' tournament.pk %}" method="post" class="form">
    {% csrf_token %}
    <div class="form-group"><label class="sr-only" for="id_file">File</label><div class="row bootstrap3-multi-input"><div class="col-xs-12"><input class="" id="id_file" name="file" title="" type="file" required /></div></div></div>
    <button type="submit" class="btn btn-success btn-sm" >
      {% bootstrap_icon "ok" %}  Submit
    </button>
    </form>
    </div>
  </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        Paste a SGF
      </div>
      <div class="panel-body">
        <form action=" {% url 'tournament:upload_sgf' tournament.pk %}" method="post" class="form">
          {% csrf_token %}
          <textarea name="sgf" cols="10" rows="5" class="form-control" placeholder="sgf data" title="" required="" id="sgf"></textarea>
          <button type="submit" class="btn btn-success btn-sm" >
            {% bootstrap_icon "ok" %}  Submit
          </button>
        </form>
      </div>
    </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      List of all {{tournament.name}} sgfs
    </div>
  <table id='sgf-table' class='table table-over' >
    <thead>
      <th>Id</th>
      <th> Date</th>
      <th> White</th>
      <th>BLack</th>
      <th>Result</th>
      <th> Type </th>
      <th>League valid?</th>
      <th>p_status</th>
      <th>Edit</th>
    </thead>
  </tbody>
  {% for sgf in games%}
  <tr>
  <td>{{sgf.pk}}</td>
  <td>{{sgf.date | date:"M d, Y"}}</td>
  <td>{{sgf.wplayer}}</td>
  <td>{{sgf.bplayer}}</td>
  <td>{{sgf.result}}</td>
  <td>{{sgf.game_type}}</td>
  <td>{{sgf.league_valid | boolean_icon}}</td>
  <td>{{sgf.p_status}}</td>
  <td><a href= "{% url 'league:edit_sgf' sgf.pk %}"> <span class="glyphicon glyphicon-menu-right"></span></a></td>

  </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
</div>

  {% endblock %}

  {% block extra_js %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
  $('#sgf-table').DataTable({"order": [[ 0, "desc" ]]});
  } );
  </script>
  {% endblock %}
