{% extends 'league/admin/base.html' %}
{% load bootstrap3 static league_tags tournament_tags%}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/league.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/tournament.css' %}"/>

{% endblock %}
{% block title %}Manage tournament brackets{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>{{tournament.name}} brackets</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">
  {% include 'tournament/includes/manage_menu.html' with active='brackets' %}
</div>
<div class="row">
  <div class = "col-md-2">

        <button id="save_tournament" class="btn btn-success btn-sm">
            {% bootstrap_icon "ok" %} save
          </button>


  {% if groups %}
  {% for group in groups %}
  <h2>{{group.name}}</h2>
  <div id="group_{{group.pk}}_players" data-round="-1" class="panel-body group_players">
      {%for player in group.get_tournament_players %}
          <li data-id={{player.pk}} class="list-group-item">
            {{player.user | user_link}}
          </li>

        </li>
      {%endfor%}

</div>
  {% endfor %}
  {% else %}
  {% endif %}
</div>
  <div class = "col-md-10">

    {% for bracket in brackets %}

    {% with bracket.get_rounds as rounds %}
    <div class="row bracket">
    {% for round in rounds %}
      <ul class="round">
    <li class="panel panel-default match">
      <div class="panel-heading round-control-top">
        <form action="" method="POST" class="form-inline" >{% csrf_token %}
          <div class="form-group">
          <input type="hidden" name="next" value="{{request.path}}">
          <input id="name" class="form-control" style="max-width:145px;"name="name" placeholder="round name" value="{{round.name}}" title=""  type="text">
          <button type="submit" formaction="{% url 'tournament:rename_round' round.pk %}" class="btn btn-primary btn-sm">
            {% bootstrap_icon 'refresh' %}
          </button>
        </form>
          </div>
          </div>
          <div class="panel-body round-control-botom">
            <form action="" method="POST" class="form-inline" >{% csrf_token %}
              <button type="submit" formaction="{% url 'tournament:create_match' round.pk %}" class="btn btn-default btn-sm">
                {% bootstrap_icon "plus" %}
              </button>
              <button type="submit" formaction="{% url 'tournament:delete_match' round.pk %}" class="btn btn-default btn-sm">
                {% bootstrap_icon "minus" %}
              </button>
              <button type="submit" formaction="{% url 'tournament:delete_round' round.pk %}" class="btn btn-danger btn-sm pull-right">
                {% bootstrap_icon "remove" %}
              </button>
            </div>
          </form>
        </li>

  </ul>
    {% endfor %}
    <ul class="round">
    <li class="panel panel-default match">
    <div class="panel-body match">
      <form action="" method="POST" class="form-inline" >{% csrf_token %}
        <div class="form-group">
        <input type="hidden" name="next" value="{{request.path}}">
        <input id="name" class="form-control" name="name" placeholder=" new round name"  title=""  type="text">
      <button type="submit" formaction="{% url 'tournament:create_round' bracket.pk %}" class="btn btn-success btn-sm">
    {% bootstrap_icon 'plus' %} create new round
    </button>
    </div>
    </form>
    </div>
    </li>
    </ul>

  </div>
    <div class="row bracket">
      {% for round in rounds %}
      <ul class="round">
          {% for match in round.get_matchs %}
          <li class="spacer">&nbsp;</li>
          <li class="panel panel-default match">
              <div class="panel-body match" id="match_{{match.pk}}" data-match="{{match.pk}}" data-round="{{round.pk}}">
                  {% if match.player_1 %}
                  <div class="list-group-item" data-id="{{match.player_1.pk}}" data-round="{{round.pk}}">{{match.player_1.user |user_link}}</div>
                  {% endif %}
                  {% if match.player_2 %}
                  <div class="list-group-item" data-id="{{match.player_2.pk}}" data-round="{{round.pk}}">{{match.player_2.user |user_link}}</div>
                  {% endif %}
                </div>
              </li>

          {% endfor %}
          <li class="spacer">&nbsp;</li>
        </ul>


      {% endfor %}
  </div>

    {% endwith %}

    {% endfor %}


{% endblock %}

{% block extra_js %}
<script src="//cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>



<script>
// ajax crfs setup
{% include 'league/includes/ajax_setup.html' %}

{% for group in groups %}
var group_{{group.pk}}_sortable = Sortable.create(group_{{group.pk}}_players,{
  group: {
    name: 'players_list',
    pull: 'clone',
    put: function (to, from, item){
      from = $(from.el)
      if (from.attr('data-round')>0){
        return true
      }
      else{
        return false
      }

    },
  },
    sort: false,
    onAdd: function (evt){
      evt.item.outerHTML = "";
    }
});
{% endfor %}

{% for bracket in brackets %}
{% with bracket.get_rounds as rounds %}
  {% for round in rounds %}
      {% for match in round.get_matchs %}
        var match_{{match.pk}}_sortable = Sortable.create(match_{{match.pk}},{
          group: {
            name: 'players_list',
            pull: function (to){
                to = $(to.el)
                if (to.attr('data-round') <= {{round.pk}}){
                    return true;
                }
                else {
                    return 'clone';
                }
            },
            put: true
          },
            sort: true,
            onAdd: function (evt){
              if ($(evt.from).attr('data-round') > {{round.pk}}){
                evt.item.outerHTML = ""
              }
            }
        });
{% endfor %}
{% endfor %}
{% endwith %}

{% endfor %}

$('#save_tournament').click(function(){
  var dict = {};
  var bracket = {};
  var round = {};
  {% for bracket in brackets %}
    {% with bracket.get_rounds as rounds %}
    {% for round in rounds %}
      {% for match in round.get_matchs %}
      console.log(match_{{match.pk}}_sortable.toArray())
        round[{{match.pk}}] = match_{{match.pk}}_sortable.toArray();
      {% endfor %}
      bracket[{{round.pk}}] = round
      round = {}
    {% endfor %}
      dict[{{bracket.pk}}] = bracket
      bracket = {}
    {% endwith %}
  {% endfor %}
  console.log(dict)
  json_brackets = JSON.stringify(dict);
  $.ajax({
    type:"POST",
    url:"{% url 'tournament:save_brackets' tournament.pk %}",
    data: {
        'brackets': json_brackets,
    },

 });
});
</script>

{% endblock %}
