{% extends 'league/admin/base.html' %}
{% load bootstrap3 static league_tags tournament_tags%}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/league.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/tournament.css' %}"/>

{% endblock %}
{% block title %}Manage tournament brackets{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>{{tournament.name}} brackets</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">
  <div class="col-md-1">
    {% include 'tournament/includes/manage_menu.html' with active='brackets' %}
  </div>
  <div class = "col-md-2">
  {% if groups %}
  {% for group in groups %}
  <h2>{{group.name}}</h2>
  <div id="group_{{group.pk}}_players" data-round="-1" class="panel-body group_players">
      {%for player in group.get_tournament_players %}
          <li data-id={{player.pk}} class="list-group-item">
            {{player.user | user_link}}
          </li>

        </li>
      {%endfor%}

</div>
  {% endfor %}
  {% else %}
  {% endif %}
</div>
  <div class = "col-md-9">

    {% for bracket in brackets %}
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <form action="" method="POST" class="form-inline" >
            {% csrf_token %}
            <button type="submit" formaction="{% url 'tournament:create_bracket' tournament.pk %}" class="btn btn-default btn-sm">
              {% bootstrap_icon "plus" %} Create a new Bracket
            </button>
          </form>
          </div>
        </div>
    </div>
    {% with bracket.get_rounds as rounds %}
    <div class="row bracket">
    {% for round in rounds %}
      <ul class="round">
    <li class="panel panel-default match">
      <div class="panel-heading">
        <form action="" method="POST" class="form-inline" >
          {% csrf_token %}
        <button type="submit" formaction="{% url 'tournament:create_match' round.pk %}" class="btn btn-default btn-sm">
          {% bootstrap_icon "plus" %} 
        </button>
      </form>
      </div>
    </li>
  </ul>
    {% endfor %}
  </div>
    <div class="row bracket">
      {% for round in rounds %}
      <ul class="round">
          {% for match in round.get_matchs %}
          <li class="spacer">&nbsp;</li>
          <li class="panel panel-default match">
              <div class="panel-body match" id="match_{{match.pk}}" data-match="{{match.pk}}" data-round="{{round.pk}}">
                  {% if match.player_1 %}
                  <div class="list-group-item" data-id={{player.pk}} data-round="{{round.pk}}">{{match.player_1}}</div>
                  {% endif %}
                  {% if match.player_2 %}
                  <div class="list-group-item" data-id={{player.pk}} data-round="{{round.pk}}">{{match.player_2}}</div>
                  {% endif %}
                </div>
              </li>

          {% endfor %}
          <li class="spacer">&nbsp;</li>
        </ul>


      {% endfor %}
  </div>

    {% endwith %}

    {% endfor %}


{% endblock %}

{% block extra_js %}
<script src="//cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>



<script>
// ajax crfs setup
{% include 'league/includes/ajax_setup.html' %}

{% for group in groups %}
var group_{{group.pk}}_sortable = Sortable.create(group_{{group.pk}}_players,{
  group: {
    name: 'players_list',
    pull: 'clone',
    put: function (to, from, item){
      from = $(from.el)
      if (from.attr('data-round')>0){
        return true
      }
      else{
        return false
      }

    },
  },
    sort: false,
    onAdd: function (evt){
      evt.item.outerHTML = "";
    }
});
{% endfor %}

{% for bracket in brackets %}
{% with bracket.get_rounds as rounds %}
  {% for round in rounds %}
      {% for match in round.get_matchs %}
        var match_{{match.pk}}_sortable = Sortable.create(match_{{match.pk}},{
          group: {
            name: 'players_list',
            pull: function (to){
                to = $(to.el)
                if (to.attr('data-round') <= {{round.pk}}){
                    return true;
                }
                else {
                    return 'clone';
                }
            },
            put: true
          },
            sort: true,
            onAdd: function (evt){
              if ($(evt.from).attr('data-round') > {{round.pk}}){
                evt.item.outerHTML = ""
              }
            }
        });
{% endfor %}
{% endfor %}
{% endwith %}

{% endfor %}

</script>

{% endblock %}
