{% extends 'full_width.html' %}
{% load bootstrap3 league_tags static forum_markup_tags%}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/league.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/tournament.css' %}"/>
{% endblock %}



{% block title %}{{tournament.name}} - Prizes{% endblock %}

{% block heading %}
  <div class="page-header">
    <h1>{{tournament.name}} - Prizes</h1>
  </div>
  <div class="">{{tournament.description|safe|rendered}}</div>
  
{%endblock%}

{% block content %}
{% include 'tournament/includes/tournament_menu.html' with active="prizes"%}

{% if admin %}
<div style="float:right;">
<a href="{% url 'tournament:edit_about' tournament.pk %}" class="btn btn-warning">
    Edit
</a>
</div>
{% endif %}

<p>{{tournament.prizes|safe|rendered}}</p>

{%endblock%}
