{% extends 'league/admin/base.html' %}
{% load bootstrap3 league_tags%}
{% block title %}OSR league admin - Create new Event{% endblock %}
{% block heading %}
<div class="page-header">
    <h1>Create new tournament</h1>
</div>
{%endblock%}
{% block content %}
<div class="row">
<div class="col-md-4">
  <legend>Create new tournament </legend>
<form action="" method="POST">{% csrf_token %}
	{% bootstrap_form form %}
	{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
</form>
</div>
</div>

{% endblock %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock extra_css %}

{% block extra_js %}
{{ form.media.js }}
{% endblock extra_js %}
