{% load static wagtailuserbar compress puput_tags %}
{% load menu_tags osr_tags%}
{% load bootstrap3 %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>

            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{%else%}- Open Study Room{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="title" content="{% block meta_title %}{% if blog_page.seo_title %}{{ blog_page.seo_title }}{% else %}{{ blog_page.title }}{% endif %}{% endblock meta_title %}"/>
        <meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}"/>
        {# Global stylesheets #}
{%compress css%}
        <link rel="stylesheet" type="text/css" href="{% static 'css/openstudyroom.css' %}">
	<link type="text/css" href="{%static 'wgo/wgo.player.css' %}" rel="stylesheet" />

        <link rel="stylesheet" href="{% static 'css/puput.css' %}"/>
{%endcompress%}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.13/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.css"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'>

	<script src="https://use.fontawesome.com/1602589062.js"></script>

{% bootstrap_css %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        {% block extra_head_js %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block navbar %}
              <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                 <a class="navbar-brand" href="/">Open Study Room</a>
              {% main_menu  %}
              <ul class="nav navbar-nav navbar-right" style= "margin-right:5px;">
      {% if request.user.is_authenticated %}
	{% if request.user.user_is_league_admin %}
	<li>
	<a href="{%url "league:admin" %}"> League admin </a>
	</li>
	{% endif %}
        <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Hello {{ request.user.username }} <span class="caret"></span>
	</a>
    <ul class="dropdown-menu">
	{%if request.user.user_is_league_member %}

		 <li>
                      <a href="{% url "league:league_account" %}" >{% bootstrap_icon "user" %} Profile</a>
                  </li>

	{%else%}
		<div>Your account will be activated soon. Thanks for waiting !</div>
	{%endif%}
		  <li>
                     <a href="{% url "account_logout"%}"><i class="fa fa-sign-out" aria-hidden="true"></i>
Logout</a>
                  </li>
	</ul>
              {% else %}
                  <li>
                      <a href="{% url "account_login"%}">Login</a>
                  </li>
                  <li>
                      <a href="{% url "account_signup"%}">Register</a>
                  </li>
              {% endif %}
            </ul>

            </div>
  {% endblock %}

  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert alert-info alert-dismissable fade in" style="list-style-type: none;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
  </li>
    {% endfor %}
</ul>
{% endif %}


<div class="container">
  <div class="row">
      {% block heading %}

                <div class="page-header">
                    <h1>{{ self.title }}</h1>
                </div>
{% endblock %}
    {%block page_intro %} {% endblock %}
  </div>

  <div class="row-fluid">
      {%block breadcrumb%} {%endblock%}
{% block page_content%}
{% endblock %}

{% block main %}{% endblock %}
  </div>
</div>
</div>


        {# Global javascript #}

        <script type="text/javascript" src="{% static 'js/openstudyroom.js' %}"></script>

	<script type="text/javascript" src="{%static 'wgo/wgo.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'wgo/wgo.player.min.js'%}"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>

      {% bootstrap_javascript %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
          {# for machina templates we needs a js block #}
        {% block js %}
        {% endblock %}
        <script src="//static.getclicky.com/js" type="text/javascript"></script>
        <script type="text/javascript">try{ clicky.init(101029164); }catch(e){}</script>
        <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101029164ns.gif" /></p></noscript>
    </body>
</html>
