<!-- Hello and welcome to the code :) -->

{% load static wagtailuserbar compress puput_tags %}
{% load menu_tags osr_tags%}
{% load bootstrap3 %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-106566532-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

  <meta charset="utf-8" />

<title>
    {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
            {% if site_name %}- {{ site_name }}{%else%}- Open Study Room{% endif %}
        {% endwith %}
    {% endblock %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="title" content="{% block meta_title %}{% if blog_page.seo_title %}{{ blog_page.seo_title }}{% else %}{{ blog_page.title }}{% endif %}{% endblock meta_title %}"/>
<meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}"/>
{# Global stylesheets #}

{%compress css%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/openstudyroom.css' %}">
	<link type="text/css" href="{%static 'wgo/wgo.player.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/puput.css' %}"/>

{%endcompress%}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet' type='text/.css'>

<script src="https://use.fontawesome.com/1602589062.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>


    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
    {% block extra_head_js %}
    {% endblock %}

<style>
</style>

<link href="https://fonts.googleapis.com/css?family=Quicksand:300|Roboto" rel="stylesheet">
<link type="text/css" href="{%static 'css/style.css' %}" rel="stylesheet" />
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<!-- banner  -->
<div id="banner"style="z-index:-99"></div>

<!-- NAVBAAAAAAR STARTS HERE-->
        {% block navbar %}
<div class="container" style="width: 1200px;">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: RGBA(43,43,43,1); border-bottom: 6px solid grey;">

    <!-- social links -->
        <div id="socials" style="">
          {% include 'home/includes/socials.html'  %}
            <a href="/blog/feed/" target="_blank" data-toggle="tooltip" title="RSS">
                 <i class="fa fa-rss-square"></i>
            </a>
        </div>

    <!-- random quote  THIS SCRIPT SHOULD BE EXTERNALIZED LATER AND POSSIBLY REWRITTEN BY SOMEONE BETTER AT IT -->
  <div id="quote" style="position: absolute; width: 400px; text-align: right; top: 150px; right: 20px; font-size: 30px; font-style: italic; color: black; z-index: -1;">
      "Do not go fishing when your house is on fire"

              <script>
                (function() {
                  var quotes = [
                    {
                      text: "There is death in hane",
                    },
                    {
                      text: "Do not go fishing when your house is on fire",
                    },
                                        {
                      text: "Capture three to get an eye",
                    },
                                        {
                      text: "If you wish to attack the east, make noise in the west",
                    },
                                        {
                      text: "In the land of the blind, the one-eyed man is king",
                    },
                                        {
                      text: "A rich man should not pick quarrels with poor",
                    },
                                        {
                      text: "A very obvious move should be very suspicious to you",
                    },
                    {
                      text: "Just because you do not know how to respond does not mean you can tenuki",
                    }
                  ];
                  var quote = quotes[Math.floor(Math.random() * quotes.length)];
                  document.getElementById("quote").innerHTML =
                    '<p>' + '"' + quote.text + '"' + '</p>'
                })();
              </script>
  </div>

    <!-- catchphrase-->
  <span class="navbar-text hide_on_phone" style="position: absolute; left: 170px; top: 15px;">
    <i>Let's get better together</i>
  </span>

    <!-- logo-->
  <a class="hide_on_phone" href="#"><img src="https://openstudyroom.org/media/images/logo_nmBkzHU.original.png" alt="" title="" border="0" height="94" width="187" style="position: absolute; left: 0px; top: 2px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsNav" aria-controls="navbarsNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- links -->
    <div class="collapse navbar-collapse justify-content-md-end" id="navbarsNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#">LEAGUES</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">CALENDAR</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">FORUMS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">TEACHERS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">HELP OSR</a>
      </li>

    <!-- links for registered users -->
        <li class="nav-item">
          <a class="nav-link disabled">|</a>
        </li>

      {% if request.user.is_authenticated %}

    <!-- dropdown for registered users -->
        <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello {{ request.user.username }}
            {% if postman_unread_count > 0 %}
            <span class="badge"> {{ postman_unread_count }}</span>
            {% endif %}
            <span class="caret"></span>
	        </a>

        <div class="dropdown-menu" aria-labelledby="dropdown01" style="padding-left: 10px; border-radius: 0px; padding-right: 10px;">
        	{% if request.user.is_league_admin %}
        	<a class="dropdown-item" href="#">
        	<a href="{%url "league:admin" %}"> League admin </a>
        </a>
        <div class="dropdown-divider"></div>
        	{% endif %}

	{%if request.user.is_league_member %}

      		<a class="dropdown-item" href="#">
            <a href="{% url "league:league_account" %}" >{% bootstrap_icon "user" %} Profile</a>
          </a>
          <a class="dropdown-item" href="#">
            <a href="{% url "postman:inbox" %}" >
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              Messages
              <span class="badge"> {{ postman_unread_count }}</span>
            </a>
          </a>

	{%else%}
      		<div>Your account will be activated soon. Thanks for waiting!</div>
	{%endif%}
    		  <a class="dropdown-item" href="#">
            <a href="{% url "account_logout"%}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
          </a>
	     </div>
      </li>
  {% else %}
  
    <!-- dropdown for not-registered users -->
        <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Join us?
	        </a>

        <div class="dropdown-menu" aria-labelledby="dropdown02" style="padding-left: 10px; border-radius: 0px; padding-right: 10px;">
          <a class="dropdown-item" href="#">
              <a href="{% url "account_login"%}">Login</a>
          </a>
          <a class="dropdown-item" href="#">
              <a href="{% url "account_signup"%}">Register</a>
          </a>
	     </div>
      </li>




  {% endif %}


    </div>
  {% endblock %}
    </div>
</nav>
<!--  NAVBAR ENDS HERE YEAH ITS LONG I KNOW TRY TO KEEP UP -->

  {% if request.user.is_authenticated and not request.user.is_league_member%}
      <li class="alert alert-info alert-dismissable fade in" style="list-style-type: none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Your account will be activated soon. Make sure you verified your email and you entered a valid KGS or OGS username. Contact us if it takes too long. Thanks for waiting!
      </li>
  {% endif %}
  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
        <li class="alert alert-info alert-dismissable fade in" style="list-style-type: none;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </li>
          {% endfor %}
      </ul>
  {% endif %}


<!-- content -->
<div class="container" style="position: relative; margin: 0 auto; top: 400px; width: 1100px; background-color: RGBA(43,43,43,1); box-shadow: 10px 10px 5px RGBA(0,0,0,0.5); padding-top: 20px; padding-bottom: 20px;">
    {% block postman_menu %}
    {%endblock%}
      {% block heading %}

                <div class="page-header">
                    <h1>{{ self.title }}</h1>
                </div>

<!-- three boxes up top -->
    {% endblock %}
    {%block page_intro %} {% endblock %}

<!-- news and the rest -->
  <div style="">
    {%block breadcrumb%}{%endblock%}
    {% block page_content%}{% endblock %}
    {% block main %}{% endblock %}
  </div>
</div>

<!-- Some javascript or something. What does it do exactly? Nobody knows... -->
{# Global javascript #}

<script type="text/javascript" src="{% static 'js/openstudyroom.js' %}"></script>

<script type="text/javascript" src="{%static 'wgo/wgo.min.js'%}"></script>
<script type="text/javascript" src="{%static 'wgo/wgo.player.min.js'%}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- Side bowls keep last -->
<img class="hide_on_small" src="https://openstudyroom.org/media/images/1.original.png" alt="" title="" border="0" height="562" width="258" style="position: absolute; left: 0px; top: 400px;">
<img class="hide_on_small" src="https://openstudyroom.org/media/images/2.original.png" alt="" title="" border="0" height="577" width="295" style="position: absolute; right: -50px; top: 700px;">


    </body>
</html>
<!-- And hey, you made it to the end KUDOS keep up the good work and stop crying -->
