{% extends MACHINA_BASE_TEMPLATE_NAME %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}

{% block title %}{{ MACHINA_FORUM_NAME|default:"Forum" }} &mdash; {% block sub_title %}{% endblock sub_title %}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/machina.board_theme.vendor.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}" />

{% endblock css %}

{% block extra_head_js %}
<script src="{% static 'js/shortcode.min.js' %}" ></script>

{%endblock%}

{% block body %}
{% block header %}
<div class="navbar-fixed-top-spacing">&nbsp;</div>
<div class="navbar navbar-default navbar-fixed-top machina-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">django-machina</a>
    </div>
    <div class="collapse navbar-collapse">
      {% block header_collapse %}
      <div class="col-sm-7 col-md-8 col-lg-5">
        <form class="navbar-form form-inline" role="search" action="{% url 'forum_search:search' %}">
          <div class="form-group col-sm-6 col-md-7">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{% trans 'Search...' %}" name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <a href="{% url 'forum_search:search' %}" class="btn btn-link">{% trans "Advanced search" %}</a>
          </div>
        </form>
      </div>
      {% endblock header_collapse %}
    </div>
  </div>
</div>
{% endblock header %}
{%block heading%}
<div class="page-header">
  <h1>OSR Forums </h1>
</div>
{%endblock%}
<div class="container" id="main_container">
  <div class="row">
    <div class="col-xs-12">
      {% block breadcrumb %}{% include "partials/breadcrumb.html" %}{% endblock breadcrumb %}
      <div class="pull-right controls-link-wrapper">
      {% if not request.user.is_anonymous %}
        <a href="{% url 'forum_member:user_subscriptions' %}" class="btn btn-link"><i class="fa fa-bookmark-o ">&nbsp;</i>{% trans "Subscriptions" %}</a>
        <a href="{% url 'forum_member:user_posts' request.user.id %}" class="btn btn-link"><i class="fa fa-comments-o ">&nbsp;</i>{% trans "View my messages" %}</a>
      {% endif %}
      {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
      {% if can_access_moderation_queue %}
        <a href="{% url 'forum_moderation:queue' %}" class="btn btn-link"><i class="fa fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br />
      {% block messages %}{% include "partials/messages.html" %}{% endblock messages %}
    </div>
  </div>
  {% block content %}
  {% endblock content %}
</div>
{% endblock body %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
  $(function() {
    machina.init();
    {% block onbodyload %}{% endblock onbodyload %}
  });
  </script>
  <script type="text/javascript">

 $('.post-content, .post-review, .post-preview ').shortcode({
   goban: function() {
       tag_open = '<div'
       tag_content = ''
       tag_close = '>'
       if (this.options !== undefined){
           var sgf;
           //disallow controls of the goban
           if (this.options.diagram == "true"){ //need to test for undefined?
               tag_content += ' data-wgo-diagram = '
           }else{
               tag_content += ' data-wgo = '
           }

           //set source sgf file
           if (this.options.sgf !== undefined){
               tag_content += ' " ' + this.options.sgf + ' " '
           }else{
               tag_content += ' " ' + $("div.attachment").find('a').attr('href') + ' " '
           }

           //set goban to specific move
           if (this.options.move !== undefined){
               tag_content += ' data-wgo-move= " ' + this.options.move + ' " '
           }else{
               tag_content += ''
           }

           //set minimal layout
           if (this.options.simple !== undefined){
               var layout = "bottom: ['Control']";
               tag_content += ' data-wgo-layout="' + layout + '" ';
            }
            var js = "console.log('bla');";

            // set width
            if (this.options.width !== undefined){
                tag_content += ' style="width:' + this.options.width + ';" '
            }

        }else{
           tag_content = 'data-wgo=" ' + $("div.attachment").find('a').attr('href') + ' " '
       }
               return tag_open + tag_content + tag_close;
   },

   "h":function(){
       if (this.options.coord !== undefined){
           return '<a href="javascript:void(0)" class="coord">'+ this.options.coord +'</a>';
       }
       if (this.options.move !== undefined){
           return '<a href="javascript:void(0)" class="move">'+ this.options.move +'</a>';
       }
   }
});// Shortcode
// this is a small helper extension i stole from
// http://www.texotela.co.uk/code/jquery/reverse/
// it merely reverses the order of a jQuery set.
$.fn.reverse = function() {
    return this.pushStack(this.get().reverse(), arguments);
};

// create two new functions: prevALL and nextALL. they're very similar, hence this style.
$.each( ['prev', 'next'], function(unusedIndex, name) {
    $.fn[ name + 'ALL' ] = function(matchExpr) {
        // get all the elements in the body, including the body.
        var $all = $('body').find('*').andSelf();

        // slice the $all object according to which way we're looking
        $all = (name == 'prev')
             ? $all.slice(0, $all.index(this)).reverse()
             : $all.slice($all.index(this) + 1)
        ;
        // filter the matches if specified
        if (matchExpr) $all = $all.filter(matchExpr);
        return $all;
    };
});
$('.coord').hover(
    function(){
        e = $( this ).html();
        var player= $( this ).prevALL('.wgo-player-main')[0]._wgo_player;
        var t, n;
        t = e.charCodeAt(0) - "a".charCodeAt(0);
        if (t < 0) t += "a".charCodeAt(0) - "A".charCodeAt(0);
        if (t > 7) t--;
        n = e.charCodeAt(1) - "0".charCodeAt(0);
        if (e.length > 2) n = n * 10 + (e.charCodeAt(2) - "0".charCodeAt(0));
        n = player.kifuReader.game.size - n;
        player._tmp_mark = {
            type: "MA",
            x: t,
            y: n
        };
        player.board.addObject(player._tmp_mark);
    },
    function() {
        console.log($( this ).prevALL('.wgo-player-main:first'));
        var player= $( this ).prevALL('.wgo-player-main')[0]._wgo_player;
        player.board.removeObject(player._tmp_mark);
        delete player._tmp_mark;
    }
);

$('.move').click(function(){
    var n = parseInt($( this ).html());
    var player= $( this ).prevALL('.wgo-player-main')[0]._wgo_player;
    player.goTo(n);
});
</script>
{% endblock js %}
