{% extends MACHINA_BASE_TEMPLATE_NAME %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}

{% block title %}{{ MACHINA_FORUM_NAME|default:"Forum" }} &mdash; {% block sub_title %}{% endblock sub_title %}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/machina.board_theme.vendor.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}" />

{% endblock css %}

{% block extra_head_js %}
<script src="{% static 'js/shortcode.min.js' %}" ></script>

{%endblock%}

{% block body %}
{% block header %}
<div class="navbar-fixed-top-spacing">&nbsp;</div>
<div class="navbar navbar-default navbar-fixed-top machina-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">django-machina</a>
    </div>
    <div class="collapse navbar-collapse">
      {% block header_collapse %}
      <div class="col-sm-7 col-md-8 col-lg-5">
        <form class="navbar-form form-inline" role="search" action="{% url 'forum_search:search' %}">
          <div class="form-group col-sm-6 col-md-7">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{% trans 'Search...' %}" name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <a href="{% url 'forum_search:search' %}" class="btn btn-link">{% trans "Advanced search" %}</a>
          </div>
        </form>
      </div>
      {% endblock header_collapse %}
    </div>
  </div>
</div>
{% endblock header %}
{%block heading%}
<div class="page-header">
  <h1>OSR Forums </h1>
</div>
<div id="count-wgo" data-count-wgo="0"></div>


{%endblock%}
<div class="container" id="main_container">
  <div class="row">
    <div class="col-xs-12">
      {% block breadcrumb %}{% include "partials/breadcrumb.html" %}{% endblock breadcrumb %}
      <div class="pull-right controls-link-wrapper">
      {% if not request.user.is_anonymous %}
        <a href="{% url 'forum_member:user_subscriptions' %}" class="btn btn-link"><i class="fa fa-bookmark-o ">&nbsp;</i>{% trans "Subscriptions" %}</a>
        <a href="{% url 'forum_member:user_posts' request.user.id %}" class="btn btn-link"><i class="fa fa-comments-o ">&nbsp;</i>{% trans "View my messages" %}</a>
      {% endif %}
      {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
      {% if can_access_moderation_queue %}
        <a href="{% url 'forum_moderation:queue' %}" class="btn btn-link"><i class="fa fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br />
      {% block messages %}{% include "partials/messages.html" %}{% endblock messages %}
    </div>
  </div>
  {% block content %}
  {% endblock content %}
</div>
{% endblock body %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
  $(function() {
    machina.init();
    {% block onbodyload %}{% endblock onbodyload %}
  });
  </script>
  <script type="text/javascript">

 $('.post-content, .post-review, .post-preview ').shortcode({
   goban: function(done) {
       tag_open = '<div '
       tag_content = ''
       tag_close = '></div>'
       if (this.options !== undefined){

           //set source sgf file
           if (this.options.sgf !== undefined){
               tag_content += ' data-wgo=" ' + this.options.sgf + ' " '
           }else{
               tag_content += ' data-wgo=" ' + $("div.attachment").find('a').attr('href') + ' " '
           }

           // activate coordinates or diagram
           if (this.options.diagram !== undefined){
               // set empty layout disable scroll and keys
               tag_content += ' data-wgo-layout="" data-wgo-enablewheel="false" data-wgo-enablekeys="false"';
               // set limits of the diagram
               if (this.options.limits !== undefined){
                   args = this.options.limits.split(',')
                   config=" section:{top:'" + args[0] +  "', right:'" + args[1] +  "', bottom:'" + args[2] +  "', left:'" + args[3] +  "'}"
                   tag_content += 'data-wgo-board=" ' + config +'"';
                // if no limits, we can show coordinates unless coord !=='true'
               }else if (this.options.coord !== undefined){
                   if (this.options.coord == 'true'){
                       var js = "arguments[0].target.setCoordinates(true);";
                       tag_content += 'data-wgo-onkifuload="' + js + '"';
                   }
                }
            }else{// if no diagram, we activate coordinate by default and allow layout=simple

                //coordinates
                if (this.options.coord !== undefined){
                    if (this.options.coord == 'true'){
                        var js = "arguments[0].target.setCoordinates(true);";
                        tag_content += 'data-wgo-onkifuload="' + js + '"';
                    }// coordiantes are deactivated by default, so no need to do anything if coord != true
                }else{// activate coordinates by default
                    var js = "arguments[0].target.setCoordinates(true);";
                    tag_content += 'data-wgo-onkifuload="' + js + '"';
                }
                //set minimal layout
                if (this.options.simple !== undefined){
                    var layout = "bottom: ['Control']";
                    tag_content += ' data-wgo-layout="' + layout + '" ';
                }
            }

           //set goban to specific move
           if (this.options.move !== undefined){
               tag_content += ' data-wgo-move= " ' + this.options.move + ' " '
           }else{
               tag_content += ''
           }

            // set style
            tag_content += ' style="'
            //width
            if (this.options.width !== undefined){
                tag_content += 'width:' + this.options.width + '; '
            }
            if (this.options.float !== undefined){
                tag_content += 'float:' + this.options.float + '; '
            }
            tag_content += '"'

        }else{
           tag_content = 'data-wgo=" ' + $("div.attachment").find('a').attr('href') + ' " '
       }

       // get the count of player on the page
       n = $('#count-wgo').attr('data-count-wgo') ;

       if (this.contents !== undefined){
           // we should first test if this.contest contain a [goban] and do what?

           //parse the content to add info to the coords and moves
           //coords
           str = this.contents
           matches = str.match(/[A-T][0-9]{1,2}/igm);
           if (matches !== null){
               for(i = 0 ; i < matches.length; i++){
                   repl = '<a href="javascript:void(0)"  class="coord" data-target="wgo_' + n + '">' + matches[i] + '</a>'
                   str = str.replace(matches[i],repl)
               }
           }
           //moves
           matches = str.match(/move [0-9]{1,3}/igm);
           if (matches !== null){
               for(i = 0 ; i < matches.length; i++){
                repl = '<a href="javascript:void(0)"  class="move" data-target="wgo_' + n + '">' + matches[i] + '</a>'

               str = str.replace(matches[i],repl)
                }
            }
            tag_close += str;
        }

        // increment the wgo count

        $('#count-wgo').attr('data-count-wgo', parseInt(n) +1);

       return tag_open + tag_content + tag_close ;
   },
});// Shortcode

$('.coord').hover(
    function(){
        e = $( this ).html();
        id = $( this ).attr('data-target');
        player = $('#'+ id)[0]._wgo_player;
        var t, n;
        t = e.charCodeAt(0) - "a".charCodeAt(0);
        if (t < 0) t += "a".charCodeAt(0) - "A".charCodeAt(0);
        if (t > 7) t--;
        n = e.charCodeAt(1) - "0".charCodeAt(0);
        if (e.length > 2) n = n * 10 + (e.charCodeAt(2) - "0".charCodeAt(0));
        n = player.kifuReader.game.size - n;
        player._tmp_mark = {
            type: "MA",
            x: t,
            y: n
        };
        player.board.addObject(player._tmp_mark);
    },
    function() {
        id = $( this ).attr('data-target');
        player = $('#'+ id)[0]._wgo_player;
        player.board.removeObject(player._tmp_mark);
        delete player._tmp_mark;
    }
);

$('.move').click(function(){
    var n = parseInt($( this ).html().replace(/[^0-9\.]/g, ''));
    id = $( this ).attr('data-target');
    player = $('#'+ id)[0]._wgo_player;
    player.goTo(n);
});
</script>
{% endblock js %}
