{% extends "base.html" %}
{% block page_content %}

<div class="floatbox_news">
{% block content %} {% endblock %}
</div>

<div class="floatbox" style="border: 0px; background-color: transparent; box-shadow: none;">
  <div style="background-color: RGBA(275,275,200,0.9); box-shadow: 10px 10px 5px RGBA(0,0,0,0.5); padding: 10px;">
    <h4>New to OSR or Go in general?</h4>
    <i>Have some questions? No worries, click <a href="#">here</a> and we will walk you through everything - how our leagues work, where you can watch the lectures, or how to play and learn Go in general. <br>And thanks for joining</i>    
  </div><br>
{% block sidebar %} {% endblock %}
</div>

{% endblock %}
