{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags compress wagtailroutablepage_tags %}
{% load league_tags %}
    <div class="blog_sidebar">
        <div class="rss-sitemap">
            <a href="{% feeds_url blog_page %}" target="_blank" title="RSS">
                 <i class="fa fa-rss-square"></i> <span>Feed RSS</span>
            </a>
        </div>

        <ul class="sidebar">
        <h4> Being discussed in our forums </h4>
        {% for topic in topics %}
        <article class="box post-summary">

        <li> <a href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}">
          <b>{{topic.subject}}</b></a> in <a href="{% url 'forum:forum' topic.forum.slug topic.forum.pk %}">{{topic.forum}}</a><br />
          <span> <i class="fa fa-user"></i> {{ topic.poster |user_link }} </span> <span><i class="fa fa-calendar"></i>
{{ topic.last_post_on|date:"SHORT_DATE_FORMAT" }}</span>
 </li>

        {% endfor %}
        </ul>
        <ul class="sidebar">
        <h4>  Online on <a href="{% url 'league:discord_redirect'%}"> OSR discord server</a> ({{disc_users | length}})</h4>
        {% for disc_user in disc_users %}
        <li>{{disc_user.username}}</li>
        {% endfor %}
        
        </ul>

        {% if blog_page.display_categories %}
            <ul class="sidebar">
                <h4>{% trans 'Categories' %}</h4>
                {% categories_list %}
            </ul>
        {% endif %}
        {% if blog_page.display_tags %}
            <ul class="sidebar">
                <h4>{% trans 'Tags' %}</h4>
                {% tags_list %}
            </ul>
        {% endif %}

    </div>
