{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags compress wagtailroutablepage_tags %}
{% load league_tags osr_tags%}

        <div class="rss-sitemap text-justify">
          {% include 'home/includes/socials.html'  %}
            <a href="{% feeds_url blog_page %}" target="_blank" data-toggle="tooltip" title="RSS">
                 <i class="fa fa-rss-square"></i>
            </a>

        </div>
          {% include 'fullcalendar/event_list_sidebar.html'  %}
{% adverts %}
{% last_topics request as topics %}

        <ul class="sidebar">
           <li><h4> Being discussed in our forums </h4></li>
           {% for topic in topics %}
              <li>
                 <article class="box post-summary">
                    <a href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}"><b>{{topic.subject}}</b></a>
                    in <a href="{% url 'forum:forum' topic.forum.slug topic.forum.pk %}">{{topic.forum}}</a><br />
                    <span> <i class="fa fa-user"></i> {{ topic.poster |user_link }} </span>
                    <span><i class="fa fa-calendar"></i>{{ topic.last_post_on|date:"SHORT_DATE_FORMAT" }}</span>
                 </article>
              </li>
           {% endfor %}
        </ul>
