<div class="container">

<div class="text-center" style="padding-top: 20px; padding-bottom: 30px;">
       <h1>Let's get better together </h1>
</div>
<div class="row">

   <div class="col-sm-4 text-center">
     <a href="/calendar/" class=""><img class="img-magic image-center img-responsive" style="border-radius:50%; width:200px; height:200px;" src="https://imgur.com/download/UEles4P"></a>
      <h3 >  Study Go</h3>
      <p class="text-justify">Ask stronger players to help review your games, study pro games or tsumego. We also organise lectures with strong teachers. The global idea is you get taught by the stronger while you teach the weaker.</p>
      <br><p><a href="/calendar/" class="btn btn-default">See our study schedule in our calendar</a></p>
   </div>

   <div class="col-sm-4 text-center">
     <a href="/league/" class=""><img class="img-magic image-center img-responsive" style="border-radius:50%; width:200px; height:200px;" src="https://imgur.com/download/tt45XLT"></a>
      <h3 class="text-center"> Play Go</h3>
      <p class="text-justify">Playing long serious games is very important to improve. Our league system encourages you to do so in a friendly yet competitive environment. On top of that we reward our winners with cool prizes every month.</p>
      <br><p><a href="/league/" class="btn btn-default">Check out our leagues</a></p>
   </div>

   <div class="col-sm-4 text-center">
     <a href="https://discord.gg/b7meDjX" class=""><img class="img-magic image-center img-responsive" style="border-radius:50%; width:200px; height:200px;" src="https://imgur.com/download/RR536ne"></a>

      <h3 class="text-center"> Together </h3>
      <p class="text-justify">  We are a friendly active online community of Go players from all around the world. OSR is run by volunteers, community driven and all free for everyone to come enjoy the beautiful game of Go.</p>
      <br><p><a href="https://discord.gg/b7meDjX" class="btn btn-default">Come chat with us in our Discord</a></p>
   </div>

</div>


</div>
<div class="join-us container-fluid text-center">
<h3 class="text-center">
Whether you are a beginner just learning the rules or a strong player, OSR can help your Go.
</h3>
<p><a href="{% url "account_signup"%}" class="btn btn-default btn-lg btn-huge">Join now !</a></p>
</div>
