<section class="container">
<div class=" text-center">
       <h2>Let's get better together </h2>
</div>
<div class="row">
   <div class="col-sm-4 text-center">
     <img class=" image-center img-responsive" style="border-radius:50%; width:200px; height:200px;" src="http://127.0.0.1:8000/media/images/tsumego.original.png">
      <h3 >  Study Go</h3>
      <p class="text-justify">We provide a place to study go together. Ask stronger players to help review your games, study pro games or tsumego. We also organise lectures with strong teachers.</p>
      <a href="{% url "account_signup"%}" class="btn btn-default">Join now !</a>
   </div>
   <div class="col-sm-4">
     <img class=" image-center img-responsive" style="border-radius:50%; width:200px; height:200px;" src="https://lh3.googleusercontent.com/-GnPnKYavvU8/S58c8nPGnDI/AAAAAAAAAMM/_fsRx15wZwcYzJ122AHazGCZZY-6cC3UACHMYBhgL/Korean_Game_from_the_Carpenter_Collection_ca._1910-1920.jpg">

      <h3 class="text-center"> Play Go</h3>
      <p>Playing long serious games is very important to improve. Our league system encourage you to do so in a friendly yet competitive environement. On top of that we reward our winners with cool prizes everymonths.</p>

   </div>
   <div class="col-sm-4">
     <img class=" image-center img-responsive" style="border-radius:50%; width:200px; height:200px;" src="https://imgur.com/download/q7nKFz1">

      <h3 class="text-center"> Together </h3>
      <p> We are a friendly active online community of go players from all around the world. OSR is run by volunteers, community driven and all free for everyone to come enjoy the beautifull game of go.</p>
   </div>
</div>
</section>
