<div class="socials socials-footer pull-right">
<a href="https://discord.gg/b7meDjX" data-toggle="tooltip"  title="Discord">
   <img style="height: 1.04em;padding-bottom:6px;" alt="Discord" src="https://openstudyroom.org/media/images/Discord3.original.png">
 </a>

<a href="https://www.youtube.com/channel/UCebC2xkVmJZCnN-sjmhbuow" data-toggle="tooltip"  title="Youtube" >
<i class="fa fa-youtube-square" aria-hidden="true"></i>
</a>

<a href="https://www.facebook.com/Openstudyroom/" data-toggle="tooltip" title="Facebook">
<i class="fa fa-facebook-official" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/OpenStudyRoom" data-toggle="tooltip" title="Twitter" tabindex="-1">
<i class="fa fa-twitter-square"></i>
</a>

<a href="https://www.reddit.com/user/OpenStudyRoom" data-toggle="tooltip" title="Reddit">
<i class="fa fa-reddit-square" aria-hidden="true"></i></a>
<a href="https://www.patreon.com/OpenStudyRoom" data-toggle="tooltip"  title="Patreon">
   <img style="height: 1.04em;padding-bottom:6px; margin-left: 3px;" alt="Patreon" src="https://openstudyroom.org/media/images/patreon.original.png">
 </a>
</div>
