<div class="socials socials-header ">
<a href="https://discord.gg/b7meDjX" data-toggle="tooltip" title="Discord" tabindex="-1">
   <img style="height: 1.14em;padding-bottom:8px;" alt="Discord" src="https://imgur.com/download/3DZsE9X">
 </a>


<a href="https://www.youtube.com/channel/UCebC2xkVmJZCnN-sjmhbuow" data-toggle="tooltip" title="Youtube" tabindex="-1">
<i class="fa fa-youtube-square" aria-hidden="true"></i>
</a>

<a href="https://www.facebook.com/Openstudyroom/" data-toggle="tooltip" title="Facebook" tabindex="-1">
<i class="fab fa-facebook-square" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/OpenStudyRoom" data-toggle="tooltip" title="Twitter" tabindex="-1">
<i class="fa fa-twitter-square"></i>
</a>

<a href="https://www.reddit.com/user/OpenStudyRoom" data-toggle="tooltip"  title="Reddit" tabindex="-1">
<i class="fa fa-reddit-square" aria-hidden="true"></i></a>
<a href="https://www.patreon.com/OpenStudyRoom" data-toggle="tooltip"  title="Patreon" tabindex="-1">
   <img style="height: 1.14em;padding-bottom:8px; margin-left: 3px;" alt="Patreon" src="https://imgur.com/download/VDrjWss">
 </a>
</div>
