<a href="https://discord.gg/b7meDjX" data-toggle="tooltip" alt="Discord link" title="Discord" style="text-decoration: none;">
   <img style="height: 1em;padding-bottom:5px;" src="https://openstudyroom.org/media/images/Discord3.original.png">
 </a>
<a href="https://www.youtube.com/channel/UCebC2xkVmJZCnN-sjmhbuow" data-toggle="tooltip" alt="Youtube link" title="Youtube" style="text-decoration: none;">
<i class="fa fa-youtube-square" aria-hidden="true"></i>
</a>
<a href="https://www.facebook.com/Openstudyroom/" data-toggle="tooltip" alt="Facebook link" title="Facebook" style="text-decoration: none;">
<i class="fa fa-facebook-official" aria-hidden="true"></i>
</a>
<a href="https://www.reddit.com/user/OpenStudyRoom" data-toggle="tooltip" alt="Reddit link" title="Reddit">
<i class="fa fa-reddit-square" aria-hidden="true"></i></a>
<a href="https://www.patreon.com/OpenStudyRoom" data-toggle="tooltip" alt="Patreon link" title="Patreon">
   <img style="height: 1em;padding-bottom:5px; margin-left: 3px;" src="https://openstudyroom.org/media/images/patreon.original.png">
 </a>
